{% load i18n %}

<h2 class="heading-medium">{% blocktrans %}What happens next:{% endblocktrans %}</h2>
<div class="panel-indent">
    <ul>
        {% if plea_type != "guilty" %}
        <li>{% blocktrans %}the court will tell you if a company representative needs to attend a trial, and what evidence might be needed by the court{% endblocktrans %}</li>
        {% endif %}

        <li>{% blocktrans count charges=case.number_of_charges %}we’ll send you a letter with the court’s decision <strong>within 3  working days after your hearing date</strong>{% plural %}we’ll send you a letter with the court’s decisions <strong>within 3 working days after your hearing date</strong>{% endblocktrans %}</li>

        {% if plea_type != "not_guilty" %}
        <li>{% blocktrans %}the DVLA will contact you if they need you to send in your driving licence{% endblocktrans %}</li>
        {% endif %}
    </ul>
</div>

<h2 class="heading-medium">{% blocktrans %}Do not:{% endblocktrans %}</h2>
<div class="panel-indent">
    <ul>
        <li>{% blocktrans %}come to court on the hearing date shown in the requisition pack{% endblocktrans %}</li>
        
        {% if plea_type != "not_guilty" %}
        <li>{% blocktrans %}send your driving licence to the court{% endblocktrans %}</li>
        {% endif %}
    </ul>
</div>

<h2 class="heading-medium">{% blocktrans %}What you need to do:{% endblocktrans %}</h2>
<div class="panel-indent">
    <ul>
        <li>{% blocktrans with urn=case.urn|upper email=court.court_email  %}quote your URN <strong>{{ urn }}</strong> if you <a href="mailto:{{ email }}">contact</a> the court about your case{% endblocktrans %}</li>
        <li>{% blocktrans %}<a href="javascript:window.print();">print a copy</a> of this plea confirmation for your records{% endblocktrans %}</li>
    </ul>
</div>