{% extends "base_email.html" %}

{% block content %}
    <h1>A rather long title for the email to check wrapping and line-height</h1>

    <p class="lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, dolore.</p>

    <h2>Lorem ipsum dolor</h2>

    <ul>
      <li>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit.</li>
      <li>Numquam eos, illum, consectetur distinctio velit nam sunt.</li>
    </ul>

    <h2><a href="#">Lorem ipsum</a></h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ratione ab beatae voluptas sapiente temporibus rerum magni, reprehenderit aut molestiae repudiandae dolores facilis explicabo animi, libero laboriosam quis, omnis repellat.</p>

    <p><strong>lorem:</strong><br>Lorem ipsum dolor<br>sit amet<br>consectetur</p>

    <p><strong>lorem:</strong><br>Lorem ipsum dolor<br>sit amet<br>consectetur</p>

    <h3>Lorem ipsum dolor</h3>

    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Autem, iusto.</p>
{% endblock content %}
