from base import *

ALLOWED_HOSTS = ["localhost", ]
DEBUG = True

ADMINS = (
    ('A Developer', 'dev@example.org'),
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'manchester_traffic_offences',
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': '',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',                      # Set to empty string for default.
    }
}

#EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
#EMAIL_FILE_PATH = '/Users/ian/Mail'

SECRET_KEY = "THIS NEEDS TO CHANGE"

PLEA_EMAIL_FROM = "dev@example.org"
PLEA_EMAIL_TO = ["dev@example.org", ]
PLEA_EMAIL_BODY = ""

PLP_EMAIL_TO = ["dev@example.org", ]

PLEA_CONFIRMATION_EMAIL_FROM = "dev@example.org"

EMxAIL_REQUIRED = False
