{% extends "base.html" %}

{% block page_title %}Cymorth i bledio ar-lein - {{ block.super }}{% endblock %}

{% block page_content %}

<header class="content-header">
    <h1>Cymorth i bledio ar-lein</h1>

    <p>Bydd y staff yn y ganolfan alwadau yn rhoi cyfarwyddiadau i chi ar sut i ddefnyddio'r gwasanaeth ar-lein eich hunan.</p>
</header>

<article class="headings-collapse">

    <p>Nid oes ganddynt fynediad at fanylion eich achos a ni fyddant yn gallu ateb unrhyw gwestiynau yn ei gylch. Os oes gennych unrhyw gwestiynau mewn perthynas â'ch achos, bydd arnoch angen cysylltu â'ch llys drwy ddefnyddio ein <a href="{% url "court_finder" %}">gwasanaeth dod o hyd i lys</a>.</p>

    <h2 class="heading-medium">Cyn i chi ffonio, bydd arnoch angen:</h2>

    <div class="panel-indent">
        <ul>
            <li>pecyn gwysio drwy’r post</li>
            <li>bod â chysylltiad i www.makeaplea.service.gov.uk ar ddyfais sydd â chyswllt i’r rhyngrwyd, er enghraifft, gliniadur, tabled neu ffôn clyfar</li>
        </ul>
    </div>

    <p>Os nad oes gennych fynediad i’r rhyngrwyd, gallwch ddefnyddio dyfais aelod o’r teulu neu ffrid, neu ewch ar-lein yn eich llyfrgell leol.</p>
    <p>Mae’r gwasanaeth hwn i bobl sydd ddim yn gallu defnyddio’r gwasanaeth ar-lein heb gymorth.</p>

    <p class="font-large">Ffoniwch 01286 669 729<br>
        (dydd Llun i ddydd Gwener 9am - 5pm)</p>

    <p><a href="/">Yn ôl</a></p>
</article>

{% endblock page_content %}
