{% extends "base.html" %}

{% block page_title %}Telerau ac amodau a pholisi preifatrwydd - {{ block.super }}{% endblock %}

{% block page_content %}

<header class="content-header">
    <h1>Telerau ac amodau a pholisi preifatrwydd</h1>
    <p>Wrth ddefnyddio’r gwasanaeth Cofnodi Ple, rydych yn cytuno i’n polisi preifatrwydd ac i’r telerau ac amodau hyn. Darllenwch y rhain yn ofalus.</p>
</header>

<article>
    <section id="terms-and-conditions">
        <p>Mae’r polisi preifatrwydd hwn yn egluro pam ein bod yn casglu eich data personol a beth rydym yn ei wneud gyda’r data. Mae hefyd yn esbonio eich hawliau a sut i ymarfer yr hawliau hynny.</p>
        <p>Os nad ydych yn cytuno’r i’r telerau ac amodau hyn a’r polisi preifatrwydd, peidiwch â defnyddio’r gwasanaeth hwn. Yn hytrach, llenwch y ffurflenni a anfonwyd atoch trwy’r post a’u dychwelyd i’r llys.</p>

        <h3>Defnyddio’r gwasanaeth hwn yn gyfrifol</h3>
        <p>Mae yna risgiau wrth ddefnyddio cyfrifiadur a rennir, megis mewn caffi gwe, i ddefnyddio’r gwasanaeth hwn. Eich cyfrifoldeb chi yw bod yn ymwybodol o’r risgiau hyn ac osgoi defnyddio unrhyw gyfrifiadur a all olygu fod gan eraill fynediad at eich gwybodaeth bersonol. Chi sy’n gyfrifol os byddwch yn dewis gadael cyfrifiadur yn agored a heb ei warchod yn ystod y broses o gofnodi ple ar-lein.</p>
        <p>Rydym yn ymdrechu i wirio a phrofi’r gwasanaeth hwn pan fyddwn yn ei ddiwygio neu ei ddiweddaru. Fodd bynnag, rhaid ichi gymryd camau eich hunain i sicrhau nad yw’r ffordd rydych yn cael mynediad at y gwasanaeth yn eich gwneud yn agored i risgiau fel firysau, cod cyfrifiadurol maleisus neu fathau eraill o ymyrraeth a all niweidio eich system gyfrifiadurol.</p>
        <p>Ni ddylech gamddefnyddio ein gwasanaeth trwy gyflwyno’n fwriadol firysau, cnafon (trojans), mwydod, bomiau rhesymeg, neu unrhyw ddeunydd arall maleisus sy’n niweidiol i dechnoleg. Ni ddylech geisio gael mynediad heb awdurdod at ein gwasanaeth, y system lle mae’r gwasanaeth yn cael ei storio neu unrhyw weinydd, cyfrifiadur neu gronfa ddata sy’n gysylltiedig â’n gwasanaeth. Ni ddylech ymosod ar ein gwefan gydag ymosodiad atal gwasanaeth neu ymosodiad atal gwasanaeth gwasgaredig.</p>


        <h3>Pwy sy’n rheoli’r gwasanaeth hwn?</h3>

        <p>Rheolir y gwasanaeth hwn gan Wasanaeth Llysoedd a Thribiwnlysoedd Ei Mawrhydi (GLlTEM), sy’n un o asiantaethau gweithredol y Weinyddiaeth Cyfiawnder (MoJ).</p>
        <p>MoJ yw’r rheolydd data at ddibenion diogelu data. Mae <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">siartr gwybodaeth bersonol MoJ<a/> yn esbonio sut mae MoJ yn prosesu data personol.</p>
        <p>Fel rhan o MoJ, GLlTEM sy’n gyfrifol am benderfynu sut mae eich data personol yn cael ei ddefnyddio a diogelu’r data personol a roddir gennych.</p>
        <p>Ceir rhagor o wybodaeth am ddefnyddio’r gwasanaeth hwn yn y <a href="https://hmcts-access.service.gov.uk/terms-and-conditions">telerau ac amodau</a>.</p>

        <h3>Pam ein bod yn casglu eich data personol</h3>
        <p>Rydym yn casglu eich data personol i:</p>
        <ul>
            <li>alluogi i’ch ple gael ei brosesu</li>
            <li>pennu amser priodol i dalu os bydd dirwy yn cael ei gorfodi</li>
            <li>gweinyddu cyfiawnder</li>
            <li>bodloni gofynion cyfreithiol</li>
            <li>gwella’r gwasanaeth hwn</li>
        </ul>

        <p>Mae ein staff yn defnyddio eich data personol i fodloni gofynion cyfreithiol ac i weinyddu cyfiawnder. Maent yn gweithio yn y DU ac mae eich data yn cael ei storio yn y DU.</p>

        <h3>Mathau o ddata personol rydym yn ei gasglu</h3>
        <p>Mae’r data personol rydym yn ei gasglu yn cynnwys:</p>
        <ul>
            <li>eich enw, eich cyfeiriad a’ch manylion cyswllt</li>
            <li>eich cyfeiriad e-bost</li>
            <li>gwybodaeth bersonol arall a roddir gennych wrth ichi gofnodi eich ple</li>
            <li>eich rhif yswiriant gwladol</li>
        </ul>

        <p>Rydym ond yn prosesu data sy’n berthnasol i fodloni ein rhwymedigaethau cyfreithiol a gweinyddu cyfiawnder. Mae’n rhaid i ni brosesu data at ddibenion gweinyddu cyfiawnder a chefnogi’r farnwriaeth annibynnol i gynnal rheolaeth y gyfraith a gweinyddu cyfiawnder yn ddiduedd, yn ddiymdroi ac yn effeithlon.</p>

        <h3>Defnyddio eich data</h3>
        <p>Fel rhan o’ch ple ar-lein, gofynnir ichi ddarparu eich cyfeiriad e-bost. Mae hyn er mwyn inni ddarparu hysbysiad ar gyfer pledion euog ar-lein.</p>
        <p>Efallai byddwn yn gofyn am eich caniatâd i ddefnyddio’ch cyfeiriad e-bost i anfon negeseuon e-bost atoch trwy GOV.UK Notify. Mae’r system hon yn prosesu negeseuon e-bost o fewn yr Ardal Economaidd Ewropeaidd hyd nes y mae’r negeseuon yn cael eu trosglwyddo i’r darparwr e-bost rydych yn ei ddefnyddio.</p>
        <p>Rydym yn defnyddio cwcis i gasglu data sy’n dweud wrthym sut rydych yn defnyddio’r gwasanaeth hwn, gan gynnwys:</p>
        <ul>
            <li>pryd fyddwch yn agor neges e-bost gennym ni neu’n clicio ar ddolen mewn neges e-bost</li>
            <li>cyfeiriad IP eich cyfrifiadur, eich ffôn, neu’ch llechen</li>
            <li>yr ardal neu’r dref lle rydych yn defnyddio’ch cyfrifiadur, ffôn neu lechen</li>
            <li>y porwr gwe rydych yn ei ddefnyddio</li>
        </ul>

        <h3>Storio eich data</h3>
        <p>Pan fyddwch yn cofnodi ple ar-lein rydym yn storio’r data a ddarperir gennych. Mae’r cyfnod o amser y bydd eich data yn cael ei gadw yn dibynnu ar y gwasanaeth rydych yn ei ddefnyddio.</p>

        <h3>Rhannu eich data</h3>
        <p>Os bydd adran arall o’r llywodraeth yn chwarae rhan yn prosesu eich data, byddwn yn rhannu eich data gyda hwy.</p>
        <p>Os byddwch yn cysylltu â ni ac yn gofyn am gymorth gyda’r gwasanaeth rydych yn ei ddefnyddio, efallai bydd eich data yn cael ei rannu gyda’r Good Things Foundation. Dyma gwmni sy’n gweithio mewn partneriaeth â ni i ddarparu cefnogaeth wyneb yn wyneb.</p>
        <p>Mewn rhai amgylchiadau, lle mae’r gyfraith yn caniatáu, efallai byddwn yn rhannu eich gwybodaeth bersonol gyda sefydliadau cyfiawnder eraill at ddibenion atal neu ganfod trosedd; neu er mwyn cynhyrchu ystadegau dienw. Lle bo hyn yn angenrheidiol, byddwn yn cydymffurfio â’r holl ddeddfau diogelu data perthnasol.</p>
        <p>Rydym yn defnyddio Google Analytics i gasglu ystadegau am ein gwefan. Mae’r data dienw am ddefnydd y wefan yn cael ei rannu gyda Google.</p>

        <h3>Eich hawliau</h3>
        <p>Gallwch ofyn:</p>
        <ul>
            <li>i weld y data personol amdanoch chi a gedwir gennym</li>
            <li>i’r data personol gael ei gywiro</li>
            <li>i’r data personol gael ei ddileu (bydd hyn yn dibynnu ar yr amgylchiadau, er enghraifft, os ydych yn penderfynu peidio â pharhau gyda’ch hawliad neu’ch cais)</li>
            <li>i gyfyngu ar fynediad at y data personol (er enghraifft, gallwch ofyn i’ch data gael ei storio am gyfnod hirach neu ofyn iddo beidio cael ei ddileu’n awtomatig)</li>
        </ul>

        <p><a href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">Os ydych eisiau gweld y data personol amdanoch a gedwir gennym, gallwch wneud cais gwrthrych am wybodaeth.</a>. Mae’r cais hwn yn cael ei gyfeirio at MoJ, sef y rheolydd data.</p>
        <p>NEU</p>
        <ul>
            <li>ysgrifennwch atom:</li>
            <li>Tîm Datgelu</li>
            <li>Pwynt Post 10.24</li>
            <li>102 Petty France</li>
            <li>Llundain</li>
            <li>London</li>
            <li>SW1H 9AJ</li>
            <li>E-bost: <a href="mailto:data.access@Justice.gov.uk">data.access@Justice.gov.uk</a></li>
        </ul>

        <p>Gallwch ofyn am ragor o wybodaeth am:</p>
        <ul>
            <li>y cytundebau sydd gennym o ran rhannu gwybodaeth gyda sefydliadau eraill</li>
            <li>pryd caniateir inni drosglwyddo gwybodaeth bersonol amdanoch heb roi gwybod ichi</li>
            <li>ein cyfarwyddiadau i staff ynghylch sut mae casglu, defnyddio neu ddileu eich gwybodaeth bersonol</li>
            <li>sut rydym yn sicrhau bod yr wybodaeth sydd gennym yn gywir ac yn gyfredol</li>
        </ul>
        <p>Gallwch gysylltu â swyddog diogelu data MoJ yn:</p>
        <ul>
            <li>Swyddog Diogelu Data</li>
            <li>Y Weinyddiaeth Gyfiawnder</li>
            <li>3ydd Llawr, Pwynt Post 3.20 </li>
            <li>10 South Colonnades</li>
            <li>Canary Wharf </li>
            <li>Llundain </li>
            <li>E14 4PU</li>
            <li>Email: <a href="mailto:DPO@justice.gov.uk">DPO@justice.gov.uk</a></li>
        </ul>

        <h3>Sut i wneud cwyn</h3>
        <p>Gweler ein <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">trefn gwyno</a> os ydych eisiau cwyno am sut rydym wedi trin eich data personol.</p>
        <p>Gallwch hefyd gyflwyno cwyn i <a href="https://ico.org.uk/global/contact-us">Swyddfa'r Comisiynydd Gwybodaeth</a> os ydych yn anfodlon â’n hymateb neu'n credu nad ydym yn prosesu eich data personol yn gyfreithlon.</p>

        <h2>Defnyddio’r gwasanaeth cofnodi ple</h2>
        <h3>Y data personol mae arnom ei angen</h3>
        <p>Os ydych yn defnyddio’r gwasanaeth cofnodi ple byddwn yn gofyn ichi am:</p>
        <ul>
            <li>eich enw</li>
            <li>eich busnes neu’ch sefydliad os ydych yn gweithredu ar eu rhan</li>
            <li>eich dyddiad geni</li>
            <li>eich cyfeiriad e-bost neu rif ffôn symudol</li>
            <li>eich cyfeiriad</li>
            <li>eich rhif Yswiriant Gwladol</li>
            <li>eich Rhif Gyrrwr</li>
            <li>gwybodaeth ariannol mewn perthynas â’ch modd ariannol</li>
        </ul>

        <h3>Storio eich data</h3>
        <p>Mae’r wybodaeth a roddir gennych wrth gofnodi ple yn cael ei storio am 20 wythnos yn y porth Cofnodi Ple cyn iddi gael ei dileu.</p>

        <h3>Rhannu eich data</h3>
        <p>Bydd yr wybodaeth a roddir gennych yn cael ei rhannu gyda’r heddlu, y llys perthnasol, y gwasanaeth gorfodi, a’r DVLA.</p>
        <p>Mewn rhai amgylchiadau a lle mae’r gyfraith yn caniatáu, efallai byddwn yn rhannu eich gwybodaeth bersonol gyda sefydliadau cyfiawnder eraill at ddibenion atal neu ganfod trosedd; neu er mwyn cynhyrchu ystadegau dienw.  Byddwn yn cydymffurfio â chyfreithiau diogelu data lle bo angen gwneud hyn.</p>
        <p>Fel gyda phob achos troseddol, bydd peth gwybodaeth ar gael i'r cyfryngau a’r cyhoedd ar gais, oni bai bod cyfyngiad adrodd neu bod y llys yn penderfynu fel arall. Os ydych eisiau gwybod sut y defnyddir y data rydych wedi’i ddarparu, ewch i: <a href="http://www.justice.gov.uk/courts/procedure-rules/criminal/forms">www.justice.gov.uk/courts/procedure-rules/criminal/forms</a></p>

        <h3>Gwybodaeth bellach</h3>
        <p>Gweler Polisi Preifatrwydd GOV.UK <a href="https://www.gov.uk/help/privacy-notice">yma</a></p>
    </section>
</article>

{% endblock %}
