*.log

*.py[codt]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt
nom-debug*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*
venv

# intellij
*.ipr
*.iml
*.iws
.idea/

make_a_plea/settings/local.py
api/settings/local.py

# collect static output directory
#make_a_plea/assets/
make_a_plea/static/

.DS_Store

# node
node_modules/

# bower packages
make_a_plea/assets-src/vendor/
.sass-cache/

# vim swp files
*.sw[a-p]
.*.sw[a-p]

# vagrant
.vagrant

/reports
coverage.xml
/htmlcov

*.doc

# gpg directories
/user_data
/test_user_data
/test_gpg_home
make_a_plea/test_gpg_home
make_a_plea/test_user_data

# local version of moj_template
moj_template/

/docker/local-env

# Ignore screenshots
/screenshot_*

*translation_files.zip

cucumber/features/bdd_generated_fixtures.yaml


