{% extends "base.html" %}

{% block page_title %}Telerau ac amodau a pholisi preifatrwydd - {{ block.super }}{% endblock %}

{% block page_content %}

<header class="content-header">
    <h1>Telerau ac amodau a pholisi preifatrwydd</h1>

    <p>Drwy ddefnyddio’r gwasanaeth Cofnodi Ple ar-lein, rydych yn cytuno i’n polisi preifatrwydd ac i’r telerau ac amodau hyn.  Darllenwch nhw’n ofalus, os gwelwch yn dda.</p>
</header>

<article>
    <section id="terms-and-conditions">
        <h2>Telerau ac Amodau</h2>

        <h3>Cyffredinol</h3>

        <p>Mae’r telerau ac amodau hyn yn effeithio ar eich hawliau a’ch rhwymedigaethau dan y gyfraith. Maent yn rheoli’r defnydd a wnewch o’r gwasanaeth Cofnodi Ple ar-lein a’ch perthynas â’r gwasanaeth hwnnw. Nid ydynt yn berthnasol i wasanaethau eraill a ddarperir gan y Weinyddiaeth Cyfiawnder, nac i unrhyw adran neu wasanaeth arall sy’n gysylltiedig â’r gwasanaeth hwn.</p>
        <p>Os nad ydych yn cytuno â’r telerau ac amodau hyn a’r polisi preifatrwydd, peidiwch â defnyddio’r gwasanaeth hwn.  Yn hytrach, llennwch y ffurflenni a anfonwyd atoch drwy’r post (y Pecyn Gwysio drwy’r Post) a’u dychwelyd i’r llys cyn dyddiad y gwrandawiad. </p>

        <h3>Y Gyfraith sy’n Berthnasol</h3>

        <p>Bydd y defnydd a wnewch o’r gwasanaeth hwn ac unrhyw anghydfod sy’n codi o’i ddefnyddio yn cael eu rheoli a’u dehongli yn unol â chyfreithiau Cymru a Lloegr, yn cynnwys ond ddim yn gyfyngedig i:</p>
        <ul>
            <li>Y Rheolau Trefniadaeth Droseddol</li>
            <li>Deddf Cofnodion Cyhoeddus 1958</li>
            <li>Deddf Trafnidiaeth 1968</li>
            <li>Deddf Cerbydau Teithwyr Cyhoeddus 1981</li>
            <li>Deddf Trafnidiaeth 1982</li>
            <li>Deddf Rheoleiddio Traffig Ffyrdd 1984</li>
            <li>Deddf Trafnidiaeth 1985</li>
            <li>Deddf Traffig Ffyrdd 1988</li>
            <li>Deddf Tramgwyddwyr Traffig Ffyrdd 1988</li>
            <li>Deddf Traffig Ffyrdd (Trwyddedu Gyrwyr a Systemau Gwybodaeth) 1989</li>
            <li>Deddf Camddefnyddio Cyfrifiaduron 1990</li>
            <li>Deddf Traffig Ffyrdd (Gyrwyr Newydd) 1995</li>
            <li>A 18 Deddf Gweithdrefn ac Ymchwiliadau Troseddol 1996</li>
            <li>Deddf Diogelu Data 1998 </li>
            <li>Deddf Hawliau Dynol 1998</li>
            <li>A115 Deddf Trosedd ac Anhrefn 1998</li>
            <li>Deddf Rhyddid Gwybodaeth 2000</li>
            <li>Deddf Rheoli Traffig 2004</li>
            <li>Deddf Diogelwch Ffyrdd 2006</li>
            <li>Deddf Trosedd a’r Llysoedd 2013</li>
            <li>Deddf Cyfiawnder Troseddol a’r Llysoedd 2015</li>
        </ul>

        <h3>Defnyddio’r gwasanaeth hwn yn gyfrifol</h3>

        <p>Mae peryglon wrth ddefnyddio cyfrifiadur sy'n cael ei rannu, megis mewn caffi rhyngrwyd, i ddefnyddio'r gwasanaeth hwn. Eich cyfrifoldeb chi yw bod yn ymwybodol o’r peryglon hyn ac osgoi defnyddio unrhyw gyfrifiadur lle mae posibilrwydd y gall eraill weld eich gwybodaeth bersonol. Chi sy’n gyfrifol os ydych yn dewis gadael cyfrifiadur heb ei ddiogelu tra’r ydych yn y broses o gofnodi ple ar-lein.</p>
        <p>Byddwn yn gwneud pob ymdrech i wirio a phrofi’r gwasanaeth hwn pryd bynnag y byddwn yn ei ddiwygio neu ei ddiweddaru.  Fodd bynnag, mae’n rhaid i chi gymryd gofal eich hunan i sicrhau nad yw’r ffordd yr ydych yn cael mynediad at y gwasanaeth hwn yn eich gadael yn agored i’r perygl o feirysau, cod cyfrifiadur maleisus neu ymyrraeth o fath arall a allai achosi difrod i’ch system gyfrifiadurol eich hunan.</p>
        <p>Ni ddylech gamddefnyddio ein gwasanaeth drwy gyflwyno’n fwriadol feirysau, ymwelwyr diwahoddiad (trojans), mwydod (worms), bomiau rhesymeg (logic bombs) neu unrhyw ddeunydd arall maleisus neu niweidiol i dechnoleg. Ni ddylech geisio cael mynediad heb awdurdod at ein gwasanaeth, y system lle caiff ein gwasanaeth ei storio nac unrhyw weinydd, cyfrifiadur neu gronfa ddata sy’n gysylltiedig â’n gwasanaeth. Ni ddylech ymosod ar ein gwefan drwy ymosodiad gwrthod gwasanaeth neu ymosodiad gwrthod gwasanaeth a ddosbarthwyd.</p>
    </section>

    <section id="privacy-policy">
        <h2>Polisi Preifatrwydd</h2>

        <h3>Gwybodaeth a ddarperir gan y gwasanaeth hwn</h3>

        <p>Rydym yn gweithio’n galed i sicrhau bod gwybodaeth o fewn y gwasanaeth Cofnodi Ple ar-lein hwn yn gywir. Fodd bynnag, ni allwn warantu bod unrhyw wybodaeth yn gywir ac yn gyflawn bob amser.</p>
        <p>Er y gwnawn bob ymdrech i sicrhau mynediad at y gwasanaeth hwn bob amser, nid ydym yn atebol os nad yw ar gael am unrhyw gyfnod.</p>

        <h3>Sut rydym yn defnyddio eich gwybodaeth</h3>

        <p>Mae’r llysoedd ynadon yn defnyddio ac yn cadw data personol a gofnodir yn y gwasanaeth Cofnodi Ple ar-lein fel y gall ynadon ystyried achosion a gwneud penderfyniadau.</p>
        <p>Caiff eich gwybodaeth ei storio’n ddiogel yng nghronfa ddata Libra Gwasanaeth Llysoedd a Thribiwnlysoedd EM (GLlTEM). Caiff ei ddileu a’i ddinistrio’n ddiogel pan fydd eich achos wedi’i gwblhau ac nid oes rheswm i'w gadw mwyach, er enghraifft ar gyfer apêl neu i orfodi cosbau eraill.</p>
        <p>Os ydych eisiau hawl i weld unrhyw ddata personol, dilynwch drefn Cais Gwrthrych am Wybodaeth (SAR) y Weinyddiaeth Cyfiawnder. Dan Ddeddf Diogelu Data 1998, gellir codi ffi o hyd at £10 am brosesu SAR. Polisi GLlTEM yw codi’r ffi lawn o £10.</p>
        <p>Os nad ydych yn talu unrhyw ddirwyon, gan gynnwys costau neu ordal dioddefwr a osodir gan y llys, o fewn y terfyn amser a gytunwyd, efallai y byddwn yn rhannu eich gwybodaeth gyda’r heddlu, swyddogion gorfodi sifil neu asiantaethau gorfodi dyledion.</p>
        <p>Ni fyddwn yn rhannu eich gwybodaeth gydag unrhyw asiantaeth arall oni bai fod hynny’n ofynnol at y dibenion canlynol:</p>
        <ul>
            <li>atal</li>
            <li>darganfod trosedd</li>
            <li>dal troseddwyr</li>
            <li>erlyn</li>
            <li>rheoli troseddwyr</li>
            <li>atal terfysgaeth</li>
            <li>diogelwch gwladol</li>
            <li>oherwydd ei fod yn ofynnol dan y gyfraith</li>
        </ul>
        <p>Ar wahân i’r wybodaeth bersonol y mae’r rhai sy’n defnyddio’r gwasanaeth yn ei chofnodi, rydym hefyd yn casglu gwybodaeth am ddefnydd o’r wefan sy’n ein galluogi i weld sut mae’r gwasanaeth yn cael ei ddefnyddio fel y gallwn ei wella. Nid yw’r wybodaeth hon yn cynnwys unrhyw ddata personol.</p>
        <p>Mae’n cynnwys:</p>
        <ul>
            <li>cwestiynau, ymholiadau neu adborth rydych yn eu cyflwyno, gan gynnwys eich cyfeiriad e-bost os ydych yn anfon neges i roi adborth</li>
            <li>eich cyfeiriad IP, a manylion ynghylch pa fersiwn o borwr gwe y gwnaethoch ei ddefnyddio</li>
            <li>gwybodaeth ynghylch sut rydych yn defnyddio’r wefan, gan ddefnyddio cwcis a thechnegau tagio tudalen</li>
        </ul>

        <p>Mae hyn yn ein helpu i:</p>
        <ul>
            <li>wella’r wefan drwy fonitro sut rydych yn ei defnyddio</li>
            <li>ymateb i unrhyw adborth rydych wedi’i anfon atom, os ydych wedi gofyn inni wneud hynny</li>
            <li>rhoi gwybodaeth ichi am wasanaethau lleol os ydych eisiau hynny</li>
        </ul>
        <p>Ni allwn ganfod pwy ydych chi drwy ddefnyddio eich data.</p>

        <h3>Newid eich manylion</h3>

        <p>Os ydych eisiau gwneud newidiadau i’ch ple, neu unrhyw fanylion eraill, ar ôl cofnodi eich ple ar-lein, cysylltwch â'ch llys drwy e-bost neu drwy'r post cyn dyddiad y gwrandawiad gan ddyfynnu eich cyfeirnod unigryw.</p>

        <h3>Ble mae eich data’n cael ei storio</h3>

        <p>Rydym yn storio eich data ar ein gweinyddion diogel yn y DU ac Iwerddon. Drwy gyflwyno eich data personol, rydych yn cytuno i hyn.</p>

        <h3>Cadw eich data’n ddiogel</h3>

        <p>Yn gyffredinol, nid yw trosglwyddo gwybodaeth dros y rhyngrwyd yn hollol ddiogel, ac ni allwn warantu y bydd eich data’n ddiogel. Fodd bynnag, rydym yn defnyddio SSL (haen socedi diogel) i amgryptio'r holl ddata sy'n cael ei drosglwyddo i'n gweinydd ac allan ohono. Rydym yn cymryd diogelu data o ddifrif ac yn cymryd pob cam posib i sicrhau bod eich data yn aros yn breifat a diogel.</p>

        <h3>Trosglwyddo data - ar eich risg chi</h3>

        <p>Mae gennym weithdrefnau a nodweddion diogelwch mewn lle i geisio cadw’ch data’n ddiogel wedi iddo’n cyrraedd.</p>
        <p>Ni fyddwn yn rhannu eich gwybodaeth ag unrhyw sefydliad arall at ddibenion marchnata, ymchwil i’r farchnad na masnachol, ac nid ydym yn anfon eich manylion ymlaen i wefannau eraill.</p>

        <h3>Datgelu eich gwybodaeth</h3>

        <p>Efallai y byddwn yn anfon eich gwybodaeth bersonol ymlaen os yw’n ddyletswydd gyfreithiol arnom i wneud hynny.</p>

        <h3>Sut rydym yn rheoli sesiynau</h3>

        <p>Mae’r gwasanaeth hwn ar gyfer cofnodi eich ple ar gyfer mân-droseddau moduro. Pan fyddwch yn gwneud hyn, efallai y bydd yn bosib i unrhyw un sydd â mynediad at y cyfrifiadur (neu ddyfais arall) rydych yn ei ddefnyddio weld gwybodaeth bersonol amdanoch chi.</p>
        <p>Bydd eich data’n cael ei gadw yn y cof drwy gydol y sesiwn; mae’n cael ei glirio ar ôl 20 munud o anactifedd.</p>

        <h3>Deddf Diogelu Data 1998</h3>

        <p>Mae’r gwasanaeth hwn yn cydymffurfio â holl egwyddorion Deddf Diogelu Data 1998. Y Weinyddiaeth Cyfiawnder yw’r ‘rheolwr data’ at ddibenion y Ddeddf. Fodd bynnag, nid yw’r wybodaeth rydych yn ei chofnodi yn y gwasanaeth hwn yn cael ei throsglwyddo'n awtomatig i’r Weinyddiaeth Cyfiawnder, ond mae’n cael ei storio mewn cronfa ddata ddiogel at ddibenion archwilio nes bydd gwrandawiad i’ch ple a’r ynadon yn cytuno ar y canlyniad. Ni fydd unrhyw ddata personol yn cael ei ddefnyddio wrth brofi’r gwasanaeth hwn.</p>
        <p>Bydd gan ein gwesteiwr, a staff y Weinyddiaeth Cyfiawnder sy’n gyfrifol am gefnogi’r gwasanaeth hwn, fynediad at y gweinydd lle mae’r holl wybodaeth bersonol a gofnodir yn y gwasanaeth hwn yn cael ei storio. Mae gan bob aelod staff sydd â mynediad at y data diogel ganiatâd gan y Weinyddiaeth Cyfiawnder i fynediad.</p>
        <p>Mae gan unrhyw un sy’n credu bod ei ddata personol yn cael ei gadw o fewn y gwasanaeth hwn yr hawl i gyflwyno SAR i’r Weinyddiaeth Cyfiawnder, a fydd yn rhoi manylion ynghylch  yr wybodaeth sydd wedi’i storio ar y gweinydd.</p>

        <h3>Ymwrthodiad</h3>

        <p>Nid ydym yn derbyn atebolrwydd am golled neu ddifrod sy’n dod i ran defnyddwyr y gwasanaeth hwn, naill ai’n uniongyrchol, yn anuniongyrchol neu’n ganlyniadol, pa un ai a yw’n cael ei achosi drwy gamwedd, tor-cytundeb neu fel arall.</p>
        <p>Mae hyn yn cynnwys colli incwm neu refeniw, busnes, elw neu gytundebau, arbedion a ragwelwyd, data, ewyllys da, eiddo diriaethol neu wastraff amser sy’n gysylltiedig â’r gwasanaeth hwn neu unrhyw wefannau sy’n gysylltiedig ag ef ac unrhyw ddeunydd sy’n cael ei bostio arno. Ni fydd yr amod hwn yn atal hawliadau am golled neu ddifrod i’ch eiddo diriaethol nac unrhyw hawliadau eraill am golled ariannol uniongyrchol nad ydynt wedi’i heithrio gan unrhyw rai o’r categorïau uchod.</p>
        <p>Nid yw hyn yn effeithio ar ein hatebolrwydd am farwolaeth neu anaf personol sy’n codi o’n hesgeuluster, nac ar ein hatebolrwydd am gamliwio twyllodrus neu gamliwio mewn perthynas â mater sylfaenol, nac unrhyw atebolrwydd arall na ellir ei eithrio neu ei gyfyngu dan y gyfraith berthnasol.</p>
    </section>

    <section id="cookies">
        <h2>Cwcis</h2>

        <p>Mae’r gwasanaeth cofnodi ple ar-lein yn rhoi ffeiliau bach (a elwir yn 'cwcis') ar eich cyfrifiadur i gasglu gwybodaeth am y ffordd yr ydych chi’n pori drwy’r wefan.</p>
        <p>Mae cwcis yn cael eu defnyddio i:</p>
        <ul>
            <li>asesu sut rydych yn defnyddio’r gwasanaeth er mwyn gallu ei ddiweddaru a’i wella ar sail eich anghenion</li>
            <li>cofio eich bod wedi ymweld â’r wefan a pha mor bell aethoch chi wrth ddefnyddio’r gwasanaeth</li>
        </ul>

        <p>Nid yw’r cwcis hyn yn cael eu defnyddio i’ch adnabod yn bersonol.</p>
        <p>Mae rhagor o wybodaeth yma am <a rel="external" target="_blank" href="http://www.aboutcookies.org/">ffyrdd o reoli cwcis</a>.</p>


        <h3>Sut mae cwcis yn cael eu defnyddio</h3>

        <h4>Mesur defnydd o’r wefan (Google Analytics)</h4>

        <p>Rydym yn defnyddio meddalwedd Google Analytics i gasglu gwybodaeth am y ffordd rydych yn defnyddio’r gwasanaeth.  Rydym yn gwneud hyn i helpu sicrhau bod y wefan yn cwrdd ag anghenion ei defnyddwyr ac i’n help ni i wneud gwelliannau.</p>
        <p>Mae Google Analystics yn storio gwybodaeth am y tudalennau rydych yn ymweld â nhw, faint o amser rydych yn ei dreulio ar bob tudalen a beth rydych yn clicio arno pan rydych yn ymweld â'r wefan.</p>
        <p>Nid ydym yn casglu nac yn storio’ch gwybodaeth bersonol (er enghraifft, eich enw neu gyfeiriad) felly ni ellir defnyddio’r wybodaeth hon i’ch adnabod.</p>
        <p>Nid ydym yn caniatáu i Google ddefnyddio na rhannu ein data dadansoddi.</p>
        <p>Mae Google Analytics yn gosod y cwcis canlynol:</p>

        <table class="cookies-table">
            <tr>
                <th class="name">Enw</th>
                <th class="purpose">Pwrpas</th>
                <th>Daw i ben</th>
            </tr>
            <tr>
                <td>_ga</td>
                <td>Pennu nifer yr ymwelwyr unigryw â’r wefan</td>
                <td>2 flynedd</td>
            </tr>
        </table>

        <p>Gallwch chi <a rel="external" target="_blank" href="https://tools.google.com/dlpage/gaoptout">ddewis peidio derbyn cwcis Google Analytics</a>.</p>

        <p>Mae’r gwasanaeth yn storio eich data nes bod eich gwrandawiad drosodd, rhag ofn bod unrhyw broblemau gyda’ch ple. Mae’r manylion rydych yn eu cofnodi’n cael eu hamgryptio a’u storio dros dro ar eich cyfrifiadur nes bod eich ple wedi’i anfon.</p>

        <table class="cookies-table">
            <tr>
                <th class="name">Enw</th>
                <th class="purpose">Diben</th>
                <th>Daw i ben</th>
            </tr>
            <tr>
                <td>sessionid</td>
                <td>Cadw gwybodaeth rydych wedi’i chofnodi yn ystod eich sesiwn.</td>
                <td>1 awr neu ar ôl cau eich porwr</td>
            </tr>
        </table>
    </section>

</article>

{% endblock %}
