/*
====================================================
GOV.UK Toolkit/Template overrides
====================================================
*/

html {
	background-color: white;
}

#global-cookie-message {
	> div {
		@extend %site-width-container;
	}
}

#global-header .header-proposition a#proposition-name:hover {
	text-decoration: none;
}

.phase-banner {
	@extend %site-width-container;
	padding-bottom: 0;

	p {
		display: inline-block;
		width: auto;
		margin-bottom: 8px;
		vertical-align: top;
	}
}

#content {
	outline: none;
	padding-top: 1px;

	@include ie-lte(8) {
		width: 960px;
	}
}

.footer-wrapper p.footer-top {
	@extend %site-width-container;
	@include core-16;
	margin-bottom: 1em;

	@include media(tablet) {
		margin-bottom: 0;
	}

	@include ie-lte(7) {
		width: 960px;
		margin-left: 30px;
	}
}

#footer .footer-meta .footer-meta-inner ul {
	margin: 0;

	li {
		float: left;
		margin: 0 15px 1em 0;

		&.clear {
			clear: left;
		}
	}
}
