/*
====================================================
Elements
====================================================
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $grey-2;
    margin: 1em 0 2em;
    padding: 0;
}

.language-switcher {
	float: right;
	margin: 0 0 0 1em;
	padding: 2px 0 8px;
	@include core-16;

	ul {
		padding: 0;
		margin: 0;
	}
	li {
		margin: 0;
		list-style-type: none;
	}
}

.content-header {
	margin: 0 0 1.675em;

	h1 {
		margin-bottom: .25em;
	}

	> p:first-of-type {
		@extend .lede;
	}
}

.related {
	margin-top: .75em;
	padding-top: 5px;
	border-top: 10px solid $govuk-blue;

	h2,
	h3 {
		margin-top: .5em;
		margin-bottom: .5em;
	}

	nav {
		ul {
			padding: 0;
		}

		li {
			list-style-type: none;
			margin: .25em 0 1em;
		}
	}
}

.panel-indent {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;

	@include media(tablet) {
		padding-left: 15px;
	}
}

.panel-grey {
	background: $grey-3;
	padding: 10px;
	margin: 30px 0 45px;

	@include media(tablet) {
		padding: 15px;
	}
}

.panel-grey > :first-child {
	margin-top: 0;
}
.panel-grey > :last-child {
	margin-bottom: 0;
}

.move-up {
	margin-top: -1em;
}

#content {
	// Responsive images
	img {
		max-width: 100%;
		height: auto;

		@include ie-lte(8) {
			width: inherit;
		}
	}
}

p.important {
	padding: 7px 0 0 40px;
	min-height: 27px;
	background: url(../images/icons/icon-important.png) no-repeat top left;
}

.back-button {
	margin-top: 2em;

	.form-submit & {
		margin-top: 1em;
	}
}

.header-line {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		border-bottom: 2px solid $grey-2;
		bottom: .5em;
	}

	> span {
		position: relative;
		padding-right: 10px;
		background: #fff;
	}
}

/*== Details pseudo-element ===============================*/
.js-Details {
	.details-trigger {
		display: none;
	}
}

.js-enabled .js-Details {

	.details-trigger {
		display: inline-block;
		margin-bottom: 0.263158em;
		text-decoration: none;

		.arrow {
			font-style: normal;
			margin-right: .35em;
		}
		.summary {
			text-decoration: underline;
		}
	}

	.details-content {
		display: none;
	}
}

/*== JS classes ======================================*/
// It turns out that IE6 can handle dat javascriptz
// So we can override the default from MoJ Template
@include ie(6) {
	.js-hidden {
		display: none;
	}
	.nojs-hidden {
		display: block;
	}
}

.nojs-hidden {
	display: none;
}

.js-enabled .nojs-hidden {
	display: block;
}
