/*  
====================================================
Elements
====================================================
*/



.related {
	padding-top: 5px;
	border-top: 10px solid $govuk-blue;

	h3:first-child {
		margin-top: 10px;
	}
}