/*  
====================================================
Forms
====================================================
*/

/*== Buttons ========================================*/

.button-large {
	@extend .button;
	@include bold-24();
}



/*== Main form styles ===============================*/
.form-group {
	width: auto;
	float: none;
	clear: left;
	margin: 0 0 2em;

	@include media(tablet) {
		max-width: 60%;
	}

	.form-group {
		max-width: 100%;
	}

	label {
		@include bold-24();
		display: block;
		margin-bottom: .25em;
	}

	.block-label {
		@include core-24;
		margin-right: 0;

		@include media(tablet) {			
			input {
				top: 22px;
			}
		}

		@include ie(6) {
			display: inline-block;
			margin-right: 10px;
			float: left;
			clear: left;
		}
	}

	@include media(tablet) {
		.inline .block-label {
			margin-right: 15px;
		}
	}

	@include ie(6) {
		.inline .block-label {
			clear: none;
		}
	}

	.form-hint {
		display: block;
		@include core-16;
	}

	.form-hint-inline {
		@extend .form-hint;
		display: inline;
		vertical-align: baseline;
	}
}

.form-control {
	width: 100%;
	max-width: 20em;
}

@include ie-lte(7) {
	.form-control {
		width: 90%;
	}

	.form-group .button {
		margin-bottom: 0;
	}
}

.form-group-wide,
.column-half .form-group {
	@extend .form-group;
	max-width: 100%;
}

.form-control-inline {
	@extend .form-control;
	width: auto;
	margin: 0 3px;

	@include media(tablet) {
		margin: 0 5px;
	}

	&:first-child {
		margin-left: 0;
	}
}

.form-control-wide {
	@extend .form-control;
	
	@include media(tablet) {
		width: 75%;
	}

	@include ie(6) {
		width: 75%;
	}
}

.form-control-day,
.form-control-month,
.form-control-year {
	@extend .form-control-inline;
}

.form-control-day,
.form-control-month {
	width: 2em;
}
.form-control-year {
	width: 3em;
}

.form-group-extra {
	.form-group {
		margin-top: 0;
	}
}

fieldset {
	margin: 0;

	-webkit-margin-top-collapse: separate;
}

legend {
	@include core-24;
	padding: 0;
	margin: 0;

	&.form-label {
		@include core-24;
	}

	@include ie-lte(8) {
		color: #000;
		margin-left: -7px;

		@include ie(8) {
			margin-left: -2px;
		}
	}
}

legend + * {
  -webkit-margin-top-collapse: separate;
}

.form-submit {
	@extend .form-group;
	clear: left;
	margin-top: 3em;
}


/*== Error styles ==================================*/
.error-summary {
	margin: 1.625em 0;
	padding: 15px;
	background: $error-background;
	border: 4px solid $error-colour;

	h2 {
		@extend .heading-medium;
		margin-top: 0;
	}
	
	ul {
		padding: 0;
		list-style: none;

		a {
			color: #000;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
	ul.list-bullet {
		@extend .list-bullet;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.with-error {
	padding-left: 10px;
	border-left: 4px solid $error-colour;

	@include media(tablet) {
		padding-left: 15px;
	}
}

.errorlist {
	@include core-19;
	margin: .25em 0;
	padding: 0;
	color: $error-colour;

	li {
		list-style: none;
	}
}


/*== Modifiers ========================================*/
.money-field {
	input {
		width: 7em;
	}
}
.form-field-prefix {
	float: left;
	padding: 5px .75em 4px;
	background: $grey-3;
	border: 1px solid $grey-2;

	& + input {
		border-left: none;
		margin-left: 0;
	}
}

.form-field-inline {
	display: inline-block;
	margin: 0 3px;
	vertical-align: baseline;

	@include media(tablet) {
		margin: 0 5px;
	}

	&:first-child {
		margin-left: 0;
	}

	label {
		@include core-16;
		margin-right: -20px;
	}

	input {
		margin: 0;
	}
}
