/*  
====================================================
Forms
====================================================
*/

/*== Buttons ========================================*/
.button-large {
	@extend .button;
	@include bold-24();
}

/*== Main form styles ===============================*/
.form-group {
	@include core-19;

	width: auto;
	max-width: 60%;
	float: none;
	clear: left;
	margin-top: 1em;

	.form-group {
		max-width: 100%;
	}

	&.panel-indent {
		padding-top: 0;
		padding-bottom: 0;
	}

	label {
		@include bold-24();
		display: block;
		margin-bottom: .25em;

		.errorlist {
			margin: .25em 0;
			color: $error-colour;
		}
	}

	.block-label {
		@include core-24;

		input {
			top: 22px;
		}
	}

	.form-hint {
		display: block;
		@include core-16;
	}

	.form-hint-inline {
		@extend .form-hint;
		display: inline;
		vertical-align: baseline;
	}
}

.form-group-wide,
.column-half .form-group {
	@extend .form-group;
	max-width: 100%;
}

.move-up {
	margin-top: -.75em;
}

.form-control-inline {
	@extend .form-control;
	width: auto;
	margin: 0 5px;

	&:first-child {
		margin-left: 0;
	}
}
.form-control-wide {
	@extend .form-control;
	width: 75%;
}

fieldset {
	margin: 0 0 2em;
}

legend.form-label {
	@include core-24;

	margin-bottom: -.5em;
}

legend.form-label-bold {
	@extend .form-label;
	@include bold-24();
}


/*== Error styles ==================================*/

.error-summary {
	margin: 2em 0;
	padding: 15px 15px 0;
	background: $error-background;
	border: 4px solid $error-colour;

	h2 {
		margin-top: 0;
	}

	.errors-list {
		a {
			color: #000;
		}
	}

	details {
		margin-bottom: 1.05263em;
	}
}

.with-error {
	padding-left: 15px;
	// margin-left: -19px;
	border-left: 4px solid $error-colour;
}


/*== Modifiers ========================================*/
.form-field-prefix {
	float: left;
	padding: 5px .75em 4px;
	background: $grey-3;
	border: 1px solid $grey-2;
}
.form-field-prefixed input {
	border-left: none;
	margin-left: 0;
}