// Overrides to allow header to be full width
#global-header {
  &.with-proposition {
    .header-wrapper {
      .header-global {
        float: left;
        
        @include media(desktop) {
          width: 18.75%;
          margin-right: 1.5625%;
        }
      }

      .header-proposition {
        width: auto;
        float: left;

        .content {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  .header-wrapper {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;

    @include media(tablet) {
      // padding-left: 20px;
      // padding-right: 20px;
    }

    .header-global .header-logo {
      width: auto;
      .content {
        margin: 0;
      }
      #logo img {
        padding-right: 0;
      }
    }
  }
}