/*  
====================================================
Main styles
====================================================
*/


.intro {
	h3:first-child {
		margin-top: 0;
	}

	.get-started {
		padding-top: 2em;
	}
}

.before-start {
	.panel-indent {
		padding-top: 0;
		padding-bottom: 0;

		.list-bullet {
			margin-top: 0;
			margin-bottom: 0;
		}
	}	
}
