/*  
====================================================
Main styles
====================================================
*/



/*== Start screen ==================================================*/
.intro {
	h2:first-child {
		margin-top: 0;
	}

	.get-started {
		padding-top: 2em;
	}
}

.before-start {
	.panel-indent {
		padding-top: 0;
		padding-bottom: 0;

		.list-bullet {
			margin-top: 0;
			margin-bottom: 0;
		}
	}	
}

/*== Case form ======================================================*/
#section_urn,
#section_date_of_hearing {
	.form-control {
		width: auto;
		margin: 0 5px;
	}

	#id_urn_0,
	#id_date_of_hearing_0 {
		margin-left: 0;
	}
}

