/*  
====================================================
Shame
====================================================
*/





// $errorcolour: #e12d2d;
// $errorbgcolour: #faebec;




// .article-container.group h2, #complete h2, .full-width h2 {font-size: 2em; font-weight: bold; }
// #complete h3.heading-medium.divide {border-top: 1px solid #c2c2c2; padding-top:20px;}
// #complete h2.ticked {
//   display: inline-block;
//   padding: 40px 40px 40px 80px;
//   background: #009999 url(../images/icons/tick.png) no-repeat 35px 50px;
//   color: white;
//   margin-top: 40px;
// }
// label { font-family: "nta", Arial, sans-serif; font-size: 19px; line-height: 1.31579; font-weight: 400; text-transform: none; display: block;}
// .inline .block-label {font-weight:normal; margin-top: 0.0em;}
// .block-label input { position: static; margin-right: .5em }
// .block-label { padding-left: 1em }
// .inline .radio-label { float: left; font-weight: normal; margin: 0 1em 1em 0; }

// .group label {font-weight:bold; font-size: 1.3em; margin: 1em 0 0.3em 0;}
// .with-help-image {width:70%; float: left;}
// .help-image {width:30%; float: right; margin-top: 1.5em;}
// .panel-indent { padding-top:0; padding-bottom:0; }

// #id_urn_0 {width:25px; margin: 0 5px 0 0}
// #id_urn_1 {width:25px; margin: 0 5px 0 5px}
// #id_urn_2 {width:85px; margin: 0 5px 0 5px}
// #id_urn_3 {width:25px; margin: 0 5px 0 5px}

// #id_number_of_charges {width:50px;}

// #id_date_of_hearing_1  { width:50px; margin: 0 5px; }
// #id_date_of_hearing_2 { width: 50px;  margin: 0 5px; }
// #id_date_of_hearing_0 { width: 25px; margin: 0 5px 0 0; }
// .group label.datetime {font-size: 1em; margin-top: 0.5em}

// label.datetime {font-weight:normal; display:inline-block;}
// label.datetime-day {width:2.5em;}
// label.datetime-month {width:3.9em;}
// label.datetime-year {width:3.75em;}
// label.datetime-time {display:block; margin:0;}

// section#group-urn #id_understand_checkbox {font-weight:normal; margin-right: 0px; font-size: 1em;}
// section#group-urn #id_understand_checkbox span {font-weight:bold;}

// details {margin: 1em 0;}
// button.large, .button.large {font-size: 24px;}

// .list-bullet li {
//   margin-left: 1em;
// }

// ul.with-bullets{
//   margin-bottom: 20px !important;
//   li{
//     list-style-type: circle !important;
//     margin-left: 2em;
//   }
// }

// input[type=text], input[type="number"], input[type=email], input[type=tel], input[type=date], select[type=text], select[type=email], select[type=tel], select[type=date] {width: 100%; padding: 5px 4px 2px; color: #0b0c0c; border: 1px solid #bfc1c3; margin: 0 0 10px 0;}

// input, select {font-family: "nta", Arial, sans-serif;font-size: 19px; line-height: 1.31579; font-weight: 400;text-transform:none; margin: 0;}
// #id_name, #id_contact_number, #id_email, #id_national_insurance_number, #id_driving_licence_number, #id_registration_number,
// #id_employed_your_job, #id_employer_phone, #id_take_home_pay_0, #id_benefits_0, #id_your_job, #id_other_details {width: 32%;}
// select {border-color: #bfc1c3;}

// .section {margin-bottom: 2em;}
// .actions {clear: both; margin-top: 20px;}

// section#charges {clear: both; width: 75%;}
// section#charges #enter-charges {float:left; width:70%;}
// section#charges #charge-loc {float: right; width:30%; margin: 1em 0;}
// .charge-radios {margin-bottom: 1em;}

// section .info-notice {background: none; border-left: 10px #dee0e2 solid; margin-bottom: 1em;margin-top: 2em;}
// section .info-notice p{line-height: 1.31579;}
// section .application-notice {padding: 0.1em 0 0.1em 1em;}

// section.flash {

//   body.urn_invalid & {
//     margin-top: 30px;
//   }

//   /* styling for the 'urn already used' validation message */
//   li#case_contact_link{
//     a {
//       color: #005EA5 !important;
//       font-size: 20px;
//       font-weight: bold;
//       padding-left: 20px;
//       background: url(/static/images/icons/arrow-default.png) no-repeat left center;
//     }
//   }

//   li#case_contact_link{
//     a.toggled{
//       background: url(/static/images/icons/arrow-down.png) no-repeat left center;
//     }
//   }

//   li#case_contact_details{
//     margin-top: 20px;
//   }

//   border: 3px solid $grey-1;
//   background-color: $grey-4;
//   padding: 20px;
//   margin: 40px 0;
//   max-width: 798px;

//   h2 {
//     margin: 0;
//     font-weight: bold;
//     font-size: 1.3em;
//   }
//   h3 {
//     margin: 0 0 10px;
//   }
//   ul {
//     list-style-type: none; padding:0; margin:0;
//   }
//   li {
//     list-style-type: none;
//   }

//   &.error-summary {
//     border-color: $errorcolour;
//     background-color: $errorbgcolour;
//     h2 {
//       margin: 0 0 10px;
//     }
//     li {
//       color: black;
//       a {
//         color: black;
//         & :hover {
//           text-decoration: none;
//         }
//       }
//     }
//   }

//   &.success {
//     border-color: $grass-green;
//     background-color: $grass-green-25;
//   }
// }

// div.field-indent {
//   clear: both;
//   border-left: 4px solid #bfc1c3;
//   padding: 0px 0px 15px 20px;
//   margin: 0px 15px 0px 0;

//   label {margin-top:10px;}
// }

// div.error, section.error {
//   border-left: 4px solid $errorcolour;
//   margin: 10px -33px 10px -30px;
//   padding: 0 0 10px 30px;
//   overflow: auto;
// }

// div.indent-error {
//   border-left: 4px solid $errorcolour;
//   margin: 10px -33px 10px 0px;
//   padding: 0 0 0px 20px;
//   overflow: auto;
// }

// div.form-panel {
//   margin-bottom: 1em;
// }

// #complete {
//   ol {
//     padding: 0;
//     counter-reset: item;
//     font-style: normal;
//     border-left: solid 7px $grey-2;
//     margin: 0.5em 0;
//     padding: 0.5em 1em 0 1em;

//     p {margin:0.5em 0;}
//   }

//   ol > li {
//     padding-bottom: 1em;
//     list-style-type: none;
//     counter-increment: item;
//   }

//   ol > li:before {
//     font-weight: bold;
//     padding-right: 0.5em;
//     display:inline-block;
//     width: 0.7em;
//     content: counter(item) ".";
//   }

//   address {
//     margin-left: 1em;
//     font-style:normal;
//   }
// }

// #review {
//   .important {
//     background:url(../images/icons/icon-important.png) no-repeat top left;
//     padding-top: 0.3em;
//     padding-left: 40px;
//     min-height:34px;
//     margin: 1em 0;
//   }
// }

// #your-money {
//   #employed, #benefits {
//     border-top: solid 1px #c2c2c2;
//     padding-top: 1em;
//   }

//   .full {
//     overflow: auto;
//     padding-left:3px;
//   }

//   .block {
//     overflow:auto;
//   }

//   .amount {border-left:none; width:29%}
//   .input-type-hint {
//     display: inline-block;
//     padding: 6px 10px 3px 10px;
//     line-height: 24px;
//     background-color: $grey-2;
//     border: solid 1px $grey-1;
//   }

//   .money {
//     ul { overflow: auto; }
//     li { float:left; margin-left: 1em; }
//     li:first-child {margin-left:3px;}
//     ul li label { font-weight:normal; margin: 0;}
//   }

//   h4{
//     font-size: 1.1em;
//     font-weight: bold;
//   }
// }

// #your-expenses{
//   margin-top: 40px;

//   #id_other_bill_payers_False{
//     clear: both;
//   }

//   hr{
//     margin: 20px 0;
//     clear: both;
//     border: none;
//     border-top: 1px solid #a9a9a9;
//   }

//   #id_consideration{
//     width: 500px;
//     height: 100px;
//   }


//   fieldset.inline{
//     overflow: auto;
//     margin-bottom: 20px;
//   }

//   div.section.block{
//     margin-bottom: 0;
//   }

//   section.error, div.error {
//     border: none;
//   }

//   .expense-container {
//     width: 840px;
//     margin-bottom: 0px;

//     & > section {
//       ul.errorlist li {
//         width: 380px;
//       }

//       display: inline-block;
//       width: 416px;

//       p.form-hint {
//         overflow: auto;
//       }

//       input {
//         width: 150px;
//       }
//     }
//   }

//   .amount {border-left:none; width:29%}
//   .input-type-hint {
//     display: inline-block;
//     padding: 6px 10px 3px 10px;
//     line-height: 24px;
//     background-color: $grey-2;
//     border: solid 1px $grey-1;
//   }

//   .money {
//     ul { overflow: auto; }
//     li { float:left; margin-left: 1em; }
//     li:first-child {margin-left:3px;}
//     ul li label { font-weight:normal; margin: 0;}
//   }

//   #expense-summary{
//     margin-top: 20px;
//     width: 600px;

//     td{
//       border: none;
//     }

//     td.heading{
//       display: inline-block;
//       width: 394px;
//     }
// }

//   .expense-container{
//     margin-bottom: 0;
//   }
// }

// #terms {
//   h2 { font-size: 32px; font-weight:bold; }
//   h3 { font-weight: bold; margin-top: 1em; }
//   ul { list-style-type: circle; padding-left:2em; }
//   table td.name { width: 70px; }
// }

// table {clear:both;margin: 2em 0;}
// table tr, table td, table th {padding:8px; font-size:1em;width:45%;}
// table th a.review {font-weight:normal; float: right;}
// table th.header, h2.header {font-size: 1.2em;}
// h2.header { font-weight: bold; margin-bottom: 0.6em; }

// #get_started {
//   a.button.button-get-started {
//     font-size: 135%;
//     font-weight: normal;
//   }
//   .panel-space {
//     margin-top: 50px;
//   }
//   h3 {font-size:1.4em; font-weight:bold; margin-top:2em;}
// }

// body.urn_invalid {
//   .button-get-started {
//     margin-bottom: 30px;
//   }
// }

// @media (max-width: 500px ) {
//   #id_name, #id_contact_number, #id_email, #id_national_insurance_number, #id_driving_licence_number, #id_registration_number,
//   #id_employer_name, #id_employer_phone, #id_take_home_pay_0, #id_benefits_0 { width: 97% }
//   textarea { width: 98% }
// }


// // .related-positioning { height: 0; left: 0; position: absolute; top: 9.5em; width: 100%; z-index: 0;}
// // .related-positioning .related-container { position: relative; height: 0; margin: 0 auto; max-width: 1020px; z-index: 50;}
// // .related {position: absolute; right: 1.75em; margin: 3em 0 0 0; width: 15.75em; /*border-top: 10px solid #d53880;*/}
// // .related #stat {font-size:5em; font-weight:bold; color:#000; line-height:0.75em;}
// // .js-enabled .related-positioning {top: 8em;}

// .charges .form-hint {display:inline; font-weight: normal;}
// p.form-hint {width:50%; font-size:0.8em; margin-top:0; margin-bottom: 0.5em;}
// h2 span.form-hint, label span.form-hint {display: inline; font-weight: normal; font-size: 0.7em;}
// label span.form-hint {color: black;}
// label.nobold {font-weight: normal;}
// #understand, #receive_email {font-weight: normal; font-size: 1em; width: 874px;}

// #understand{
//   margin-top: 0px;

//   p.important{
//     margin-top: 0;
//   }
// }

// #receive_email {
//   padding: 18px 18px 15px 20px;
//   margin: 20px 0;
//   background-color: #dee0e2;
//   width: 886px;

//   ul{
//     li {
//       label{
//         font-weight: normal !important;
//       }
//       float: left;
//       margin-right: 20px;
//     }
//   }
// }

// table#your-details, table#your-plea, table#case-details, table#your-money {
//   tr, th, td {width: inherit;}
//   td {border: none; padding: 10px 8px;}
//   th {border: none; padding-bottom: 10px;}
//   tbody{border-top: solid 1px #c2c2c2; border-bottom: solid 1px #c2c2c2;}
//   th.label {color: #6F777B; vertical-align: top; font-weight: normal;}
//   th.header {width: 35%;}
//   h3 {font-weight: bold;}
// }
// div.indent {margin-left:20px;}
// div.statement-understand {padding: 2em 0;}

// p.lead {
//   font-size: 24px;
//   padding-right: 100px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 2em;
// }

// #id_feedback_email {width: 32%;}

// .legal-help {
//   border-top: solid 10px #005ea5;
//   padding-top:10px;
//   margin-right:20px;
//   margin-top:25px;
//   h3 {font-size: 1.6em; line-height:1.2em; font-weight:bold; margin-bottom:0.5em;}
// }
