/*  
====================================================
GOV.UK Toolkit/Template overrides
====================================================
*/

#global-cookie-message {
	> div {
		@extend %site-width-container;
	}
}

#global-header .header-proposition a#proposition-name:hover {
	text-decoration: none;
}

.phase-banner {
	@extend %site-width-container;
	padding-bottom: 0;

	.phase-tag {
		@include phase-tag(beta);
		margin-bottom: 8px;
		vertical-align: baseline;
	}

	span {
		width: auto;
		margin-bottom: 8px;
		vertical-align: baseline;
	}
}

#content {
	padding-top: 1px;

	@include ie-lte(8) {
		width: 960px;
	}
}

.footer-wrapper p.footer-top {
	@extend %site-width-container;
	@include core-16;
	margin-bottom: 1em;

	@include media(tablet) {
		margin-bottom: 0;
	}

	@include ie-lte(7) {
		width: 960px;
		margin-left: 30px;
	}
}

#footer .footer-meta .footer-meta-inner ul li.li-block {
	display: block;
	margin: 0 0 1em;
}