/*  
====================================================
Typography
====================================================
*/

#content {
  @include core-19;
}

h1 {
  @extend .heading-xlarge;
}

h2 {
  @extend .heading-large;
}

h3 {
  @extend .heading-medium;
}

h4 {
  @extend .heading-small;
}
h5 {
  @extend .heading-small;
}

.heading-collapse {
  margin-bottom: 0 !important;
}
.headings-collapse {
  h1, h2, h3, h4, h5 {
    @extend .heading-collapse;
  }
}


ul {
  @extend .list-bullet;
}
ol {
  @extend .list-number;
}

@include ie-lte(7) {
  ul, ol {
    margin-left: 0;
  }
}

address {
  @extend p;
  font-style: normal;
}

summary {
	@include ie-lte(7) {
		margin-left: 0;
	}
}