
// GOV.UK Toolkit imports
@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/css3";
@import "govuk_frontend_toolkit/stylesheets/device-pixels";
@import "govuk_frontend_toolkit/stylesheets/font_stack";
@import "govuk_frontend_toolkit/stylesheets/measurements";
@import "govuk_frontend_toolkit/stylesheets/shims";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

// Extras
@import "mixins";
@import "header";
@import "footer";
@import "content";
@import "typography";
@import "icons";
@import "utilities";
@import "icons";
@import "govuk-sass/measurements";
@import "govuk-sass/grid_layout";
@import "govuk-sass/colours";
@import "govuk-sass/conditionals";
@import "govuk-sass/shims";
@import "govuk-sass/typography";
@import "govuk-sass/font_stack";
@import "govuk-sass/url-helpers";
@import "elements/shame";
// Helpers
@import "elements/helpers";
// Reset
@import "elements/reset";
// Typography
@import "elements/typography";
// Layout
@import "elements/layout";

// Modules
// ==========================================================================
// Forms
@import "elements/forms";
// Tables
@import "elements/tables";
// Buttons
@import "elements/buttons";
// Lists
@import "elements/lists";
// Panels
@import "elements/panels";
// Colours
@import "elements/colours";
// Icons
@import "elements/icons";


// MoJ Styles

b, strong {font-weight: 600;}
.clear {clear: both;}
$errorcolour: #e12d2d;
$errorbgcolour: #faebec;

#global-header .header-wrapper {max-width: 990px; margin: 0 auto; padding: 0.5em 15px;}
.article-container {background-color: #fff; margin-right: 22.25em; min-height: 25em; max-width: 38em;}
#wrapper {padding-bottom:0px!important; text-align:left; border-bottom: 10px solid #d53880;}
#wrapper.service header.page-header div h1 {padding: 48px 0 0 35px;}

.article-container.group h2, #complete h2, .full-width h2 {font-size: 2em; font-weight: bold; margin: 20px 0;}
#complete h3.heading-medium.divide {border-top: 1px solid #c2c2c2; padding-top:20px;}
#complete h2.ticked {
  display: inline-block;
  padding: 40px 40px 40px 80px;
  background: #28a197 url(../images/icons/tick.png) no-repeat 35px 50px;
  color: white;
}
label { font-family: "nta", Arial, sans-serif; font-size: 19px; line-height: 1.31579; font-weight: 400; text-transform: none; display: block;}
.inline .block-label {font-weight:normal; margin-top: 0.5em;}
.block-label input { position: static; margin-right: .5em }
.block-label { padding-left: 1em }

.group label {font-weight:bold; font-size: 1.3em; margin: 1em 0 0.5em;}
.with-help-image {width:70%; float: left;}
.help-image {width:30%; float: right; margin-top: 1.5em;}

#enter-urn #id_urn_0 {width:25px; margin: 0 5px 0 0}
#enter-urn #id_urn_1 {width:25px; margin: 0 5px 0 5px}
#enter-urn #id_urn_2 {width:85px; margin: 0 5px 0 5px}
#enter-urn #id_urn_3 {width:25px; margin: 0 5px 0 5px}

#id_number_of_charges {width:50px;}

#id_date_of_hearing_1  { width:50px; margin: 0 5px; }
#id_date_of_hearing_2 { width: 50px;  margin: 0 5px; }
#id_date_of_hearing_0 { width: 25px; margin: 0 5px 0 0; }
.group label.datetime {font-size: 1em; margin-top: 1em}

label.datetime {font-weight:normal; display:inline-block;}
label.datetime-day {width:2.5em;}
label.datetime-month {width:3.9em;}
label.datetime-year {width:3.75em;}
label.datetime-time {display:block; margin:0;}

section#group-urn #id_understand_checkbox {font-weight:normal; margin-right: 0px; font-size: 1em;}
section#group-urn #id_understand_checkbox span {font-weight:bold;}

details {margin: 1em 0;}
button.large, .button.large {font-size: 24px;}

.list-bullet li {
  margin-left: 1em;
}

input[type=text], input[type="number"], input[type=email], input[type=tel], input[type=date], select[type=text], select[type=email], select[type=tel], select[type=date] {width: 100%; padding: 5px 4px 2px; color: #0b0c0c; border: 1px solid #bfc1c3; margin: 0 0 10px 0;}

input, select {font-family: "nta", Arial, sans-serif;font-size: 19px; line-height: 1.31579; font-weight: 400;text-transform:none; margin: 0;}
#id_name, #id_contact_number, #id_email, #id_national_insurance_number, #id_driving_licence_number, #id_registration_number,
#id_employer_name, #id_employer_phone, #id_take_home_pay_0, #id_benefits_0 {width: 32%;}
select {border-color: #bfc1c3;}

.section {margin-bottom: 2em;}
.actions {clear: both;}

section#charges {clear: both; width: 75%;}
section#charges #enter-charges {float:left; width:70%;}
section#charges #charge-loc {float: right; width:30%; margin: 1em 0;}
.charge-radios {overflow: auto; margin-bottom:1em;}

section .info-notice {background: none; border-left: 10px #dee0e2 solid; margin-bottom: 1em;margin-top: 2em;}
section .info-notice p{line-height: 1.31579;}
section .application-notice {padding: 0.1em 0 0.1em 1em;}

section.flash {
  border: 3px solid $grey-1;
  background-color: $grey-4;
  padding: 20px;
  margin: 40px 0;
  max-width: 798px;

  h2 {
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
  }
  h3 {
    margin: 0 0 10px;
  }
  ul {
    list-style-type: none; padding:0; margin:0;
  }
  li {
    list-style-type: none;
  }

  &.error-summary {
    border-color: $errorcolour;
    background-color: $errorbgcolour;
    h2 {
      margin: 0 0 10px;
    }
    li {
      color: $errorcolour;
      a {
        color: $errorcolour;
        & :hover {
          text-decoration: none;
        }
      }
    }
  }

  &.success {
    border-color: $grass-green;
    background-color: $grass-green-25;
  }
}

div.error, section.error {
  border-left: 3px solid $errorcolour;
  margin: 10px -33px 10px -30px;
  padding: 0 0 10px 30px;
  overflow: auto;
}

#complete {
  ol {
    padding: 0;
    counter-reset: item;
  }

  ol > li {
    padding-bottom: 1em;
    list-style-type: none;
    counter-increment: item;
  }

  ol > li:before {
    font-weight: bold;
    padding-right: 0.5em;
    display:inline-block;
    width: 0.7em;
    content: counter(item) ".";
  }

  address {
    font-style: normal;
    border-left: solid 10px $grey-2;
    margin: 0.5em 0;
    padding: 1em;

    p {margin:0.5em 0;}
  }
}

#review {
  .important {
    background:url(../images/icons/icon-important.png) no-repeat top left;
    padding-top: 0.3em;
    padding-left: 40px;
    min-height:34px;
    margin: 1em 0;
  }
}

#your-money {
  #employed, #benefits {
    border-top: solid 1px #c2c2c2;
    padding-top: 1em;
  }

  .full {
    overflow: auto;
  }

  .amount {float: left;}

  .money {
    ul { overflow: auto; }
    li { float:left; margin-left: 1em; }
    ul li label { font-weight:normal; margin: 0;}
  }

}

table {clear:both;margin: 2em 0;}
table tr, table td, table th {padding:8px; font-size:1em;width:45%;}
table th a.review {font-weight:normal; float: right;}
table th.header {font-size: 1.2em;}
.get-started-intro a.button.button-get-started {font-size: 135%; font-weight: normal;}
#before-you-start {margin-top:2em;}
#before-you-start h2 {font-size:1.2em; font-weight:bold;}

@media (max-width: 700px ) {
  .related-positioning, .help-image { display: none }
  .article-container { margin-right: auto }
}
@media (max-width: 500px ) {
  #id_name, #id_contact_number, #id_email, #id_national_insurance_number, #id_driving_licence_number, #id_registration_number,
  #id_employer_name, #id_employer_phone, #id_take_home_pay_0, #id_benefits_0 { width: 97% }
  textarea { width: 98% }
}


.related-positioning { height: 0; left: 0; position: absolute; top: 9.5em; width: 100%; z-index: 0;}
.related-positioning .related-container { position: relative; height: 0; margin: 0 auto; max-width: 1020px; z-index: 50;}
.related {position: absolute; right: 1.75em; margin: 3em 0 0 0; width: 15.75em; /*border-top: 10px solid #d53880;*/}
.related #stat {font-size:5em; font-weight:bold; color:#000; line-height:0.75em;}
.js-enabled .related-positioning {top: 8em;}

.charges .form-hint {display:inline; font-weight: normal;}
h2 span.form-hint {display: inline; font-weight: normal; font-size: 0.7em;}
#understand {font-weight: normal; font-size: 1em;}

table#your-details, table#your-plea, table#case-details, table#your-money {
  tr, th, td {width: inherit;}
  td {border: none; padding: 10px 8px;}
  th {border: none; padding-bottom: 10px;}
  tbody{border-top: solid 1px #c2c2c2; border-bottom: solid 1px #c2c2c2;}
  th.label {color: #6F777B; vertical-align: top; font-weight: normal;}
  th.header {width: 35%;}
  h3 {font-weight: bold;}
}
div.indent {margin-left:20px;}
div.statement-understand {padding: 2em 0;}

p.lead {
  font-size: 24px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

#id_feedback_email {width: 32%;}
