<div class="form-row{% if field.errors %} with-error{% endif %}" id="section_{{ field.name }}">
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if not field.field.required %} <span class="form-hint form-hint-inline">(optional)</span>{% endif %}
    	{% if field.help_text %}
    	<span class="form-hint">{{ field.help_text|safe }}</span>
    	{% endif %}
    	{% if field.errors %}
    	<span class="form-error">{{ field.errors }}</span>
    	{% endif %}
    </label>

	<div class="form-date">
		{{ field }}
	</div>
</div>