{% load i18n %}
{% load testing %}

<div class="form-group-wide{% if form.guilty.errors %} with-error{% endif %}" id="section_guilty_{{ forloop.counter }}">
    <fieldset>

        {% if form.case_data or form.guilty.errors or form_count > 1 %}
        <legend class="form-label-bold">
            {% if form.case_data or form_count > 1 %}
            <div class="label-line">
                <span class="label-text">
                {% if form.case_data %}
                    {{ form.case_data.offence_short_title }}
                {% else %}
                    {% if case.plea_made_by == "Defendant" %}
                        {% blocktrans with counter=forloop.counter %}Your plea for charge {{ counter }}{% endblocktrans %}
                    {% else %}
                        {% blocktrans with counter=forloop.counter %}Plea for charge {{ counter }}{% endblocktrans %}
                    {% endif %}
                {% endif %}
                </span>
            </div>
            {% endif %}

            {% if form.case_data %}
            <div class="charge-details js-Details{% if forloop.counter == 1 %} open{% endif %}" data-summary-open="{% trans "Hide charge information" %}">
                <a class="details-trigger" href="#charge-details-{{ forloop.counter }}"><span class="summary">{% trans "View charge information" %}</span></a>
                <div class="details-content" id="charge-details-{{ forloop.counter }}">
                    {{ form.case_data.offence_wording|linebreaks }}
                </div>
            </div>
                {% if plea.nojs != "nojs_last_step" %}
                <h4>Your plea for this charge</h4>
                {% endif %}
            {% endif %}

            {{ form.guilty.errors }}
        </legend>
        {% endif %}
        
        {% if plea.nojs == "nojs_last_step" %}
        {% add_test_tag "<<NOJSTRIGGERSUMMARY>>" %}
        <div class="form-header-pleas js-hidden">
            <p class="form-selected">{% trans "Your plea" %} - <strong>{% if plea_form.guilty.value == "guilty" %}{% trans "Guilty" %}{% else %}{% trans "Not guilty" %}{% endif %}</strong></p>
            <a href="{{ request.path }}?reset">{% trans "Change this plea" %}</a>
        </div>
        {% endif %}
        
        <div class="form-field{% if plea.nojs == "nojs_last_step" %} nojs-hidden{% endif %}">
            <div class="inline">

                {% for choice in form.guilty %}
                <label for="id_{{ choice.name }}_{{ choice.choice_value }}" class="block-label">
                    <input id="id_{{ choice.name }}_{{ choice.choice_value }}" type="radio" name="{{ choice.name }}" value="{{ choice.choice_value }}" {% if choice.is_checked %}checked="checked"{% endif %}>
                    {{ choice.choice_label }}
                </label>
                {% endfor %}
              
            </div>
        </div>

    </fieldset>
</div>