<div class="form-group-wide{% if field.errors %} with-error{% endif %}" id="section_{{ field.name }}">
    <fieldset>
        <legend class="form-label-bold">
            <span class="label-text">{{ field.label }}</span>

            {% if not field.field.required and not field.hide_optional %} <span class="form-hint-inline">(optional)</span>{% endif %}

            {% if field.help_text %}
            <span class="form-hint">{{ field.help_text|safe }}</span>
            {% endif %}

            {{ field.errors }}
        </legend>

        <div class="form-field">
            {{ field }}
        </div>
    </fieldset>
</div>