{% load i18n %}


<h2 style="font-size: 25px; margin-top: 50px;">{% blocktrans %}What happens next{% endblocktrans %}</h2>
<ol>
    <li style="margin-bottom: 20px; font-size: 18px;">{% blocktrans count charges=case.number_of_charges %}We’ll send you a letter with the court’s decision <strong>within 3  working days after your hearing date</strong>.{% plural %}We’ll send you a letter with the court’s decisions <strong>within 3 working days after your hearing date</strong>.{% endblocktrans %}</li>
    
    {% if plea_type != "guilty" %}
    <li style="margin-bottom: 20px; font-size: 18px;">{% blocktrans %}The court will tell you if you need to attend a trial, and what evidence you may need to send to the court in support of your case.{% endblocktrans %}</li>
    {% endif %}

    {% if plea_type != "not_guilty" %}
    <li style="margin-bottom: 20px; font-size: 18px;">{% blocktrans %}The DVLA will contact you if they need you to send in your driving licence.{% endblocktrans %}</li>
    {% endif %}
</ol>

<h2 style="font-size: 25px; margin-top: 50px;">{% blocktrans %}What you need to do{% endblocktrans %}</h2>
<ol>
    <li style="margin-bottom: 20px; font-size: 18px;">{% blocktrans with urn=case.urn|upper email=court.court_email  %}Quote your URN <strong>{{ urn }}</strong> if you <a href="mailto:{{ email }}">contact</a> the court about your case.{% endblocktrans %}</li>
    <li style="margin-bottom: 20px; font-size: 18px;">{% blocktrans %}<a href="javascript:window.print();">Print a copy</a> of this plea confirmation for your records.{% endblocktrans %}</li>
</ol>

<h2 style="font-size: 25px; margin-top: 50px;">{% blocktrans %}What you do not need to do{% endblocktrans %}</h2>
<ol>
    <li style="margin-bottom: 20px; font-size: 18px;">{% blocktrans %}There’s <strong>no need</strong> to come to court on the hearing date shown in the requisition pack.{% endblocktrans %}</li>
    
    {% if plea_type != "not_guilty" %}
    <li style="margin-bottom: 20px; font-size: 18px;">{% blocktrans %}<strong>Do not</strong> send your driving licence to the court.{% endblocktrans %}</li>
    {% endif %}
</ol>