{% load i18n %}
{% load date testing %}

<table class="review-table" id="case-details">
    <thead>
        <tr>
            <th colspan="2">
                <h2>{% trans "Case details" %}</h2>
                <a class="change-link" href="{% url "plea_form_step" "case" %}" class="review">{% trans "Change case details" %}</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="label">{% trans "Unique reference number" %}</th>
            <td>{{ case.urn }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Court hearing date" %}</th>
            <td>{{ case.date_of_hearing|parse_date|date:"d/m/Y" }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Number of charges against you" %}</th>
            <td>{{ case.number_of_charges }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Plea made by" %}</th>
            <td>{% if case.plea_made_by == "Defendant" %}{% trans "Defendant" %}{% else %}{% trans "Company representative" %}{% endif %}</td>
        </tr>
    </tbody>
</table>