{% load i18n %}
{% load date %}
{% load testing %}

<table class="review-table" id="your-details">
    <thead>
        <tr>
            <th colspan="2">
            {% if case.plea_made_by == "Defendant" %}
                <h2>{% trans "Your details" %}</h2>
                <a class="change-link" href="{% url "plea_form_step" "your_details" %}" class="review">{% trans "Change your details" %}</a>
            {% elif case.plea_made_by == "Company representative" %}
                <h2>{% trans "Company representative details" %}</h2>
                <a class="change-link" href="{% url "plea_form_step" "company_details" %}" class="review">{% trans "Change your details" %}</a>
            {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>

    {% if case.plea_made_by == "Defendant" %}
        {% add_test_tag "<<SHOWYOURDETAILS>>" %}
        <tr>
            <th class="label">{% trans "Full name" %}</th>
            <td>{{ your_details.name }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Address" %}</th>
            <td>{% if your_details.correct_address %}{% trans "As printed on Postal Requisition" %}{% else %}{{ your_details.updated_address|linebreaksbr }}{% endif %}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Contact number" %}</th>
            <td>{{ your_details.contact_number }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Email" %}</th>
            <td>{{ your_details.email }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Date of birth" %}</th>
            <td>{{ your_details.date_of_birth|parse_date|date:"d/m/Y" }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "National Insurance number" %}</th>
            <td>{{ your_details.ni_number|default:"-" }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "UK driving licence number" %}</th>
            <td>{{ your_details.driving_licence_number|default:"-" }}</td>
        </tr>
    {% elif case.plea_made_by == "Company representative" %}
        {% add_test_tag "<<SHOWCOMPANYDETAILS>>" %}
        <tr>
            <th class="label">{% trans "Company name" %}</th>
            <td>{{ company_details.company_name }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Company address" %}</th>
            <td>{{ company_details.company_address|linebreaksbr }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Full name" %}</th>
            <td>{{ company_details.name }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Position held" %}</th>
            <td>{% trans company_details.position_in_company %}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Contact number" %}</th>
            <td>{{ company_details.contact_number }}</td>
        </tr>
        <tr>
            <th class="label">{% trans "Email" %}</th>
            <td>{{ company_details.email }}</td>
        </tr>
    {% endif %}

    </tbody>
</table>