{% load i18n %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Online plea</title>
    <style>
        body, td {
            font-family: nta, Arial, sans-serif;
        }
        td {vertical-align: top;}
        th {
            width: 20%;
            text-align: left;
            font-weight:bold;
            padding-right:20px;
            vertical-align: top;
        }
        td.heading h2 {
            padding-top: 20px;
            border-bottom: solid 1px black;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<h1>Online plea{% if notice_type.sjp %} - SJP{% endif %}</h1>

    <table class="review-table" id="case-details">
    <thead>
        <tr>
            <th colspan="2">
                <h2>{% blocktrans %}Case details{% endblocktrans %}</h2>
            </th>
        </tr>
    </thead>
    {% include "partials/review_case.html" %}
    </table>

    <table class="review-table" id="your-details">
    <thead>
        <tr>
            <th colspan="2">
            {% if case.plea_made_by == "Defendant" %}
                <h2>{% blocktrans %}Your details{% endblocktrans %}</h2>
            {% elif case.plea_made_by == "Company representative" %}
                <h2>{% blocktrans %}Company representative details{% endblocktrans %}</h2>
            {% endif %}
            </th>
        </tr>
    </thead>
    {% include "partials/review_details.html" %}
    </table>

    <table class="review-table" id="your-plea">
    <thead>
        <tr>
            <th colspan="2">
                {% if case.plea_made_by == "Defendant" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Your plea{% plural %}Your pleas{% endblocktrans %}</h2>
                {% elif case.plea_made_by == "Company representative" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Company's plea{% plural %}Company's pleas{% endblocktrans %}</h2>
                {% endif %}
            </th>
        </tr>
    </thead>
    {% include "partials/review_plea.html" %}
    </table>

    {% if case.plea_made_by == "Defendant" %}
        {% if your_finances.skipped %}
        <table class="review-table" id="your-finances">
            <thead>
            <tr>
                <th colspan="2">
                    <h2>{% blocktrans %}Your finances{% endblocktrans %}</h2>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Status</th>
                <td><i>Not completed/provided Financial details must be collected at hearing</i></td>
            </tr>
            </tbody>
        </table>
        {% else %}

        <table class="review-table" id="your-finances">
            <thead>
            <tr>
                <th colspan="2">
                    <h2>{% blocktrans %}Your finances{% endblocktrans %}</h2>
                </th>
            </tr>
            </thead>
            {% include "partials/review_finances.html" %}
        </table>

            {% if your_finances.hardship %}
                <table class="review-table" id="your-expenses">
                    <thead>
                    <tr>
                        <th colspan="2">
                            <h2>{% blocktrans %}Your expenses{% endblocktrans %}</h2>
                        </th>
                    </tr>
                    </thead>
                    {% include "partials/review_expenses.html" %}
                    </table>
            {% endif %}

        {% endif %}
    {% elif case.plea_made_by == "Company representative" %}
        {% if not company_finances.skipped %}
            <table class="review-table" id="company-details">
                <thead>
                <tr>
                    <th colspan="2">
                        <h2>{% blocktrans %}Company financial details{% endblocktrans %}</h2>
                    </th>
                </tr>
                </thead>
                {% include "partials/review_company_finances.html" %}
                </table>
        {% endif %}
    {% endif %}

    <table class="review-table" id="confirmation">
        <thead>
        <tr>
            <th colspan="2">
                <h2>Confirmation</h2>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th>Email updates</th>
                <td>{{ review.receive_email_updates|yesno:"Yes,No" }}</td>
            </tr>
            <tr>
                <th>Email address</th>
                <td>{{ review.email|default:"-" }}</td>
            </tr>
        </tbody>
    </table>

    {% if welsh_language %}
    <table class="review-table" id="welsh_language">
    <thead>
        <tr>
            <th colspan="2">
                <h2>Plea language</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Welsh language</th>
            <td>Yes</td>
        </tr>
    </tbody>
    </table>
    {% endif %}
</body>
</html>
