{% extends "base_email_attachment.html" %}

{% load i18n %}

{% block email_title %}Online plea{% if notice_type.sjp %} - SJP{% endif %}{% endblock email_title %}

{% block email_content %}
    <h1>Online plea{% if notice_type.sjp %} - SJP{% endif %}</h1>

    <section id="case-details">
        <header>
            <h2>{% blocktrans %}Case details{% endblocktrans %}</h2>
        </header>

        {% include "partials/review_case.html" %}
    </section>

    <section id="your-details">
        <header>
            {% if case.plea_made_by == "Defendant" %}
            <h2>{% blocktrans %}Your details{% endblocktrans %}</h2>
            {% elif case.plea_made_by == "Company representative" %}
            <h2>{% blocktrans %}Company representative details{% endblocktrans %}</h2>
            {% endif %}
        </header>

        {% if your_details.18_or_under %}
          <div class="warning-banner">
            <strong>The defendant is 18 years old or under</strong><br>
            Please review this case and advise HMCTS as to whether you will be continuing with this prosecution
          </div>
        {% endif %}

        {% include "partials/review_details.html" %}
    </section>

    <section id="your-plea">
        <header>
            {% if case.plea_made_by == "Defendant" %}
            <h2>{% blocktrans count charges=case.number_of_charges %}Your plea{% plural %}Your pleas{% endblocktrans %}</h2>
            {% elif case.plea_made_by == "Company representative" %}
            <h2>{% blocktrans count charges=case.number_of_charges %}Company's plea{% plural %}Company's pleas{% endblocktrans %}</h2>
            {% endif %}
        </header>

        {% include "partials/review_plea.html" %}
    </section>

{% endblock email_content %}
