{% load i18n %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Online plea{% if notice_type.sjp %} - SJP{% endif %}</title>
    <style>
        body, td {
            font-family: nta, Arial, sans-serif;
        }
        td {vertical-align: top;}
        th {
            width: 20%;
            text-align: left;
            font-weight:bold;
            padding-right:20px;
            vertical-align: top;
        }
        td.heading h2 {
            padding-top: 20px;
            border-bottom: solid 1px black;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <h1>Online plea{% if notice_type.sjp %} - SJP{% endif %}</h1>

    <table class="review-table" id="case-details">
    <thead>
        <tr>
            <th colspan="2">
                <h2>{% blocktrans %}Case details{% endblocktrans %}</h2>
            </th>
        </tr>
    </thead>
    {% include "partials/review_case.html" %}
    </table>

    <table class="review-table" id="your-details">
    <thead>
        <tr>
            <th colspan="2">
            {% if case.plea_made_by == "Defendant" %}
                <h2>{% blocktrans %}Your details{% endblocktrans %}</h2>
            {% elif case.plea_made_by == "Company representative" %}
                <h2>{% blocktrans %}Company representative details{% endblocktrans %}</h2>
            {% endif %}
            </th>
        </tr>
    </thead>
    {% include "partials/review_details.html" %}
    </table>

    <table class="review-table" id="your-plea">
    <thead>
        <tr>
            <th colspan="2">
                {% if case.plea_made_by == "Defendant" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Your plea{% plural %}Your pleas{% endblocktrans %}</h2>
                {% elif case.plea_made_by == "Company representative" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Company's plea{% plural %}Company's pleas{% endblocktrans %}</h2>
                {% endif %}
            </th>
        </tr>
    </thead>
    {% include "partials/review_plea.html" %}
    </table>

</body>
</html>
