{% load i18n %}
{% load date %}
{% load testing %}

<dl>
{% if case.plea_made_by == "Defendant" %}

    {% add_test_tag "<<SHOWYOURDETAILS>>" %}

    <dt>{% blocktrans %}First name{% endblocktrans %}</dt>
    <dd>{{ your_details.first_name }}</dd>

    <dt>{% blocktrans %}Last name{% endblocktrans %}</dt>
    <dd>{{ your_details.last_name }}</dd>

    <dt>{% blocktrans %}Address{% endblocktrans %}</dt>
    <dd>{% if your_details.correct_address %}{% blocktrans %}As printed on the notice{% endblocktrans %}{% else %}{{ your_details.updated_address|linebreaksbr }}{% endif %}</dd>

    <dt>{% blocktrans %}Contact number{% endblocktrans %}</dt>
    <dd>{{ your_details.contact_number }}</dd>

    <dt>{% blocktrans %}Date of birth{% endblocktrans %}</dt>
    {% if your_details.date_of_birth %}
    <dd>{{ your_details.date_of_birth|parse_date|date:"d/m/Y" }}</dd>
        {% else %}
    <dd>{{ case.date_of_birth|parse_date|date:"d/m/Y" }}</dd>
        {% endif %}


    <dt>{% blocktrans %}National Insurance number{% endblocktrans %}</dt>
    <dd>{{ your_details.ni_number|default:"-" }}</dd>

    <dt>{% blocktrans %}UK driving licence number{% endblocktrans %}</dt>
    <dd>{{ your_details.driving_licence_number|default:"-" }}</dd>

{% endif %}

{% if case.plea_made_by == "Company representative" %}

    {% add_test_tag "<<SHOWCOMPANYDETAILS>>" %}

    <dt>{% blocktrans %}Company name{% endblocktrans %}</dt>
    <dd>{{ company_details.company_name }}</dd>

    <dt>{% blocktrans %}Company address{% endblocktrans %}</dt>
    <dd>{% if company_details.correct_address %}{% blocktrans %}As printed on the notice{% endblocktrans %}{% else %}{{ company_details.updated_address|linebreaksbr }}{% endif %}</dd>

    <dt>{% blocktrans %}First name{% endblocktrans %}</dt>
    <dd>{{ company_details.first_name }}</dd>


    <dt>{% blocktrans %}Last name{% endblocktrans %}</dt>
    <dd>{{ company_details.last_name }}</dd>

    <dt>{% blocktrans %}Position held{% endblocktrans %}</dt>
    <dd>{% trans company_details.position_in_company %}</dd>

    <dt>{% blocktrans %}Contact number{% endblocktrans %}</dt>
    <dd>{{ company_details.contact_number }}</dd>

{% endif %}
</dl>
