{% load i18n %}
{% load humanize %}

<section class="review-subsection">
    <header>
        <h3>{% blocktrans %}Your employment status{% endblocktrans %}</h3>

        {% if show_edit_link %}
        <a class="change-link" href="{% url "plea_form_step" "your_status" %}">{% blocktrans %}Change <span>your employment status</span>{% endblocktrans %}</a>
        {% endif %}
    </header>

    <dl>
        <dt>{% blocktrans %}You are{% endblocktrans %}</dt>
        <dd>{% trans your_status.you_are %}</dd>
    </dl>
</section>

<section class="review-subsection">
    <header>
        <h3>{% blocktrans %}Your finances{% endblocktrans %}</h3>

        {% if show_edit_link %}
        <a class="change-link" href="{% url "plea_form_step" "your_employment" %}">{% blocktrans %}Change <span>your finances</span>{% endblocktrans %}</a>
        {% endif %}
    </header>

    <dl>

    {% if your_status.you_are == "Employed" %}
        <dt>{% blocktrans %}You get paid{% endblocktrans %}</dt>
        <dd>{% trans your_employment.employed_pay_period %}</dd>

        <dt>{% blocktrans %}Amount{% endblocktrans %}</dt>
        <dd>£{{ your_employment.employed_pay_amount|floatformat:2|intcomma }}</dd>
    {% endif %}

    {% if your_status.you_are == "Self-employed" %}
        <dt>{% blocktrans %}You get paid{% endblocktrans %}</dt>
        <dd>{% trans your_employment.self_employed_pay_period %}</dd>

        <dt>{% blocktrans %}Amount{% endblocktrans %}</dt>
        <dd>£{{ your_employment.self_employed_pay_amount|floatformat:2|intcomma }}</dd>
    {% endif %}

    {% if your_status.you_are == "Receiving benefits" %}
        <dt>{% blocktrans %}Your benefits{% endblocktrans %}</dt>
        <dd>{{ your_employment.benefits_details|linebreaksbr }}</dd>

        <dt>{% blocktrans %}You get paid{% endblocktrans %}</dt>
        <dd>{% trans your_employment.benefits_pay_period %}</dd>

        <dt>{% blocktrans %}Amount{% endblocktrans %}</dt>
        <dd>£{{ your_employment.benefits_pay_amount|floatformat:2|intcomma }}</dd>

        <dt>{% blocktrans %}Includes payment for dependents?{% endblocktrans %}</dt>
        <dd>{{ your_employment.benefits_dependents|yesno:_("Yes,No (v1)") }}</dd>
    {% endif %}

    {% if your_status.you_are == "Other" %}
        <dt>{% blocktrans %}Details{% endblocktrans %}</dt>
        <dd>{{ your_employment.other_details|linebreaksbr }}</dd>

        <dt>{% blocktrans %}Amount{% endblocktrans %}</dt>
        <dd>£{{ your_employment.other_pay_amount|floatformat:2|intcomma }}</dd>
    {% endif %}

    {% if show_weekly_financials %}
        <dt>Weekly take home pay</dt>
        <dd>£{{ your_employment.weekly_amount|floatformat:2|intcomma }}</dd>
    {% endif %}

        <dt>{% blocktrans %}Financial hardship{% endblocktrans %}</dt>
        <dd>{{ your_employment.hardship|yesno:_("Yes,No (v3)") }}</dd>

    </dl>
</section>
