{% load i18n %}
{% load humanize %}
{% load testing %}

{% add_test_tag "<<SHOWCOMPANYFINANCES>>" %}
<dl>

    <dt>{% blocktrans %}Trading for more than 12 months{% endblocktrans %}</dt>
    <dd>{{ company_finances.trading_period|yesno:_("Yes,No (v1)") }}</dd>

    <dt>{% blocktrans %}Number of employees{% endblocktrans %}</dt>
    <dd>{{ company_finances.number_of_employees|intcomma }}</dd>

    <h3>{% if company_finances.trading_period %}{% blocktrans %}From the most recent audited company accounts{% endblocktrans %}{% else %}{% blocktrans %}From the first 12 months' trading projections{% endblocktrans %}{% endif %}</h3>

    <dt>{% blocktrans %}Gross turnover{% endblocktrans %}</dt>
    <dd>£{{ company_finances.gross_turnover|intcomma }}</dd>

    <dt>{% blocktrans %}Net turnover{% endblocktrans %}</dt>
    <dd>£{{ company_finances.net_turnover|intcomma }}</dd>

</dl>
