{% load i18n %}
{% load date testing %}


    <tbody>
        <tr>
            <th>{% blocktrans %}Unique reference number{% endblocktrans %}</th>
            <td>{{ case.urn }}</td>
        </tr>

        {% if notice_type.sjp %}
        <tr>
            <th>{% blocktrans %}Posting date{% endblocktrans %}</th>
            <td>{{ case.posting_date|parse_date|date:"d/m/Y" }}</td>
        </tr>
        {% else %}
        <tr>
            <th>{% blocktrans %}Court hearing date{% endblocktrans %}</th>
            <td>{{ case.date_of_hearing|parse_date|date:"d/m/Y" }}</td>
        </tr>
        {% endif %}

        <tr>
            <th>{% blocktrans %}Number of charges{% endblocktrans %}</th>
            <td>{{ case.number_of_charges }}</td>
        </tr>
        <tr>
            <th>{% blocktrans %}Plea made by{% endblocktrans %}</th>
            <td>{% if case.plea_made_by == "Defendant" %}{% blocktrans %}Person named on the notice{% endblocktrans %}{% else %}{% blocktrans %}Pleading on behalf of a company{% endblocktrans %}{% endif %}</td>
        </tr>
    </tbody>
