{% load i18n %}

{% for pleaform in plea.data %}

<section class="review-subsection">
    <header>
        <h3>{% blocktrans %}Charge{% endblocktrans %} {{ forloop.counter }}</h3>

        {% if show_edit_link %}
        <a class="change-link" href="{% url "plea_form_step" "plea" forloop.counter %}" class="review">{% blocktrans with charge_number=forloop.counter %}Change your plea for charge {{ charge_number }}{% endblocktrans %}</a>
        {% endif %}

        {% if pleaform.title  %}
        <h4 class="charge-title">{{ pleaform.title }}</h4>
        {% endif %}
    </header>

    <dl>

        <dt>{% spaceless %}
            {% if case.plea_made_by == "Defendant" %}
                {% blocktrans count counter=1 %}Your plea{% plural %}Your pleas{% endblocktrans %}
            {% endif %}

            {% if case.plea_made_by == "Company representative" %}
                {% blocktrans %}Company plea{% endblocktrans %}
            {% endif %}
        {% endspaceless %}</dt>
        <dd>{% spaceless %}
            {% if pleaform.guilty == "guilty" %}
                {% blocktrans %}Guilty{% endblocktrans %}
            {% else %}
                {% blocktrans %}Not guilty{% endblocktrans %}
            {% endif %}
        {% endspaceless %}</dd>

        {% if pleaform.guilty == "guilty" %}
        <dt>{% blocktrans %}Mitigation{% endblocktrans %}</dt>
        <dd>{{ pleaform.guilty_extra|linebreaksbr|default:"-" }}</dd>

            {% if notice_type.sjp %}
        <dt>{% blocktrans %}Plead guilty in court{% endblocktrans %}</dt>
        <dd>{{ pleaform.come_to_court|yesno:_("Yes,No (v1)") }}</dd>

                {% if pleaform.come_to_court and pleaform.show_interpreter_question %}
        <dt>{% blocktrans %}Interpreter required{% endblocktrans %}</dt>
        <dd>{{ pleaform.sjp_interpreter_needed|yesno:_("Yes,No (v3)") }}</dd>

                    {% if pleaform.sjp_interpreter_needed %}
        <dt>{% blocktrans %}Language{% endblocktrans %}</dt>
        <dd>{{ pleaform.sjp_interpreter_language }}</dd>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if pleaform.guilty == "not_guilty" %}
        <dt>{% blocktrans %}Not guilty because{% endblocktrans %}</dt>
        <dd>{{ pleaform.not_guilty_extra|linebreaksbr|default:"-" }}</dd>

            {% if pleaform.show_interpreter_question %}
        <dt>{% blocktrans %}Interpreter required{% endblocktrans %}</dt>
        <dd>{{ pleaform.interpreter_needed|yesno:_("Yes,No (v3)") }}</dd>

                {% if pleaform.interpreter_needed %}
        <dt>{% blocktrans %}Language{% endblocktrans %}</dt>
        <dd>{{ pleaform.interpreter_language }}</dd>
                {% endif %}
            {% endif %}

        <dt>{% blocktrans %}Disagree with any evidence from a witness statement?{% endblocktrans %}</dt>
        <dd>{{ pleaform.disagree_with_evidence|yesno:_("Yes,No (v1)") }}</dd>

            {% if pleaform.disagree_with_evidence %}
        <dt>{% blocktrans %}Name of the witness and what you disagree with{% endblocktrans %}</dt>
        <dd>{{ pleaform.disagree_with_evidence_details|linebreaksbr|default:"-" }}</dd>
            {% endif %}

        <dt>{% blocktrans %}Wants to call a witness?{% endblocktrans %}</dt>
        <dd>{{ pleaform.witness_needed|yesno:_("Yes,No (v1)") }}</dd>

            {% if pleaform.witness_needed %}
        <dt>{% blocktrans %}Name, date of birth and address of the witness{% endblocktrans %}</dt>
        <dd>{{ pleaform.witness_details|linebreaksbr|default:"-" }}</dd>

        <dt>{% blocktrans %}Interpreter required{% endblocktrans %}</dt>
        <dd>{{ pleaform.witness_interpreter_needed|yesno:_("Yes,No (v1)") }}</dd>

                {% if pleaform.witness_interpreter_needed %}
        <dt>{% blocktrans %}Language{% endblocktrans %}</dt>
        <dd>{{ pleaform.witness_interpreter_language }}</dd>
                {% endif %}
            {% endif %}
        {% endif %}

    </dl>

</section>
{% endfor %}
