{% load i18n %}
{% load testing %}

{% if plea_type == "guilty" %}
    {% add_test_tag "<<GUILTY>>" %}
    <ol>
        <li>{% blocktrans %}There’s <strong>no need</strong> to come to court on the hearing date shown in the Postal Requisition.{% endblocktrans %}</li>
        <li>{% blocktrans count charges=case.number_of_charges %}We’ll send you a letter with the court’s decision <strong>within 3  working days after your hearing date</strong>.</strong>{% plural %}We’ll send you a letter with the court’s decisions <strong>within 3 working days after your hearing date</strong>.{% endblocktrans %}</li>
        <li>{% blocktrans %}<strong>Do not</strong> send your driving licence to the court.{% endblocktrans %}</li>
        <li>{% blocktrans %}The DVLA will contact you if they need you to send in your driving licence.{% endblocktrans %}</li>
        <li>{% blocktrans with urn=case.urn|upper email=court.court_email  %}Quote your URN <strong>{{ urn }}</strong> if you <a href="mailto:{{ email }}">contact</a> the court about your case.{% endblocktrans %}</li>
        <li>{% blocktrans %}<a href="javascript:window.print();">Print a copy</a> of this plea confirmation for your records.{% endblocktrans %}</li>
    </ol>
{% endif %}

{% if plea_type == "not_guilty" %}
    {% add_test_tag "<<NOTGUILTY>>" %}
    <ol>
        <li>{% blocktrans %}There’s <strong>no need</strong> to come to court on the hearing date shown in the Postal Requisition.{% endblocktrans %}</li>
        <li>{% blocktrans %}The court will tell you if you need to attend a trial, and what evidence you may need to send to the court in support of your case.{% endblocktrans %}</li>        
        <li>{% blocktrans count charges=case.number_of_charges %}We’ll send you a letter with the court’s decision <strong>within 3 working days after your hearing date</strong>.{% plural %}We’ll send you a letter with the court’s decisions <strong>within 3  working days after your hearing date</strong>.{% endblocktrans %}</li>
        <li>{% blocktrans with urn=case.urn|upper email=court.court_email %}Quote your URN <strong>{{ urn }}</strong> if you <a href="mailto:{{ email }}">contact</a> the court about your case.{% endblocktrans %}</li>
        <li>{% blocktrans %}<a href="javascript:window.print();">Print a copy</a> of this plea confirmation for your records.{% endblocktrans %}</li>
    </ol>
{% endif %}

{% if plea_type == "mixed" %}
    {% add_test_tag "<<MIXED>>" %}
    <ol>
        <li>{% blocktrans %}There’s <strong>no need</strong> to come to court on the hearing date shown in the Postal Requisition.{% endblocktrans %}</li>
        <li>{% blocktrans %}The court will tell you if you need to attend a trial, and what evidence you may need to send to the court in support of your case.{% endblocktrans %}</li>
        <li>{% blocktrans %}We’ll send you a letter with the court’s decisions <strong>within 3 working days after your hearing date</strong>.{% endblocktrans %}</li>
        <li>{% blocktrans %}<strong>Do not</strong> send your driving licence to the court.{% endblocktrans %}</li>
        <li>{% blocktrans %}The DVLA will contact you if they need you to send in your driving licence.{% endblocktrans %}</li>
        <li>{% blocktrans with urn=case.urn|upper email=court.court_email %}Quote your URN <strong>{{ urn }}</strong> if you <a href="mailto:{{ email }}">contact</a> the court about your case.{% endblocktrans %}</li>
        <li>{% blocktrans %}<a href="javascript:window.print();">Print a copy</a> of this plea confirmation for your records.{% endblocktrans %}</li>
    </ol>
{% endif %}