{% load i18n %}
    <tbody>
    {% for pleaform in plea.PleaForms %}
        {% if plea.PleaForms|length > 1 or pleaform.title %}
        <tr>
            <td colspan="2">
                {% if pleaform.title  %}
                <h3>{{ pleaform.title }}</h3>
                {% else %}
                <h3>{% trans "Charge" %} {{ forloop.counter }}</h3>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>
                {% if case.plea_made_by == "Defendant" %}
                    {% blocktrans count counter=1 %}Your plea{% plural %}Your pleas{% endblocktrans %}
                {% else %}
                    {% trans "Company plea" %}
                {% endif %}
            </th>
            <td>
                {% if pleaform.guilty == "guilty" %}
                    {% trans "Guilty" %}
                {% elif pleaform.guilty == "not_guilty" %}
                    {% trans "Not guilty" %}
                {% endif %}
            </td>
        </tr>
        {% if pleaform.guilty == "guilty" %}
        <tr>
            <th>
                {% trans "Mitigation" %}
            </th>
            <td>
                {{ pleaform.guilty_extra|linebreaksbr|default:"-" }}
            </td>
        </tr>
        {% endif %}
        {% if pleaform.guilty == "not_guilty" %}
        <tr>
            <th>
                {% trans "Not guilty because" %}
            </th>
            <td>
                {{ pleaform.not_guilty_extra|linebreaksbr|default:"-" }}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
