{% extends "plea/base.html" %}
{% block content %}

<header class="page-header group">
	<hgroup>
		<h1>Your details</h1>
	</hgroup>
</header>


 <h4>Who are you?</h4>

            <ul class="list-bullet text">
                <li>let us know your details so the court can consider your plea</li>
            </ul>

<form method=POST class="pleaform">
	{% csrf_token %}
    {%  with forms.0 as form %}
	<fieldset>
		<legend>Enter your full name</legend>
		<div class="group">
			<p class="form-hint datefield-hint" id="">As shown on the pack we sent you</p>
			<span class="validation-message">{{ form.name.errors }}</span>
		    <label for="{{ form.name.name }}">{{ form.name.label }}</label>
		    <input type="text" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:"" }}" id="{{ form.name.name }}">
		</div>
		
		<div class="group">
		<legend>Enter the date of your court hearing</legend>
		<div class="date-of-hearing">
			<p class="form-hint datefield-hint" id="">You’ll find the court hearing date on page 1 of the pack we sent you.
</p>
			<div class="group">
				
				<span class="validation-message">{{ form.date_of_hearing.errors }}</span>
				<label for="{{ form.date_of_hearing.name }}">{{ form.date_of_hearing.label }}</label>
				{{form.date_of_hearing }}
			</div>
			<!-- <div class="datefield form-group form-group-month">
				<span class="validation-message">{{ form.name.errors }}</span>
				<label for="{{ form.date_of_hearing.name }}">{{ form.name.label }}</label>
				<input type="text" name="about-{{ form.date_of_hearing.name }}" value="{{ form.date_of_hearing.value|default_if_none:"" }}" id="{{ form.date_of_hearing.name }}" type="text" value="11">
			</div>
			<div class="datefield form-group form-group-year">
				<span class="validation-message">{{ form.name.errors }}</span>
				<label for="{{ form.date_of_hearing.name }}">{{ form.name.label }}</label>
				<input type="text" name="about-{{ form.date_of_hearing.name }}" value="{{ form.date_of_hearing.value|default_if_none:"" }}" id="{{ form.date_of_hearing.name }}" type="text" value="11">
			</div> -->
			</div>
		</div>
		<div class="group">
			<legend>Enter your unique reference number (URN)</legend>
			<p class="form-hint datefield-hint" id="">You’ll find your URN in the top right corner of page 1 of the pack we sent you</p>
			<span class="validation-message">{{ form.urn.errors }}</span>
		    <label for="{{ form.urn.name }}">{{ form.urn.label }}</label>
		    <input type="text" name="{{ form.urn.name }}" value="{{ form.urn.value|default_if_none:"" }}" id="{{ form.urn.name }}">
		</div>
		<div class="group">
			<legend>Confirm the number of charges against you</legend>
			<p class="form-hint datefield-hint" id="">You’ll find the charges on page 2 of the pack we sent you.</p>
			<label for="{{ form.number_of_charges.name }}">{{ form.number_of_charges.label }}</label>
            {{ form.number_of_charges }}

		</div>

		<details>
            <summary role="button" aria-expanded="false">Don’t have all these details?</summary>
            <p>Check the pack we posted to you.</p> 
			<p>If you can’t find these details, you must:</p>
			<p>fill in the information in the pack and return it by post. You can’t make your plea online without these details</p>
          </details>

		<button class="button" type=submit>Continue</button>

		</div>

	</fieldset>
    {% endwith %}
	

</form>


{% endblock content %}