{% extends "base.html" %}

{% load i18n %}
{% load debug %}

{% block page_content %}

    {% if form.errors.items or formset_has_errors %}
    <div class="error-summary">
        {% block errors_summary %}
        <h2>{% trans "You need to fix the errors on this page before continuing." %}</h2>

        <p>{% trans "See highlighted errors below." %}</p>

        <ul>
        {% for field in form %}
            {% if field.errors %}
            <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endblock errors_summary %}
    </div>
    {% endif %}

    <header class="content-header">
        {% block stage_header %}
            
        {% endblock stage_header %}
    </header>
    
    <form {% block form_attributes %}{% endblock form_attributes %} action="{{ request.path }}" method="post" autocomplete="off" novalidate>
        {% csrf_token %}

        {% block stage_form %}
            
        {% endblock stage_form %}

        {% block stage_submit %}
        <div class="form-submit">
            <button class="button" type="submit">{% trans "Continue" %}</button>
        </div>
        {% endblock stage_submit %}
    </form>

{% endblock %}
