{% extends "plea/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Case details" %} - {{ block.super }}{% endblock %}

{% load staticfiles %}

{% block page_content %}
<form action="{{ request.path }}" method="post" autocomplete="off" novalidate>

    {% csrf_token %}

    {% with forms.0 as form %}

        {% if form.errors %}
    <div class="error-summary">
        {% if urn_already_used %}
        <h2>{% trans "The details you've entered have already been used to make a plea online" %}</h2>

        <p>{% trans "Check and try again." %}</p>

        <ul>
            <li><a href="#section_urn">{% trans "Enter the correct URN" %}</a></li>
        </ul>

        <p>{% trans "To make changes to a plea you’ve already made online, email or write to the court before your hearing with:" %}</p>

        <ul class="list-bullet">
            <li>{% trans "details of the changes you want to make" %}</li>
            <li>{% trans "your unique reference number" %}</li>
        </ul>


        <details role="group">
            <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="false"><span class="summary">{% trans "View court contact details" %}</span></summary>
            <div id="details-content-0" aria-hidden="true">
                <h3 class="heading-small">{% trans "Send letters to:" %}</h3>
                <address>{{ court.court_address|linebreaksbr }}</address>

                <h3 class="heading-small">{% trans "Send email to:" %}</h3>
                <p><a href="mailto:{{ court.court_email }}">{{ court.court_email }}</a></p>
            </div>
        </details>

        {% else %}

        <h2>{% trans "You need to fix the errors on this page before continuing." %}</h2>

        <p>{% trans "See highlighted errors below." %}</p>

        <ul>
            {% for field in form %}
                {% if field.errors %}
            <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
        {% endif %}

    <header class="content-header">
        <h1>{% trans "Case details" %}</h1>
    </header>

    <div class="with-help-images">
        {% with form.urn as field %}
            {% include "widgets/std_field.html" %}
        {% endwith %}

        <div class="help-image">
            <img src="{% static "images/img-urn.png" %}" alt="{% trans "The URN and Court Hearing Date are found on page 1 of the pack" %}" width="260" height="340">
        </div>

        {% with form.date_of_hearing as field %}
            {% include "widgets/std_field.html" %}
        {% endwith %}

        {% with form.number_of_charges as field %}
            {% include "widgets/std_field.html" %}
        {% endwith %}

        <div class="help-image">
            <img src="{% static "images/img-charge.png" %}" alt="{% trans "The number of charges is found on page 2 of the pack" %}" width="260" height="185">
        </div>

        {% with form.company_plea as field %}
            {% include "widgets/radio_field.html" %}
        {% endwith %}


        <div class="form-submit">
            <button class="button" type="submit">{% trans "Continue" %}</button>
        </div>
    </div>
    {% endwith %}
</form>

{% endblock page_content %}
