{% extends "plea/base.html" %}
{% block page_title %}{{ block.super }} Case details{% endblock %}
{% load staticfiles pdb %}
{% block page_content %}
    <header class="page-header group">
        <div><h1><span>Service</span>Make your plea online</h1></div>
    </header>

    <p class="mandatory">All fields are mandatory unless stated otherwise</p>

    <div class="full-width group">
        <div class="inner">
            <form method=POST class="pleaform form" autocomplete="off">

                {% csrf_token %}
                {% with forms.0 as form %}
                    {% if form.errors %}

                        <section class="flash error-summary">
                            {% if urn_already_used %}
                            <h2 id="error-heading">This URN has already been used to make a plea</h2>

                            <p>If you wish to make changes to your plea you must now contact the court either by post or email quoting your URN, before the date of hearing.</q></p>

                            <ul>
                                <li id="case_contact_link"><a href="/contact">View contact details</a></li>
                                <li id="case_contact_details">

                                <p>The contact details for the court are:</p>

                                <h2>By Post:</h2>
                                <p>The Operations Manager<br>
                                Manchester & Salford<br>
                                Magistrates Court<br>
                                Crown Square<br>
                                Manchester<br>
                                M60 1PR</p>

                                <p><h2>By email:</h2>
                                <a href="mailto:roadtrafficpcr@hmcts.gsi.gov.uk">roadtrafficpcr@hmcts.gsi.gov.uk</a></p>

                                </li>
                            </ul>

                            {% else %}

                            <h2 id="error-heading">You need to fix the errors on this page before continuing.</h2>
                            <p>See highlighted errors below.</p>
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li><a class="error-link"
                                               href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </section>
                    {% endif %}

                    <h2 id="your-details">Case details</h2>

                    {% with form.urn as field %}
                        {% include "widgets/std_field_with_image.html" %}
                    {% endwith %}
                    <div class="help-image">
                        <img src="{% static "images/img-urn.png" %}" alt="Location of URN">
                    </div>

                    <section>
                        <a id="section_date_of_hearing" name="section_date_of_hearing"></a>
                        <div class="section with-help-image{% if form.date_of_hearing.errors %} error{% endif %}">
                            <label for="{{ form.date_of_hearing.name }}">Court hearing date</label>
                            <span class="validation-message">{{ form.date_of_hearing.errors }}</span>
                            <p class="form-hint datefield-hint" id="">{{ form.date_of_hearing.help_text|safe }}</p>
                            <label for="{{ day.attrs }}" class="datetime datetime-day">Day</label>
                            <label class="datetime datetime-month">Month</label>
                            <label class="datetime datetime-year">Year</label><br>
                            {{ form.date_of_hearing }}

                            {{ form.time_of_hearing.label_tag }}
                            <span class="validation-message">{{ form.time_of_hearing.errors }}</span>
                            {{ form.time_of_hearing }}
                        </div>
                    </section>

                    {% with form.number_of_charges as field %}
                        {% include "widgets/std_field_with_image.html" %}
                    {% endwith %}
                    <div class="help-image">
                        <img src="{% static "images/img-charge.png" %}" alt="The number of charges is found on page 2 of the pack">
                    </div>

                    <div class="actions">
                        <button class="button" type=submit>Continue</button>
                    </div>
                {% endwith %}
            </form>
        </div>
    </div>

{% endblock page_content %}
