{% extends "base.html" %}
{% load i18n %}

{% load testing %}

{% block page_title %}{% blocktrans count charges=case.number_of_charges %}Your plea has been sent{% plural %}Your pleas have been sent{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

<header class="success-header">
    <h1 class="ticked">{% if plea_type == "guilty" %}
    {% blocktrans count charges=case.number_of_charges %}
Your guilty plea has been sent to the court
    {% plural %}
Your guilty pleas have been sent to the court
    {% endblocktrans %}
{% elif plea_type == "not_guilty" %}
    {% blocktrans count charges=case.number_of_charges %}
Your not guilty plea has been sent to the court
    {% plural %}
Your not guilty pleas have been sent to the court
    {% endblocktrans %}
{% elif plea_type == "mixed" %}
    {% trans "Your pleas have been sent to the court" %}
{% endif %}</h1>
</header>


<h2 class="heading-medium">{% trans "What happens next?" %}</h2>

<div class="panel-indent what-next">
    {% if plea_type == "guilty" %}
        {% add_test_tag "<<GUILTY>>" %}
        <ol>
            <li>{% blocktrans %}There's <strong>no need</strong> to come to court on the hearing date shown in the pack we sent you.{% endblocktrans %}</li>
            <li>{% blocktrans %}We'll send you a letter with the court's decision{{ case.number_of_charges|pluralize}} <strong>within three working days after your hearing.</strong>{% endblocktrans %}</li>
            <li>{% blocktrans with urn=case.urn|upper  %}Quote your URN <strong>{{ urn }}</strong> if you <a href="mailto:roadtrafficpcr@hmcts.gsi.gov.uk">contact</a> the court about your case.{% endblocktrans %}</li>
            <li>{% blocktrans %}<a href="javascript:window.print();">Print a copy</a> of this confirmation of plea for your records.{% endblocktrans %}</li>
            <li>{% blocktrans %}If you requested email updates you'll be sent a copy of this confirmation of plea.{% endblocktrans %}</li>
        </ol>
    {% endif %}

    {% if plea_type == "not_guilty" %}
        {% add_test_tag "<<NOTGUILTY>>" %}
        <ol>
            <li>{% blocktrans %}There's <strong>no need</strong> to come to court on the hearing date shown in the pack we sent you.{% endblocktrans %}</li>
            <li>{% blocktrans %}The court will tell you if you need to attend a trial, and what evidence you may need to send to the court in support of your case.{% endblocktrans %}</li>
            <li>{% blocktrans %}We'll send you a letter with the court's decision{{ case.number_of_charges|pluralize}} <strong>within three working days after your hearing.</strong>{% endblocktrans %}</li>
            <li>{% blocktrans with urn=case.urn|upper %}Quote your URN <strong>{{ urn }}</strong> if you <a href="mailto:roadtrafficpcr@hmcts.gsi.gov.uk">contact</a> the court about your case.{% endblocktrans %}</li>
            <li>{% blocktrans %}<a href="javascript:window.print();">Print a copy</a> of this confirmation of plea for your records.{% endblocktrans %}</li>
            <li>{% blocktrans %}If you requested email updates you'll be sent a copy of this confirmation of plea.{% endblocktrans %}</li>
        </ol>
    {% endif %}

    {% if plea_type == "mixed" %}
        {% add_test_tag "<<MIXED>>" %}
        <ol>
            <li>{% blocktrans %}There's <strong>no need</strong> to come to court on the hearing date shown in the pack we sent you.{% endblocktrans %}</li>
            <li>{% blocktrans %}The court will tell you if you need to attend a trial, and what evidence you may need to send to the court in support of your case.{% endblocktrans %}</li>
            <li>{% blocktrans %}We'll send you a letter with the court's decisions <strong>within three working days after your hearing.{% endblocktrans %}</strong></li>
            <li>{% blocktrans with urn=case.urn|upper  %}Quote your URN {{ urn }} if you contact the court about your case.{% endblocktrans %}</li>
            <li>{% blocktrans %}<a href="javascript:window.print();">Print a copy</a> of this confirmation of plea for your records.{% endblocktrans %}</li>
            <li>{% blocktrans %}If you requested email updates you'll be sent a copy of this confirmation of plea.{% endblocktrans %}</li>
        </ol>
    {% endif %}
</div>

<h2 class="heading-medium">{% trans "Need to change a plea?" %}</h2>

<p>{% trans "Contact the court by post or email quoting your URN before the date of your hearing." %}</p>

<p>{% trans "The contact details for the court are:" %}</p>

<h3 class="heading-small">{% trans "By post:" %}</h3>

<address>{{ court.court_address|linebreaksbr }}</address>

<h3 class="heading-small">{% trans "By email:" %}</h3>
<p><a href="mailto:{{ court.court_email }}">{{ court.court_email }}</a></p>


<h2 class="heading-medium">{% trans "We’re constantly working to improve Make Your Plea." %}</h2>
<p>{% blocktrans %}Please give us <a href="/feedback/">feedback</a> so we can make it better.{% endblocktrans %}</p>

{% endblock page_content %}
