{% extends "plea/base.html" %}

{% load debug %}

{% block page_title %}{{ block.super }} Your Details{% endblock %}

{% block page_content %}

    {% with request.session.case.number_of_charges as charges %}
<form action="{{ request.path }}" method="post" autocomplete="off">

    {% csrf_token %}

    {% with forms.0 as form %}

        {% if form.errors %}
        <section class="error-summary">
            <h2 class="heading-medium">You need to fix the errors on this page before continuing.</h2>

            <p>See highlighted errors below.</p>

            <ul class="errors-list">
            {% for field in form %}
                {% if field.errors %}
                <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
        {% endif %}

     <header class="content-header">
        <h1 class="heading-xlarge">Company details</h1>

        <p class="lede">The court will decide the company's fine based on its size and financial situation.</p>
    </header>

    {% with form.trading_period as field %}
        {% include "widgets/std_field.html" %}
    {% endwith %}

    {% with form.number_of_employees as field %}
        {% include "widgets/std_field.html" %}
    {% endwith %}

    {% with form.gross_turnover as field %}
        {% include "widgets/money_field.html" %}
    {% endwith %}

    {% with form.net_turnover as field %}
        {% include "widgets/money_field.html" %}
    {% endwith %}

    {% endwith %}

    <div class="form-group form-submit">
        <button class="button" type="submit">Continue</button>
    </div>
</form>
    {% endwith %}
{% endblock page_content %}
