{% extends "plea/base.html" %}

{% load debug %}
{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% trans "Your details" %} - {{ block.super }}{% endblock %}

{% block page_content %}

    {% with request.session.case.number_of_charges as charges %}
<form action="{{ request.path }}" method="post" autocomplete="off" novalidate>

    {% csrf_token %}

    {% if form.errors %}
    <section class="error-summary">
        <h2>{% trans "You need to fix the errors on this page before continuing." %}</h2>

        <p>{% trans "See highlighted errors below." %}</p>

        <ul>
        {% for field in form %}
            {% if field.errors %}
            <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

     <header class="content-header">
        <h1>{% trans "Your details" %}</h1>

        <p>{% trans "We need these in case we have to contact you about your plea." %}</p>

        <div class="panel-grey">
            <h2 class="heading-small">{% trans "Warning:" %}</h2>
            <p>{% trans "You can only make a plea on behalf of a company if you are a director, the company secretary or the company's solicitor." %}</p>
        </div>
    </header>

        {% std_field form.company_name %}

        {% radio_field form.correct_address %}

        <div class="form-group-wide move-up js-Conditional" data-conditional-trigger="correct_address" data-conditional-value="False">
            {% std_field form.updated_address hide_optional=True %}
        </div>

        {% std_field form.first_name %}

        {% std_field form.last_name %}

        {% radio_field form.position_in_company %}

        {% std_field form.contact_number %}

        {% std_field form.email %}

    {% endwith %}

    <div class="form-submit">
        <button class="button" type="submit">{% trans "Continue" %}</button>
    </div>
</form>

{% endblock page_content %}
