{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}{{ block.super }} {% trans "Court Finder" %}{% endblock %}

{% block page_content %}

<form action="{{ request.path }}" method="post" autocomplete="off" novalidate>
    {% csrf_token %}

        {% if submitted and not court %}
    <div class="error-summary">
        <h2 class="heading-medium">{% trans "We can't find your court" %}</h2>
        <p>{% trans "You'll find contact details for the court considering your case in your Postal Requisition pack." %}</p>
    </div>
        {% endif %}

        {% if form.errors %}
    <div class="error-summary">
            {% if urn_is_invalid %}
        <h2 class="heading-medium">{% trans "We don’t recognise the URN you’ve entered" %}</h2>
        <p>{% blocktrans %}The unique reference number you entered doesn’t match our records.<br>
        Check your URN (it’s on page 1 of the Postal Requisition pack we sent you, in the top right corner) then try again.{% endblocktrans %}</p>
            {% else %}
        <h2 class="heading-medium">{% trans "You need to fix the errors on this page before continuing." %}</h2>
        <p>{% trans "See highlighted errors below." %}</p>
            {% endif %}
    </div>
        {% endif %}

    <header class="content-header">
        <h1 class="heading-xlarge">{% trans "Contact your court" %}</h1>
        <p class="lede">{% trans "Enter your unique reference number (URN) to find contact details for the court considering your case." %}</p>
    </header>
    
    {% with form.urn as field %}
    {% include "widgets/std_field.html" %}
    {% endwith %}
    
    <div class="form-group form-submit">
        <button class="button" type="submit">{% trans "Find my court" %}</button>
    </div>
</form>

{% if submitted %}

<hr>

    {% if court %}
    <div class="court-details text">
        <h2 class="heading-medium">{% trans "Court details" %}</h2>
        <p>{% trans "You can contact the court by post or email quoting your URN before the date of your hearing." %}</p>

            {% if court.court_address %}
        <h3 class="heading-small">{% trans "By post:" %}</h3>
        <address>{{ court.court_address|linebreaksbr }}</address>
            {% endif %}
            
            {% if court.court_email %}
        <h3 class="heading-small">{% trans "By email:" %}</h3>
        <p><a href="mailto:{{ court.court_email }}">{{ court.court_email }}</a></p>
            {% endif %}

            {% if court.court_phone %}
        <h3 class="heading-small">{% trans "By phone:" %}</h3>
        <p>{{ court.court_phone }}</p>
            {% endif %}
    </div>
    {% endif %}
{% endif %}

{% endblock page_content %}