{% extends "plea/base.html" %}

{% load debug %}
{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans count charges=request.session.case.number_of_charges %}Your plea{% plural %}Your pleas{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    {% with request.session.case.number_of_charges as charges %}
<form action="{{ request.path }}" method="post" autocomplete="off" novalidate>

    {% csrf_token %}

    {% if formset_has_errors %}
    <section class="error-summary">
        <h2>{% trans "You need to fix the errors on this page before continuing." %}</h2>
        
        <p>{% trans "See highlighted errors below." %}</p>
        
        <ul>
        {% with forms.0 as formset %}
            {% for form in formset %}
                {% for field in form %}
                    {% if field.errors %}
            <li><a href="#section_{{ field.name }}_{{ forloop.parentloop.counter }}">{{ field.errors|striptags }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endwith %}
        </ul>
    </section>
    {% endif %}

    <header class="content-header">
        {% if case.plea_made_by == "Defendant" %}
        <h1>{% blocktrans count charges=charges %}Your plea{% plural %}Your pleas{% endblocktrans %}</h1>
        {% else %}
        <h1>{% blocktrans count charges=charges %}Company plea{% plural %}Company pleas{% endblocktrans %}</h1>
        {% endif %}
    </header>

    <div class="panel-grey">
        {% if case.plea_made_by == "Defendant" %}
        <p>{% trans "This is your opportunity to present your case to the court:" %}</p>
        {% else %}
        <p>{% trans "This is your opportunity to present the company's case to the court:" %}</p>
        {% endif %}

        <ul>
            <li>{% blocktrans %}each offence carries penalty points and a fine{% endblocktrans %}</li>
            {% if case.plea_made_by == "Defendant" %}
            {% comment %}
            <li>{% blocktrans %}if you're convicted you will have to pay the <a rel="external" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/336085/fact-sheet-criminal-courts-charge.pdf" target="_blank">Criminal Courts Charge</a>{% endblocktrans %}</li>
            {% endcomment %}
            <li>{% blocktrans %}if you're convicted you will have to pay the Criminal Courts Charge{% endblocktrans %}</li>
            <li>{% blocktrans %}if you plead guilty you may get a 33% reduction on any fine{% endblocktrans %}</li>
            {% else %}
            {% comment %}
            <li>{% blocktrans %}a conviction means the defendant will have to pay the <a rel="external" href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/336085/fact-sheet-criminal-courts-charge.pdf" target="_blank">Criminal Courts Charge</a>{% endblocktrans %}</li>    
            {% endcomment %}
            <li>{% blocktrans %}a conviction means the defendant will have to pay the Criminal Courts Charge{% endblocktrans %}</li>
            <li>{% blocktrans %}a guilty plea may get a 33% reduction on any fine{% endblocktrans %}</li>
            {% endif %}
        </ul>
    </div>

    {% with formset=forms.0 form_count=forms.0|length %}

        {{ formset.management_form }}

        <h2 class="heading-medium">{% blocktrans with form_count=form_count count charges=charges %}Enter a plea for the charge below{% plural %}Enter {{ form_count }} pleas for the charges below{% endblocktrans %}</h2>

        {% for form in formset %}
        <section id="section_guilty_{{ forloop.counter }}" class="section-plea">
            
            <div class="form-group-wide{% if form.guilty.errors %} with-error{% endif %}" id="section_guilty_{{ forloop.counter }}">
              <fieldset>
                {% if form_count > 1 or form.guilty.errors %}
                <legend class="form-label-bold">
                    {% if form_count > 1 %}
                    <div class="label-line">
                        <span class="label-text">
                            {% if case.plea_made_by == "Defendant" %}
                                {% blocktrans with counter=forloop.counter %}Your plea for charge {{ counter }}{% endblocktrans %}
                            {% else %}
                                {% blocktrans with counter=forloop.counter %}Plea for charge {{ counter }}{% endblocktrans %}
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}

                    {{ form.guilty.errors }}
                </legend>
                {% endif %}
                
                <div class="form-field">
                    <div class="inline">

                        {% for choice in form.guilty %}
                        <label for="id_{{ choice.name }}_{{ choice.choice_value }}" class="block-label">
                            <input id="id_{{ choice.name }}_{{ choice.choice_value }}" type="radio" name="{{ choice.name }}" value="{{ choice.choice_value }}" {% if choice.is_checked %}checked="checked"{% endif %}>
                            {{ choice.choice_label }}
                        </label>
                        {% endfor %}
                      
                    </div>
                </div>
              </fieldset>
            </div>

            <ul class="js-hidden go-to">
                <li>{% blocktrans with field_id=form.guilty.0.name %}If you answered <em>Guilty</em>, you can enter <a href="#{{ field_id }}_guilty_extra">special circumstances</a>{% endblocktrans %}</li>
                <li>{% blocktrans with field_id=form.guilty.0.name %}If you answered <em>Not Guilty</em>, you can tell us <a href="#{{ field_id }}_not_guilty_extra">why you believe you are not guilty</a>{% endblocktrans %}</li>
            </ul>

            <div class="panel-indent move-up" data-conditional-trigger="{{ form.prefix }}-guilty" data-conditional-value="^(guilty|not_guilty)$">

                <section id="{{ form.guilty.0.name }}_guilty_extra" class="js-Conditional js-hidden" data-conditional-trigger="{{ form.prefix }}-guilty" data-conditional-value="^guilty$">

                    {% if case.plea_made_by == "Defendant" %}
                        {% std_field form.guilty_extra %}
                    {% else %}
                        {% std_field form.guilty_extra help_text=_("What would the defendant like the court to consider?") %}
                    {% endif %}

                    <h4 class="heading-small">{% trans "Pleading guilty to this charge means:" %}</h4>
                    <ul>
                        {% if case.plea_made_by == "Defendant" %}
                        <li>{% blocktrans %}you <strong>do not</strong> need to come to court to respond to this charge{% endblocktrans %}</li>
                        {% else %}
                        <li>{% blocktrans %}a company representative <strong>does not</strong> need to come to court to respond to this charge{% endblocktrans %}</li>
                        {% endif %}
                        <li>{% blocktrans %}we'll send you details of the court's decision and what to do next{% endblocktrans %}</li>
                    </ul>
                </section>

                <section id="{{ form.guilty.0.name }}_not_guilty_extra" class="js-Conditional js-hidden" data-conditional-trigger="{{ form.prefix }}-guilty" data-conditional-value="^not_guilty$">

                    {% if case.plea_made_by == "Defendant" %}
                        {% std_field form.not_guilty_extra hide_optional=True %}
                    {% else %}
                        {% std_field form.not_guilty_extra hide_optional=True help_text=_("Tell us why the company believes they are not guilty") %}
                    {% endif %}

                    <h4 class="heading-small">{% trans "Pleading not guilty to this charge means:" %}</h4>
                    <ul>
                        <li>{% blocktrans %}<strong>Do not</strong> come to court on the hearing date in the Postal Requisition - we'll send you details of what happens next.{% endblocktrans %}</li>
                    </ul>

                </section>
            </div>

        </section>
        {% endfor %}

    {% endwith %}

    <div class="form-submit">
        <button class="button" type="submit">{% trans "Continue" %}</button>
    </div>
</form>
    {% endwith %}
{% endblock page_content %}
