<h1 style="font-family: nta, Arial, sans-serif">Case Reference: {{ about.urn }}</h1>
<table>
    <thead>
    <tr>
        <td colspan="2" style="font-family: nta, Arial, sans-serif" align="center"><h2>Details</h2><hr></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="20%" valign="top" align="right" style="font-family: nta, Arial, sans-serif; font-weight:bold; padding-right:20px;">URN</td>
        <td width="80%" valign="top"  style="font-family: nta, Arial, sans-serif">{{ about.urn }}</td>
    </tr>
    <tr>
        <td valign="top" align="right" style="font-family: nta, Arial, sans-serif; font-weight:bold; padding-right:20px;">Date of hearing</td>
        <td valign="top" style="font-family: nta, Arial, sans-serif">{{ about.date_of_hearing }}</td>
    </tr>
    <tr>
        <td valign="top" align="right" style="font-family: nta, Arial, sans-serif; font-weight:bold; padding-right:20px;">Name</td>
        <td valign="top"  style="font-family: nta, Arial, sans-serif">{{ about.name }}</td>
    </tr>
    <tr>
        <td valign="top" align="right" style="font-family: nta, Arial, sans-serif; font-weight: bold; padding-right:20px;">I understand and accept <br>the charges against me</td>
        <td valign="top"  style="font-family: nta, Arial, sans-serif">{{ plea.understand }}</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" style="font-family: nta, Arial, sans-serif" colspan="2"><h2>Charges</h2><hr></td>
    </tr>
    {%  for plea_item in plea.PleaForms %}
        <tr>
            <td>&nbsp;</td>
            <td valign="top" style="font-family: nta, Arial, sans-serif; padding-top:20px;"><h3>Charge {{ forloop.counter }}</h3></td>
        </tr>
        <tr>
            <td valign="top" align="right" style="font-family: nta, Arial, sans-serif; font-weight: bold; padding-right:20px;">Plea</td>
            <td valign="top" style="font-family: nta, Arial, sans-serif">
                {% if plea_item.guilty == "guilty" %}
                    Guilty
                {% elif plea_item.guilty == "not_guilty" %}
                    Not guilty
                {% endif %}
            </td>
        </tr>
        <tr>
            <td valign="top" align="right" style="font-family: nta, Arial, sans-serif; font-weight: bold; padding-right:20px;">Mitigation</td>
            <td valign="top" style="font-family: nta, Arial, sans-serif">{{ plea_item.mitigations|linebreaks }}</td>
        </tr>
    {%  endfor %}
    </tbody>
</table>