{% load i18n %}
{% load date testing %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Online plea</title>
    <style>
        body, td {
            font-family: nta, Arial, sans-serif;
        }
        td {vertical-align: top;}
        th {
            width: 20%;
            text-align: left;
            font-weight:bold;
            padding-right:20px;
            vertical-align: top;
        }
        td.heading h2 {
            padding-top: 20px;
            border-bottom: solid 1px black;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<h1>Online plea</h1>
   <table class="review-table" id="case-details">
    <thead>
        <tr>
            <th colspan="2">
                <h2>{% trans "Case details" %}</h2>
            </th>
        </tr>
    </thead>
    {% include "plea/review/case.html" %}
    </table>

    <table class="review-table" id="your-details">
    <thead>
        <tr>
            <th colspan="2">
            {% if case.plea_made_by == "Defendant" %}
                <h2>{% trans "Your details" %}</h2>
            {% elif case.plea_made_by == "Company representative" %}
                <h2>{% trans "Company representative details" %}</h2>
            {% endif %}
            </th>
        </tr>
    </thead>
    {% include "plea/review/details.html" %}
    </table>

    <table class="review-table" id="your-plea">
    <thead>
        <tr>
            <th colspan="2">
                {% if case.plea_made_by == "Defendant" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Your plea{% plural %}Your pleas{% endblocktrans %}</h2>
                {% elif case.plea_made_by == "Company representative" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Company's plea{% plural %}Company's pleas{% endblocktrans %}</h2>
                {% endif %}
            </th>
        </tr>
    </thead>
    {% include "plea/review/plea.html" %}
    </table>

    {% if case.plea_made_by == "Defendant" %}
        {% if your_finances.skipped %}
        <table class="review-table" id="your-finances">
            <thead>
            <tr>
                <th colspan="2">
                    <h2>{% trans "Your finances" %}</h2>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Status</th>
                <td><i>Not completed/provided Financial details must be collected at hearing</i></td>
            </tr>
            </tbody>
        </table>
        {% else %}

        <table class="review-table" id="your-finances">
            <thead>
            <tr>
                <th colspan="2">
                    <h2>{% trans "Your finances" %}</h2>
                </th>
            </tr>
            </thead>
            {% include "plea/review/finances.html" %}
        </table>

            {% if your_finances.hardship %}
                <table class="review-table" id="your-expenses">
                    <thead>
                    <tr>
                        <th colspan="2">
                            <h2>{% trans "Your expenses" %}</h2>
                        </th>
                    </tr>
                    </thead>
                    {% include "plea/review/expenses.html" %}
                    </table>
            {% endif %}

        {% endif %}
    {% elif case.plea_made_by == "Company representative" %}
        {% if not company_finances.skipped %}
            <table class="review-table" id="company-details">
                <thead>
                <tr>
                    <th colspan="2">
                        <h2>{% trans "Company financial details" %}</h2>
                    </th>
                </tr>
                </thead>
                {% include "plea/review/company_finances.html" %}
                </table>
        {% endif %}
    {% endif %}
</body>
</html>