<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Online plea</title>
    <style>
        body, td {
            font-family: nta, Arial, sans-serif;
        }
        td.heading h2 {
            padding-top: 20px;
            border-bottom: solid 1px black;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<h1>Online plea submission confirmation</h1>
<table>
    <thead>
    <tr>
        <td colspan="2" class="heading"><h2>Your plea has been sent to the court</h2></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <h2>What happens next?</h2>
            <ol>
                <li>There’s no need to come to court on the hearing date shown in the pack we sent you.</li>
                <li>The court will tell you if you need to attend for your trial, and what evidence you may need to send to the court in support of your case.</li>
                <li>We’ll send you a letter with the court’s decision within three working days after your hearing.</li>
                <li>Quote your URN {{ urn }} if you contact the court about your case.</li>
                <li> Print off a copy of this confirmation of plea for your records.</li>
            </ol>

            <h2>Need to change a plea?</h2>

            <p>If you wish to make changes to your plea you must now contact the court either by post or email quoting your URN requesting permission to do so, before the date of your hearing.</p>

            <p>The contact details for the court are:</p>

            <p><strong>By Post:</strong>
            The Operations Manager<br>
            Manchester & Salford<br>
            Magistrates Court<br>
            Crown Square<br>
            Manchester<br>
            M60 1PR</p>

            <p><strong>By email:</strong>
            <a href="mailto:roadtrafficpcr@hmcts.gsi.gov.uk">roadtrafficpcr@hmcts.gsi.gov.uk</a></p>

            <p>This is a new service — please give us <a href="https://www.makeaplea.justice.gov.uk/feedback/?next=home">feedback</a> so we can make it better.</p>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>