{% extends "base_email.html" %}

{% load testing %}
{% load i18n %}

{% block subject %}{% blocktrans %}Online plea submission confirmation{% endblocktrans %}{% endblock subject %}

{% block content %}
    
    {% if plea_type == "guilty" %}{% add_test_tag "<<GUILTY>>" %}{% endif %}
    {% if plea_type == "not_guilty" %}{% add_test_tag "<<NOTGUILTY>>" %}{% endif %}
    {% if plea_type == "mixed" %}{% add_test_tag "<<MIXED>>" %}{% endif %}
   

    {% if plea_made_by == "Defendant" %}
        
        <h1>{% blocktrans count charges=number_of_charges %}Your online plea has been submitted{% plural %}Your online pleas have been submitted{% endblocktrans %}</h1>

        <p class="lede">
        {% if plea_type == "guilty" %}
            {% blocktrans count charges=number_of_charges %}Your guilty plea has been sent to the court.{% plural %}Your guilty pleas have been sent to the court.{% endblocktrans %}
        {% elif plea_type == "not_guilty" %}
            {% blocktrans count charges=number_of_charges %}Your not guilty plea has been sent to the court.{% plural %}Your not guilty pleas have been sent to the court.{% endblocktrans %}
        {% elif plea_type == "mixed" %}
            {% blocktrans count charges=number_of_charges %}Your plea has been sent to the court.{% plural %}Your pleas have been sent to the court.{% endblocktrans %}
        {% endif %}
        </p>

    {% endif %}

    {% if plea_made_by == "Company representative" %}

        <h1>{% blocktrans count charges=number_of_charges %}Online plea submitted{% plural %}Online pleas submitted{% endblocktrans %}</h1>

        <p>
        {% if plea_type == "guilty" %}
            {% blocktrans count charges=number_of_charges %}The guilty plea you made on behalf of your company has been sent to the court.{% plural %}The guilty pleas you made on behalf of your company have been sent to the court.{% endblocktrans %}
        {% elif plea_type == "not_guilty" %}
            {% blocktrans count charges=number_of_charges %}The not guilty plea you made on behalf of your company has been sent to the court.{% plural %}The not guilty pleas you made on behalf of your company have been sent to the court.{% endblocktrans %}
        {% elif plea_type == "mixed" %}
            {% blocktrans count charges=number_of_charges %}The plea you made on behalf of your company has been sent to the court.{% plural %}The pleas you made on behalf of your company have been sent to the court.{% endblocktrans %}
        {% endif %}
        </p>

    {% endif %}

    <h2>{% blocktrans %}What happens next:{% endblocktrans %}</h2>
    
    <ul>
        <li>{% blocktrans count charges=number_of_charges %}we’ll send you a letter with the court’s decision within 3  working days after your hearing date{% plural %}we’ll send you a letter with the court’s decisions within 3 working days after your hearing date{% endblocktrans %}</li>

        {% if plea_made_by == "Defendant" %}
        <li>{% blocktrans %}the court will tell you if you need to attend a trial, and what evidence you may need to send to the court in support of your case{% endblocktrans %}</li>
        {% endif %}
        
        {% if plea_made_by == "Company representative" %}
        <li>{% blocktrans %}the court will tell you if a company representative needs to attend a trial, and what evidence might be needed by the court{% endblocktrans %}</li>
        {% endif %}

        <li>{% blocktrans %}you can print a copy of this plea confirmation for your records{% endblocktrans %}</li>
    </ul>

    <h2>{% blocktrans %}Do not:{% endblocktrans %}</h2>
    <ul>
        <li>{% blocktrans %}come to court on the hearing date shown in the requisition pack{% endblocktrans %}</li>
        
        {% if plea_made_by == "Defendant" and plea_type != "not_guilty" %}
        <li>{% blocktrans %}send your driving licence to the court, the DVLA will contact you if they need you to send in your driving licence{% endblocktrans %}</li>
        {% endif %}
    </ul>

    <h2>{% blocktrans %}Need to change a plea?{% endblocktrans %}</h2>

    <p>{% blocktrans with urn=urn|upper %}Contact the court by post or email quoting your URN {{ urn }} before the date of your hearing.{% endblocktrans %}</p>

    <p>{% blocktrans %}The contact details for the court are:{% endblocktrans %}</p>

    <p><strong>{% blocktrans %}By Post:{% endblocktrans %}</strong><br>
        {{ court_address|linebreaksbr }}</p>

    <p><strong>{% blocktrans %}By email:{% endblocktrans %}</strong><br>
        <a href="mailto:{{ court_email }}">{{ court_email }}</a></p>

    <h2>{% blocktrans %}We’re constantly working to improve this service.{% endblocktrans %}</h2>

    <p>{% blocktrans %}Please give us <a href="/feedback/">feedback</a> so we can make it better.{% endblocktrans %}</p>

{% endblock content %}
