{% extends "plea/base.html" %}

{% block content %}

<style>
/*Sorry Vera, hacking this in for now! */
h1 {
    font-size:2em;
    margin-top:0.5em;
}

h2 {
    font-size:1.5em;
    margin-top:0.5em;
}

dt {
    font-weight:bold;
}
dd {
    margin-left:1em;
}

</style>

<form method=POST>
    {% csrf_token %}
    {{ wizard.management_form }}
    <h1>Confirm</h1>
    <h2>About</h2>
    <dl>
        <dt>Date of hearing</dt>
        <dd>{{ about.date_of_hearing }}</dd>
        <dt>Name</dt>
        <dd>{{ about.name }}</dd>
        <dt>URN</dt>
        <dd>{{ about.urn }}</dd>
    </dl>
    <a class="button" href="{% url "plea_form_step" "about" %}?next=review">Edit</a>
    
    <h2>Pleas</h2>
    <dl>
        {%  for plea_info in plea.PleaForms %}
            <dt>Plea {{ forloop.counter }}</dt>
            <dd>{{ plea_info.guilty }}</dd>
            <dt>Plea {{ forloop.counter }} Mitigations</dt>
            <dd>{{ plea_info.mitigations }}</dd>
        {% endfor %}
        <dt>Understand?</dt>
        <dd>{{ plea.understand }}</dd>
    </dl>
    <a class="button" href="{% url "plea_form_step" "plea" %}">Edit</a>
    
    <p><button type="submit" class="button">Submit your plea</button></p>
    
</form>
{% endblock content %}