{% extends "plea/base.html" %}
{% block page_title %}{{ block.super }} Error{% endblock %}
{% block page_content %}

<form method=POST class="form">
    {% csrf_token %}
    <section class="flash error-summary">
        <h2 id="error-heading">Submission error</h2>
        <p>Oops there seems to have been a problem submitting your plea. Please try again.</p>
    </section>

    <div class="actions">
        <button type="submit" class="button">Make a plea</button>
    </div>
    
</form>
{% endblock page_content %}
