{% extends "plea/base.html" %}
{% block page_title %}Plea online: Error{% endblock %}
{% block page_content %}

<form method=POST class="form">
    {% csrf_token %}
    <section class="flash error-summary">
        <h2 id="error-heading">There was a problem sending your plea to the court</h2>
        <p>Submit your plea again below.</p>
        <p>If this problem persists please try again later.</p>
    </section>

    <div class="actions">
        <button type="submit" class="button">Submit your plea</button>
    </div>
    
</form>
{% endblock page_content %}
