{% extends "plea/base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% spaceless %}
{% block page_title %}
    {% if your_finances.split_form != "split_form_last_step" %}
        {% blocktrans %}Your finances{% endblocktrans %}
    {% else %}
        {% blocktrans %}Your finances continued{% endblocktrans %}
    {% endif %}
     - {{ block.super }}
{% endblock %}
{% endspaceless %}


{% block stage_header %}
    <h1>
    {% if your_finances.split_form != "split_form_last_step" %}
        {% blocktrans %}Your finances{% endblocktrans %}
    {% else %}
        {% blocktrans %}Your finances continued{% endblocktrans %}
    {% endif %}
    </h1>

    {% if your_finances.split_form != "split_form_last_step" %}
    <div class="panel-grey">
        <p>{% trans "For this type of offence you'll usually have to pay a fine:" %}</p>
        <ul>
            <li>{% trans "you must provide your income details" %}</li>
            <li>{% trans "the court will decide your fine based on your finances and the seriousness of the offence" %}</li>
            <li>{% trans "your details will be stored securely by the court" %}</li>
        </ul>
    </div>
    {% endif %}
{% endblock stage_header %}


{% block stage_form %}
    {% split_form form %}

    {% if your_finances.split_form != "split_form_last_step" %}
    {% radio_field form.you_are %}
    {% endif %}

    {% if your_finances.split_form == "split_form_last_step" %}

        <div class="form-header">
            {% hidden_field form.you_are %}
            <h2><span>You are:</span>
                {{ form.you_are.value }}
            </h2>
            <a href="{{ request.path }}?reset">Change</a>
        </div>
        
        {% if your_finances.you_are == "Employed" %}

            {% radio_field form.employed_take_home_pay_period hide_optional=True %}

            {% money_field form.employed_take_home_pay_amount hide_optional=True %}

            {% radio_field form.employed_hardship hide_optional=True %}

            <div id="employed_hardship-True" class="js-Conditional" data-conditional-trigger="employed_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider reducing your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        {% endif %}

        {% if your_finances.you_are == "Self-employed" %}

            {% radio_field form.self_employed_pay_period hide_optional=True %}

            <div id="section-self-employed-other" class="form-group move-up js-Conditional" data-conditional-trigger="self_employed_pay_period" data-conditional-value="Self-employed other">
                {% std_field form.self_employed_pay_other hide_optional=True %}
            </div>

            {% money_field form.self_employed_pay_amount hide_optional=True %}

            {% radio_field form.self_employed_hardship hide_optional=True %}

            <div id="self_employed_hardship-True" class="js-Conditional" data-conditional-trigger="self_employed_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider reducing your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        {% endif %}

        {% if your_finances.you_are == "Receiving benefits" %}

            {% std_field form.benefits_details hide_optional=True %}

            {% radio_field form.benefits_dependents hide_optional=True %}

            {% radio_field form.benefits_period hide_optional=True %}

            <div id="section-benefits-other" class="form-group move-up js-Conditional" data-conditional-trigger="benefits_period" data-conditional-value="Benefits other">
                {% std_field form.benefits_pay_other hide_optional=True %}
            </div>

            {% money_field form.benefits_amount hide_optional=True %}

            {% radio_field form.receiving_benefits_hardship hide_optional=True %}

            <div id="receiving_benefits_hardship-True" class="js-Conditional" data-conditional-trigger="receiving_benefits_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider reducing your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        {% endif %}

        {% if your_finances.you_are == "Other" %}

            {% std_field form.other_details hide_optional=True %}

            {% money_field form.other_pay_amount hide_optional=True %}

            {% radio_field form.other_hardship hide_optional=True %}

            <div id="other_hardship-True" class="js-Conditional" data-conditional-trigger="other_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider reducing your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        {% endif %}

    {% endif %}
    
{% endblock stage_form %}
