{% extends "plea/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load form_widgets %}

{% block page_title %}{% trans "Your finances" %} - {{ block.super }}{% endblock %}

{% block page_content %}
<form action="{{ request.path }}" method="post" autocomplete="off" novalidate>

    {% csrf_token %}

    {% with forms.0 as form %}
    
        {% if form.errors %}
        <section class="error-summary">
            <h2>{% trans "You need to fix the errors on this page before continuing." %}</h2>

            <p>{% trans "See highlighted errors below." %}</p>
            
            <ul>
            {% for field in form %}
                {% if field.errors %}
                <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
        {% endif %}

    <header class="content-header">
        <h1>{% trans "Your finances" %}</h1>
    </header>

    <ul>
        <li>{% trans "For this type of offence you'll usually have to pay a fine" %}</li>
        <li>{% trans "You must provide your income details" %}</li>
        <li>{% trans "The court will decide your fine based on your finances and the seriousness of the offence" %}</li>
        <li>{% trans "Your details will be stored securely by the court" %}</li>
    </ul>

    {% radio_field form.you_are %}

    <ul class="js-hidden go-to">
        <li>{% blocktrans %}If you answered <em>Employed</em>, fill in the section <a href="#section-employed">"You are: Employed"</a>{% endblocktrans %}</li>
        <li>{% blocktrans %}If you answered <em>Self-employed</em>, fill in the section <a href="#section-self-employed">"You are: Self-employed"</a>{% endblocktrans %}</li>
        <li>{% blocktrans %}If you answered <em>Receiving benefits</em>, fill in the section <a href="#section-receiving-benefits">"You are: Receiving benefits"</a>{% endblocktrans %}</li>
        <li>{% blocktrans %}If you answered <em>Other</em>, fill in the section <a href="#section-other">"You are: Other"</a>{% endblocktrans %}</li>
    </ul>
        
    <div id="section-employed" class="js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Employed">

        <h3 class="js-hidden">{% trans "You are: Employed" %}</h3>

        <div class="panel-indent move-up">
        
            {% std_field form.employed_your_job hide_optional=True %}

            {% radio_field form.employed_take_home_pay_period hide_optional=True %}

            {% money_field form.employed_take_home_pay_amount hide_optional=True %}

            {% radio_field form.employed_hardship hide_optional=True %}

            <div id="employed_hardship-True" class="js-Conditional" data-conditional-trigger="employed_hardship" data-conditional-value="True">
                <h4 class="heading-small">{% trans "Note:" %}</h4>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    <div id="section-self-employed" class="js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Self-employed">

        <h3 class="js-hidden">{% trans "You are: Self-employed" %}</h3>

        <div class="panel-indent move-up">

            {% std_field form.your_job hide_optional=True %}

            {% radio_field form.self_employed_pay_period hide_optional=True %}

            <div id="section-self-employed-other" class="form-group move-up js-Conditional" data-conditional-trigger="self_employed_pay_period" data-conditional-value="Self-employed other">
                <h4 class="heading-small js-hidden">If you answered "Other":</h4>
                {% std_field form.self_employed_pay_other hide_optional=True %}
            </div>

            {% money_field form.self_employed_pay_amount hide_optional=True %}

            {% radio_field form.self_employed_hardship hide_optional=True %}

            <div id="self_employed_hardship-True" class="js-Conditional" data-conditional-trigger="self_employed_hardship" data-conditional-value="True">
                <h4 class="heading-small">{% trans "Note:" %}</h4>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    <div id="section-receiving-benefits" class="js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Receiving benefits">

        <h3 class="js-hidden">{% trans "You are: Receiving benefits" %}</h3>

        <div class="panel-indent move-up">

            {% std_field form.benefits_details hide_optional=True %}

            {% radio_field form.benefits_dependents hide_optional=True %}

            {% radio_field form.benefits_period hide_optional=True %}

            <div id="section-benefits-other" class="form-group move-up js-Conditional" data-conditional-trigger="benefits_period" data-conditional-value="Benefits other">
                <h4 class="heading-small js-hidden">If you answered "Other":</h4>
                {% std_field form.benefits_pay_other hide_optional=True %}
            </div>

            {% money_field form.benefits_amount hide_optional=True %}

            {% radio_field form.receiving_benefits_hardship hide_optional=True %}

            <div id="receiving_benefits_hardship-True" class="js-Conditional" data-conditional-trigger="receiving_benefits_hardship" data-conditional-value="True">
                <h4 class="heading-small">{% trans "Note:" %}</h4>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    <div id="section-other" class="js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Other">

        <h3 class="js-hidden">{% trans "You are: Other" %}</h3>

        <div class="panel-indent move-up">

            {% std_field form.other_details hide_optional=True %}

            {% money_field form.other_pay_amount hide_optional=True %}

            {% radio_field form.other_hardship hide_optional=True %}

            <div id="other_hardship-True" class="js-Conditional" data-conditional-trigger="other_hardship" data-conditional-value="True">
                <h4 class="heading-small">{% trans "Note:" %}</h4>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    {% endwith %}

    <div class="form-submit">
        <button class="button" type="submit">{% trans "Continue" %}</button>
    </div>

</form>
{% endblock page_content %}
