{% extends "plea/base.html" %}

{% load staticfiles %}

{% block page_title %}{{ block.super }} Your Finances{% endblock %}

{% block page_content %}
<form action="{{ request.path }}" method="post" autocomplete="off">

    {% csrf_token %}

    {% with forms.0 as form %}
    
        {% if form.errors %}
        <section class="error-summary">
            <h2 class="heading-medium">You need to fix the errors on this page before continuing.</h2>

            <p>See highlighted errors below.</p>
            
            <ul class="errors-list">
            {% for field in form %}
                {% if field.errors %}
                <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
        {% endif %}

    <header class="content-header">
        <h1 class="heading-xlarge">Your finances</h1>
    </header>

    <ul class="list-bullet">
        <li>For this type of offence you'll usually have to pay a fine</li>
        <li>You must provide your income details</li>
        <li>The court will decide your fine based on your finances and the seriousness of the offence</li>
        <li>Your details will be stored securely by the court</li>
    </ul>

    <div id="section_{{ form.you_are.name }}">

        {% with form.you_are as field %}
        {% include "widgets/radio_field.html" %}
        {% endwith %}
            
        <div class="move-up js-hidden" id="section-employed">

            <h4 class="heading-medium js-hidden">If you are employed:</h4>

            <div class="panel-indent">
            
                {% with form.employed_your_job as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.employed_take_home_pay_period as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                {% with form.employed_take_home_pay_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.employed_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div class="employed_hardship employed_hardship-True">
                    <h4 class="heading-small">Note:</h4>
                    <p>For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen.</p>
                </div>

            </div>
        </div>

        <div class="move-up js-hidden" id="section-self-employed">

            <h4 class="heading-medium js-hidden">If you are self-employed:</h4>

            <div class="panel-indent">

                {% with form.your_job as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.self_employed_pay_period as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div class="move-up js-hidden" id="section-self-employed-other">
                    {% with form.self_employed_pay_other as field %}
                    {% include "widgets/std_field.html" %}
                    {% endwith %}
                </div>

                {% with form.self_employed_pay_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.self_employed_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div class="self_employed_hardship self_employed_hardship-True">
                    <h4 class="heading-small">Note:</h4>
                    <p>For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen.</p>
                </div>

            </div>
        </div>

        <div class="move-up js-hidden" id="section-receiving-benefits">

            <h4 class="heading-medium js-hidden">If you are receiving benefits:</h4>

            <div class="panel-indent">

                {% with form.benefits_details as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.benefits_dependents as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.benefits_period as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div class="move-up js-hidden" id="section-benefits-other">
                    {% with form.benefits_pay_other as field %}
                    {% include "widgets/std_field.html" %}
                    {% endwith %}
                </div>

                {% with form.benefits_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.receiving_benefits_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div class="receiving_benefits_hardship receiving_benefits_hardship-True">
                    <h4 class="heading-small">Note:</h4>
                    <p>For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen.</p>
                </div>

            </div>
        </div>

        <div class="move-up js-hidden" id="section-other">

            <h4 class="heading-medium js-hidden">If you answered 'Other':</h4>

            <div class="panel-indent">

                {% with form.other_details as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.other_pay_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.other_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div class="other_hardship other_hardship-True">
                    <h4 class="heading-small">Note:</h4>
                    <p>For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen.</p>
                </div>

            </div>
        </div>

    </div>

    {% endwith %}

    <div class="form-group form-submit">
        <button class="button" type="submit">Continue</button>
    </div>

</form>
{% endblock page_content %}
