{% extends "plea/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load form_widgets %}

{% block page_title %}
    {% if your_finances.nojs != "nojs_last_step" %}
        {% blocktrans %}Your finances{% endblocktrans %}
    {% else %}
        {% blocktrans %}Your finances continued{% endblocktrans %}
    {% endif %}
     - {{ block.super }}
{% endblock %}

{% block page_content %}
<form action="{{ request.path }}" method="post" autocomplete="off" novalidate>

    {% csrf_token %}

    {% no_js form %}

    {% if form.errors %}
    <section class="error-summary">
        <h2>{% trans "You need to fix the errors on this page before continuing." %}</h2>

        <p>{% trans "See highlighted errors below." %}</p>

        <ul>
        {% for field in form %}
            {% if field.errors %}
            <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    <header class="content-header">
        <h1>
        {% if your_finances.nojs != "nojs_last_step" %}
            {% blocktrans %}Your finances{% endblocktrans %}
        {% else %}
            {% blocktrans %}Your finances continued{% endblocktrans %}
        {% endif %}
        </h1>
    </header>

    {% if your_finances.nojs != "nojs_last_step" %}
    <div class="panel-grey">
        <p>{% trans "For this type of offence you'll usually have to pay a fine:" %}</p>
        <ul>
            <li>{% trans "you must provide your income details" %}</li>
            <li>{% trans "the court will decide your fine based on your finances and the seriousness of the offence" %}</li>
            <li>{% trans "your details will be stored securely by the court" %}</li>
        </ul>
    </div>
    {% endif %}

    {% if your_finances.nojs == "nojs_last_step" %}
    <div class="nojs-hidden">
        {% radio_field form.you_are %}
    </div>
    <div class="form-header js-hidden">
        <h2><span>You are:</span>
            {{ form.you_are.value }}
        </h2>
        <a href="{{ request.path }}?reset">Change</a>
    </div>
    {% else %}
        {{ form.nojs_trigger_submitted }}
        {% radio_field form.you_are %}
    {% endif %}

    <div id="section-employed" class="js-Conditional{% if your_finances.nojs != "nojs_last_step" or form.you_are.value != "Employed" %} nojs-hidden{% endif %}" data-conditional-trigger="you_are" data-conditional-value="Employed">

        <div class="panel-indent">

            {% radio_field form.employed_take_home_pay_period hide_optional=True %}

            {% money_field form.employed_take_home_pay_amount hide_optional=True %}

            {% radio_field form.employed_hardship hide_optional=True %}

            <div id="employed_hardship-True" class="js-Conditional" data-conditional-trigger="employed_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    <div id="section-self-employed" class="js-Conditional{% if your_finances.nojs != "nojs_last_step" or form.you_are.value != "Self-employed" %} nojs-hidden{% endif %}" data-conditional-trigger="you_are" data-conditional-value="Self-employed">

        <div class="panel-indent">

            {% radio_field form.self_employed_pay_period hide_optional=True %}

            <div id="section-self-employed-other" class="form-group move-up js-Conditional" data-conditional-trigger="self_employed_pay_period" data-conditional-value="Self-employed other">
                {% std_field form.self_employed_pay_other hide_optional=True %}
            </div>

            {% money_field form.self_employed_pay_amount hide_optional=True %}

            {% radio_field form.self_employed_hardship hide_optional=True %}

            <div id="self_employed_hardship-True" class="js-Conditional" data-conditional-trigger="self_employed_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    <div id="section-receiving-benefits" class="js-Conditional{% if your_finances.nojs != "nojs_last_step" or form.you_are.value != "Receiving benefits" %} nojs-hidden{% endif %}" data-conditional-trigger="you_are" data-conditional-value="Receiving benefits">

        <div class="panel-indent">

            {% std_field form.benefits_details hide_optional=True %}

            {% radio_field form.benefits_dependents hide_optional=True %}

            {% radio_field form.benefits_period hide_optional=True %}

            <div id="section-benefits-other" class="form-group move-up js-Conditional" data-conditional-trigger="benefits_period" data-conditional-value="Benefits other">
                {% std_field form.benefits_pay_other hide_optional=True %}
            </div>

            {% money_field form.benefits_amount hide_optional=True %}

            {% radio_field form.receiving_benefits_hardship hide_optional=True %}

            <div id="receiving_benefits_hardship-True" class="js-Conditional" data-conditional-trigger="receiving_benefits_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    <div id="section-other" class="js-Conditional{% if your_finances.nojs != "nojs_last_step" or form.you_are.value != "Other" %} nojs-hidden{% endif %}" data-conditional-trigger="you_are" data-conditional-value="Other">

        <div class="panel-indent">

            {% std_field form.other_details hide_optional=True %}

            {% money_field form.other_pay_amount hide_optional=True %}

            {% radio_field form.other_hardship hide_optional=True %}

            <div id="other_hardship-True" class="js-Conditional" data-conditional-trigger="other_hardship" data-conditional-value="True">
                <h2 class="heading-small">{% trans "Note:" %}</h2>
                <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
            </div>

        </div>
    </div>

    <div class="form-submit">
        <button class="button" type="submit">{% trans "Continue" %}</button>
    </div>

</form>
{% endblock page_content %}
