{% extends "plea/base.html" %}

{% block page_title %}{{ block.super }} Your expenses{% endblock %}

{% load staticfiles testing %}

{% block page_content %}
<form method="POST" autocomplete="off">
    
    {% csrf_token %}
    
    {% with forms.0 as form %}
        {% if form.errors %}
        <section class="error-summary">
            <h2 class="heading-medium">You need to fix the errors on this page before continuing.</h2>
            
            <p>See highlighted errors below.</p>
            
            <ul class="errors-list">
            {% for field in form %}
                {% if field.errors %}
                <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
        {% endif %}

        <header class="content-header">
            <h1 class="heading-xlarge">Your expenses</h1>

            <p class="lede">To help the court decide your fine, you must provide information about your expenses.</p>
        </header>

        <hr>

        {% with form.hardship_details as field %}
        {% include "widgets/wide_field.html" %}
        {% endwith %}


        <div id="household_expenses">
            <h2 class="heading-large">Household expenses</h2>

            <p>What are your monthly household bills for the following?</p>

            <div class="grid-row">
                <div class="column-half">
                    {% with form.household_accommodation as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
                <div class="column-half">
                    {% with form.household_utility_bills as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    {% with form.household_insurance as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
                <div class="column-half">
                    {% with form.household_council_tax as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
            </div>

            {% with form.other_bill_payers as field %}
            {% include "widgets/std_field.html" %}
            {% endwith %}
        </div>

        <hr>


        <div id="other_expenses">
            <h2 class="heading-medium">Other expenses</h2>

            <p>What are your monthly bills for the following?</p>

            <div class="grid-row">
                <div class="column-half">
                    {% with form.other_tv_subscription as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
                <div class="column-half">
                    {% with form.other_travel_expenses as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    {% with form.other_telephone as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
                <div class="column-half">
                    {% with form.other_loan_repayments as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    {% with form.other_court_payments as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
                <div class="column-half">
                    {% with form.other_child_maintenance as field %}
                    {% include "widgets/money_field.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    {% endwith %}

    <div class="js-enabled">
        
        <hr>

        <h2 class="heading-large">Totals</h2>

        <div class="form-group">
            <table id="expense-summary">
                <tr>
                    <th>Total household expenses</th>
                    <td>£<span class="total_household"></span></td>
                </tr>
                <tr>
                    <th>Total other expenses</th>
                    <td>£<span class="total_other"></span></td>
                </tr>
                <tr class="total">
                    <th>Total expenses</th>
                    <td>£<span class="total_expenses"></span></td>
                </tr>
            </table>
        </div>
        
    </div>

    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>

</form>
{% endblock page_content %}
