{% extends "plea/base.html" %}

{% load i18n %}

{% load staticfiles %}

{% block page_title %}{{ block.super }} {% trans "Your Finances" %}{% endblock %}

{% block page_content %}
<form action="{{ request.path }}" method="post" autocomplete="off" novalidate>

    {% csrf_token %}

    {% with forms.0 as form %}
    
        {% if form.errors %}
        <section class="error-summary">
            <h2 class="heading-medium">{% trans "You need to fix the errors on this page before continuing." %}</h2>

            <p>{% trans "See highlighted errors below." %}</p>
            
            <ul class="errors-list">
            {% for field in form %}
                {% if field.errors %}
                <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
        {% endif %}

    <header class="content-header">
        <h1 class="heading-xlarge">{% trans "Your finances" %}</h1>
    </header>

    <ul class="list-bullet">
        <li>{% trans "For this type of offence you'll usually have to pay a fine" %}</li>
        <li>{% trans "You must provide your income details" %}</li>
        <li>{% trans "The court will decide your fine based on your finances and the seriousness of the offence" %}</li>
        <li>{% trans "Your details will be stored securely by the court" %}</li>
    </ul>

    <div>

        {% with form.you_are as field %}
        {% include "widgets/radio_field.html" %}
        {% endwith %}
            
        <div id="section-employed" class="move-up js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Employed">

            <div class="panel-indent">
            
                {% with form.employed_your_job as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.employed_take_home_pay_period as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                {% with form.employed_take_home_pay_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.employed_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div id="employed_hardship-True" class="js-Conditional" data-conditional-trigger="employed_hardship" data-conditional-value="True">
                    <h4 class="heading-small">{% trans "Note:" %}</h4>
                    <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
                </div>

            </div>
        </div>

        <div id="section-self-employed" class="move-up js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Self-employed">

            <div class="panel-indent">

                {% with form.your_job as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.self_employed_pay_period as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div id="section-self-employed-other" class="move-up js-Conditional" data-conditional-trigger="self_employed_pay_period" data-conditional-value="Self-employed other">
                    {% with form.self_employed_pay_other as field %}
                    {% include "widgets/std_field.html" %}
                    {% endwith %}
                </div>

                {% with form.self_employed_pay_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.self_employed_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div id="self_employed_hardship-True" class="js-Conditional" data-conditional-trigger="self_employed_hardship" data-conditional-value="True">
                    <h4 class="heading-small">{% trans "Note:" %}</h4>
                    <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
                </div>

            </div>
        </div>

        <div id="section-receiving-benefits" class="move-up js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Receiving benefits">

            <div class="panel-indent">

                {% with form.benefits_details as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.benefits_dependents as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                {% with form.benefits_period as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div id="section-benefits-other" class="move-up js-Conditional" data-conditional-trigger="benefits_period" data-conditional-value="Benefits other">
                    {% with form.benefits_pay_other as field %}
                    {% include "widgets/std_field.html" %}
                    {% endwith %}
                </div>

                {% with form.benefits_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.receiving_benefits_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div id="receiving_benefits_hardship-True" class="js-Conditional" data-conditional-trigger="receiving_benefits_hardship" data-conditional-value="True">
                    <h4 class="heading-small">{% trans "Note:" %}</h4>
                    <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
                </div>

            </div>
        </div>

        <div id="section-other" class="move-up js-hidden js-Conditional" data-conditional-trigger="you_are" data-conditional-value="Other">

            <div class="panel-indent">

                {% with form.other_details as field %}
                {% include "widgets/std_field.html" %}
                {% endwith %}

                {% with form.other_pay_amount as field %}
                {% include "widgets/money_field.html" %}
                {% endwith %}

                {% with form.other_hardship as field %}
                {% include "widgets/radio_field.html" %}
                {% endwith %}

                <div id="other_hardship-True" class="js-Conditional" data-conditional-trigger="other_hardship" data-conditional-value="True">
                    <h4 class="heading-small">{% trans "Note:" %}</h4>
                    <p>{% trans "For the court to consider a reduction to your fine, you must provide information about your expenses on the next screen." %}</p>
                </div>

            </div>
        </div>

    </div>

    {% endwith %}

    <div class="form-group form-submit">
        <button class="button" type="submit">{% trans "Continue" %}</button>
    </div>

</form>
{% endblock page_content %}
