{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Service unavailable{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    <header class="content-header" style="margin-top:20%;">
        <h1>{% blocktrans %}We are experiencing technical difficulties{% endblocktrans %}</h1>
    </header>

    <section class="lede">
        <p>{% blocktrans %}The online plea service is not available right now, but we're working hard to get things up and running again. Try again later.{% endblocktrans %}</p>
    </section>

{% endblock page_content %}
