{% extends "base.html" %}

{% block page_title %}Helping you plead online - {{ block.super }}{% endblock %}

{% block page_content %}

<header class="content-header">
    <h1>Helping you plead online</h1>

    <p>A call centre is available for people who cannot use this online service without help.</p>
</header>

<article class="headings-collapse">

    <p>If you have questions about your case, you'll need to contact your court - not this call centre. You can find the contact details for your court using our <a href="{% url "court_finder" %}">court finder service</a>.</p>

    <h2 class="heading-medium">Before you call:</h2>

    <div class="panel-indent">
        <ul>
            <li>have the pack we sent with you - you'll be asked to enter information from it</li>
            <li>be connected to www.makeaplea.service.gov.uk from an internet-enabled device, for example, laptop, tablet or mobile phone</li>
        </ul>
    </div>

    <h2 class="heading-medium">The call centre staff:</h2>

    <div class="panel-indent">
        <ul>
            <li>be able to help you make your plea and/or provide assistance with the court process</li>
            <li>please note they cannot give you legal advice</li>
        </ul>
    </div>

    <p class="font-large">Call 0300 303 0656<br>
        (Monday - Friday 9am - 5pm)</p>

    <p><a href="/">Back</a></p>
</article>

{% endblock page_content %}
