{% extends "base.html" %}

{% load i18n %}

{% block page_content %}

<div class="grid-row">

    <div class="column-two-thirds">

        <header class="content-header">
            <h1>{% blocktrans %}Make a plea online{% endblocktrans %}</h1>

            <p>{% blocktrans %}Use this service to plead guilty or not guilty to each offence you're charged with.{% endblocktrans %}</p>
        </header>
        <div id='emergency_message_box'>
            <p>{% blocktrans %}Please note that due to the COVID-19 pandemic HMCTS has had to reduce it service and your case now will be delayed and considered at a date in the future. You can find further information on the current position affecting courts business on the gov.uk website. We apologise for any inconvenience that this may cause you.{% endblocktrans %}</p>
            <p>{% blocktrans %}Please note that you can only use the Make a Plea service for 21 days from your posting date on your notice.{% endblocktrans %}</p>
        </div>
        <article>

            <div class="text headings-collapse">
                <h2 class="heading-medium">{% blocktrans %}You'll need to:{% endblocktrans %}</h2>

                <div class="panel-indent">
                    <ul>
                        <li>{% blocktrans %}carefully read the notice, charge sheet and witness statements in the pack we sent to you{% endblocktrans %}</li>
                        <li>{% blocktrans %}enter information contained in the pack, so have it with you when you start{% endblocktrans %}</li>
                        <li>{% blocktrans %}be the person, or an official representative of the company, named in the notice{% endblocktrans %}</li>
                    </ul>
                </div>

                <h2 class="heading-medium">{% blocktrans %}You may:{% endblocktrans %}</h2>

                <div class="panel-indent">
                    <ul>
                        <li>{% blocktrans %}get a 33% reduction on your fine if you plead guilty{% endblocktrans %}</li>
                        <li>{% blocktrans %}be asked to enter your National Insurance and UK driving licence numbers{% endblocktrans %}</li>
                        <li>{% blocktrans %}be asked about your income and outgoings (such as utility bills), or your company's finances, so the magistrate can work out your fine{% endblocktrans %}</li>
                    </ul>
                </div>
            </div>

            <a class="button button-get-started" role="button" href="{% url "plea_form" %}">{% blocktrans %}Start now{% endblocktrans %}</a>

        </article>
    </div>

    <div class="column-third">
        <aside class="related-start">
            <h2 class="heading-medium">{% blocktrans %}Support{% endblocktrans %}</h2>

            <nav>
                <ul>
                    <li><a rel="external" href="http://www.lawsociety.org.uk/for-the-public/common-legal-issues/criminal/" target="_blank">{% blocktrans %}Legal help and advice{% endblocktrans %}</a></li>
                    <li><a href="{% url "court_finder" %}">{% blocktrans %}Questions about your pleas?{% endblocktrans %}</a></li>
                    <li><a href="{% url "ad_support" %}">{% blocktrans %}Need help using this service?{% endblocktrans %}</a></li>
                </ul>
            </nav>
        </aside>
    </div>

</div>
{% endblock page_content %}
