{% extends "base.html" %}

{% block page_title %}Terms and conditions and privacy policy - {{ block.super }}{% endblock %}

{% block page_content %}

<header class="content-header">
    <h1>Terms and conditions and privacy policy</h1>
    <p>Using the Make a Plea service means you agree to our privacy policy and to these terms and conditions. Please read them carefully.</p>
</header>

<article>
    <section id="terms-and-conditions">
        <p>This privacy policy explains why we collect your personal data and what we do with it. It also explains your rights and how to enforce them.</p>
        <p>If you don't agree to these terms and conditions and the privacy policy, do not use this service. Instead, please complete the forms sent to you by post and return them to the court.</p>

        <h3>Using this service responsibly</h3>

        <p>There are risks in using a shared computer, such as in an internet café, to use this service. It’s your responsibility to be aware of these risks and to avoid using any computer which may leave your personal information accessible by others. You are responsible if you choose to leave a computer unprotected while in the process of making a plea online.</p>
        <p>We make every effort to check and test this service whenever we amend or update it. However, you must take your own precautions to ensure that the way you access this service does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system.</p>
        <p>You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other malicious or technologically harmful material. You must not attempt to gain unauthorised access to our service, the system on which our service is stored or any server, computer or database connected to our service. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack.</p>

        <h3>Who manages this service</h3>

        <p>This service is managed by Her Majesty’s Courts and Tribunals Service (HMCTS), which is an executive agency of the Ministry of Justice (MoJ).</p>
        <p>The MoJ is known as the data controller for data protection purposes. The <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">MoJ personal information charter</a> explains how the MoJ processes personal data.</p>
        <p>As part of the MoJ, HMCTS is responsible for deciding how your personal data is used and for protecting the personal data you provide.</p>
        <p>More information about using this service is in the <a href="https://hmcts-access.service.gov.uk/terms-and-conditions">terms and conditions</a>.</p>

        <h3>Why we collect your personal data</h3>
        <p>We collect your personal data to:</p>
        <ul>
            <li>enable your plea to be processed</li>
            <li>set an appropriate time to pay should a fine be imposed</li>
            <li>administer justice</li>
            <li>meet legal requirements</li>
            <li>make improvements to this service</li>
        </ul>

        <p>Our staff use your personal data to meet legal requirements and for the administration of justice. They work in the UK and your data is stored in the UK.</p>

        <h3>Types of personal data we collect</h3>
        <p>The personal data we collect includes:</p>
        <ul>
            <li>your name, address and contact details</li>
            <li>your email</li>
            <li>other personal information you provide in your plea submission</li>
            <li>national insurance number</li>
        </ul>
        <p>We only process personal data that is relevant for meeting our legal obligations and for the administration of justice. We necessarily process personal data for the purposes of the administration of justice and supporting the independent judiciary in upholding the rule of law and in delivering justice impartially, speedily and efficiently.</p>

        <h3>Using your data</h3>
        <p>As part of your plea online you’ll be asked to provide your email address. This is to provide resulting notification for guilty pleas online.</p>
        <p>We may ask for your permission to use your email address to send you emails using GOV.UK Notify. This system processes emails only within the European Economic Area until the point where emails are handed over to the email provider you use.</p>
        <p>We use cookies to collect data that tells us about how you’re using this service, including:</p>
        <ul>
            <li>if you open an email from us or click on a link in an email</li>
            <li>your computer, phone or tablet’s IP address</li>
            <li>the region or town where you are using your computer, phone or tablet</li>
            <li>the web browser you use</li>
        </ul>

        <h3>Storing your data</h3>
        <p>When you make your plea online we store the data you have provided. The amount of time that your data is kept for depends on the service that you are using.</p>

        <h3>Sharing your data</h3>
        <p>If another government department is involved in processing your plea, we’ll share your data with them.</p>
        <p>If you contact us and ask for help with a service you are using, your personal data may be shared with the Good Things Foundation. This is a company who we have partnered with to offer face to face support.</p>
        <p>In some circumstances and where the law permits it, we may share your personal information with other justice organisations for the prevention or detection of crime; or to produce anonymised statistics. Where this is necessary, we will comply with all the relevant data protection laws.</p>
        <p>We use Google Analytics to collect our website statistics. This anonymous website usage data is shared with Google.</p>

        <h3>Your rights</h3>
        <p>You can ask:</p>
        <ul>
            <li>to see the personal data that we hold on you</li>
            <li>to have the personal data corrected</li>
            <li>to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your claim or application)</li>
            <li>that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically deleted)</li>
        </ul>

        <p>If you want to see the personal data that we hold on you, you can make a subject access <a href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">request</a>. This request goes to the MoJ as data controller.</p>
        <p>OR</p>
        <ul>
            <li>write to us:</li>
            <li>Disclosure Team</li>
            <li>Post point 10.24</li>
            <li>102 Petty France</li>
            <li>London</li>
            <li>SW1H 9AJ</li>
            <li>Email: <a href="mailto:data.access@Justice.gov.uk">data.access@Justice.gov.uk</a></li>
        </ul>

        <p>You can ask for more information about:</p>
        <ul>
            <li>agreements we have on sharing information with other organisations</li>
            <li>when we are allowed to pass on personal information without telling you</li>
            <li>our instructions to staff on how to collect, use or delete your personal information</li>
            <li>how we check that the information we hold is accurate and up-to-date</li>
        </ul>
        <p>You can contact the MoJ data protection officer, by:</p>
        <ul>
            <li>The Data Protection Officer </li>
            <li>Ministry of Justice</li>
            <li>3rd Floor, Post Point 3.20</li>
            <li>10 South Colonnades</li>
            <li>Canary Wharf </li>
            <li>London</li>
            <li>E14 4PU</li>
            <li>Email: <a href="mailto:DPO@justice.gov.uk">DPO@justice.gov.uk</a></li>
        </ul>

        <h3>How to complain</h3>
        <p>See our <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">complaints procedure</a> if you want to complain about how we've handled your personal data.</p>

        <p>You can also complain to the <a href="https://ico.org.uk/global/contact-us">Information Commissioner’s Office</a> if you’re not satisfied with our response or believe we are not processing your personal data lawfully.</p>

        <h2>Using the make a plea service</h2>
        <h3>The personal data we need</h3>
        <p>If you are using the make a plea service we will ask you for:</p>
        <ul>
            <li>your name</li>
            <li>your business or organisation if you are acting on their behalf</li>
            <li>your date of birth</li>
            <li>your email or mobile phone number</li>
            <li>your address</li>
            <li>your National Insurance number</li>
            <li>Your Driver number</li>
            <li>Financial information in relation to your means</li>
        </ul>

        <h3>Storing your data</h3>
        <p>The information you submit when making a plea is stored for 20 weeks in the Make a Plea portal before it’s deleted.</p>

        <h3>Sharing your data</h3>
        <p>The information you submit will be shared with the police, the relevant court, enforcement and the DVLA.</p>
        <p>In some circumstance and where the law permits it, we may share your personal information with other justice organisations for the prevention or detection of crime; or to produce anonymised statistics. Where this is necessary, we will comply with all the relevant data protection laws.</p>
        <p>As in all criminal cases, some information will be available to the press and public on demand, unless a reporting restriction is applied or the court decides otherwise. If you want to know how the data you provide is used, please visit: <a href="http://www.justice.gov.uk/courts/procedure-rules/criminal/forms">www.justice.gov.uk/courts/procedure-rules/criminal/forms</a></p>

        <h3>Further information</h3>
        <p>Refer to GOV.UK privacy policy <a href="https://www.gov.uk/help/privacy-notice">here</a></p>
    </section>
</article>

{% endblock %}
