{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Page not found{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    <header class="content-header" style="margin-top:17%;">
        <h1>{% blocktrans %}Page not found{% endblocktrans %}</h1>
    </header>

    <section class="lede">
        <p>{% blocktrans %}If you entered a web address please check it was correct, or you can:{% endblocktrans %}<br>
            {% blocktrans %}<a href="/">Start a new plea</a> or go to <a href="https://www.gov.uk/">GOV.UK</a>{% endblocktrans %}</p>
    </section>

{% endblock page_content %}
