{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Page Not found" %}{% endblock %}

{% block page_content %}
    <header class="page-header group">
        <div><h1>{% blocktrans %}<span>Service</span>Make your plea{% endblocktrans %}</h1></div>
    </header>

    <section class="confirmation">
        <p class="lead"><strong>{% trans "We are experiencing technical difficulties" %}</strong></p>
        <p>{% trans "The online plea service is not available right now, but we're working hard to get things up and running again." %}<p>
        <p>{% blocktrans %}<a href="/">Please try again in ten minutes</a> or go to <a href="http://www.gov.uk/">GOV.UK</a>.{% endblocktrans %}</p>
    </section>
{% endblock page_content %}