{% extends "base.html" %}

{% load i18n %}

{% block page_content %}

    {% if form.errors.items or formset_has_errors %}
    <section class="error-summary" role="alert">
        {% block errors_summary %}
        <h1 class="heading-medium">{% blocktrans %}You need to fix the errors on this page before continuing.{% endblocktrans %}</h1>

        <p>{% blocktrans %}See highlighted errors below.{% endblocktrans %}</p>

        <ul>
        {% for field in form %}
            {% if field.errors %}
            <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% endblock errors_summary %}
    </section>
    {% endif %}

    <header class="content-header">
        {% block stage_header %}

        {% endblock stage_header %}
    </header>

    <form {% block form_attributes %}{% endblock form_attributes %} action="{{ request.path }}" method="post" autocomplete="off" novalidate>
        {% csrf_token %}

        {% block stage_form %}

        {% endblock stage_form %}

        {% block stage_submit %}
        <div class="form-submit">
            <button class="button" type="submit">{% blocktrans %}Continue{% endblocktrans %}</button>
        </div>
        {% endblock stage_submit %}

        {% block stage_after_form %}{% endblock stage_after_form %}
    </form>

{% endblock %}
