{% extends 'moj_template/base.html' %}

{% load staticfiles %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/main.css" %}">
{% endblock %}

{% block content %}
  {%  if messages %}
    <section class="flash success">
      {% for message in messages %}
        <h2>{{ message }}</h2>
      {% endfor %}
    </section>
  {% endif %}
  {% block right %}{% endblock %}
  {% block page_content %}{% endblock %}
{% endblock %}

{% block javascripts %}
  <script src="/static/javascripts/application.js" type="text/javascript"></script>
{% endblock %}

{% block footer_top %}

{% endblock footer_top %}
