{% extends 'base.html' %}

{% block content %}
<header class="page-header group">
	<hgroup>
		<h1>Guilty Plea Form (In Absence)</h1>
	</hgroup>
</header>
<form class="form">
	<p>By filling this form, I plead guilty and ask the court to deal with my case in my absence.</p>
	<fieldset>
		<h2>1. Personal details</h2>
		<div class="group">
			<label for="urn">
				URN
			</label>
			<input type="number" name="urn" value="" id="urn" required>
		</div>
		
		<div class="group">
			<label for="name">
				Name
			</label>
			<input type="text" name="name" value="" id="name">
		</div>
		
		<div class="group">
			<label for="address">
				Address
			</label>
			<textarea></textarea>
		</div>
		
		<div class="group">
			<label for="email">
				Email
			</label>
			<input type="email" name="email" value="" id="email">
		</div>
		
		<div class="group">
			<label for="gender">
				Gender
			</label>
			<input type="text" name="gender" value="" id="gender">
		</div>
		
		<div class="group">
			<label for="dob">
				What is your date of birth?
				<span class="hint">For example 31/12/1970</span>
			</label>
			<input type="number" name="dob" value="" id="dob">
		</div>
		
		<div class="group">
			<label for="landline">
				Landline
			</label>
			<input type="text" name="landline" value="" id="landline">
		</div>
		
		<div class="group">
			<label for="mobile">
				Mobile
			</label>
			<input type="text" name="mobile" value="" id="mobile">
		</div>
		
		<div class="group">
			<label for="understood">
				I have read and understood the written charge
			</label>
			<input type="checkbox" name="understood" value="" id="understood">
		</div>
		
	</fieldset>
	
	<fieldset>
		<h2>2. Mitigating Circumstances on Guilty Plea</h2>
		<p>Mitigating circumstances are facts about the offence or yourself, which tend to make the offence less serious. The legal advisor will read out everything you write in the space below to the court. (You may write your mitigation on a separate sheet if you wish.)</p>
		<textarea></textarea>
	</fieldset>
	
	
	<fieldset>
		<h2>3. Financial Position</h2>
		<p>You are legally required to provide full details of your financial means and it is an offence not to do so (<cite>S.84 Magistrates Courts Act 1980</cite>).</p> <!--
			TODO Link to the above on legislation?
		-->
	</fieldset>
	
	<fieldset>
		<label for="guilty">I plead guilty and ask the court to deal with my case in my absence</label><input type="checkbox" name="guilty" value="" id="guilty">
	</fieldset>
	
	<button type="submit" class="button">Submit</button>
	
</form>
{% endblock content %}