{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktrans %}Session timeout{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}
    <section class="error-summary">
        <h1 class="heading-large">{% blocktrans %}Session timeout{% endblocktrans %}</h1>

        <p>{% blocktrans %}Your session has expired, re-enter your details and try again.{% endblocktrans %}</p>
    </section>

    <section class="intro">
        <div class="get-started">
            <a class="button button-get-started" role="button" href="{% url "home" %}">{% blocktrans %}Start again{% endblocktrans %}</a>
        </div>
    </section>
{% endblock page_content %}
