{% extends 'base.html' %}

{% load i18n %}

{% block page_content %}

<header class="content-header">
    <h1>{% blocktrans %}Make a plea online{% endblocktrans %}</h1>
</header>

<div class="grid-row">

    <div class="column-two-thirds">
        <article role="article" class="text headings-collapse">

            <section class="intro">
                <h2 class="heading-medium">{% blocktrans %}Use this service to:{% endblocktrans %}</h2>
                <p>{% blocktrans %}Plead guilty or not guilty for each traffic offence listed on the charge sheet in the requisition pack.{% endblocktrans %}</p>

                <h2 class="heading-medium">{% blocktrans %}After pleading online:{% endblocktrans %}</h2>
                <p>{% blocktrans %}Do not come to court on the hearing date.{% endblocktrans %}</p>

                <div class="get-started">
                    <a class="button button-get-started" role="button" href="{% url "plea_form" %}">{% blocktrans %}Start now{% endblocktrans %}</a>
                </div>
            </section>

            <section>
                <h2 class="heading-medium">{% blocktrans %}Before you start{% endblocktrans %}</h2>

                <div class="panel-indent">
                    <ul>
                        <li>{% blocktrans %}you'll need information from the requisition pack{% endblocktrans %}</li>
                        <li>{% blocktrans %}you must be the person, or an official representative of the company, named on the requisition{% endblocktrans %}</li>
                        <li>{% blocktrans %}you must have a valid email address{% endblocktrans %}</li>
                        <li>{% blocktrans %}you may be asked about your income (or the company's finances if you're pleading on behalf of a company){% endblocktrans %}</li>
                        <li>{% blocktrans %}you may need to tell us about your outgoings, such as utility bills{% endblocktrans %}</li>
                    </ul>
                </div>
            </section>

        </article>
    </div>

    <div class="column-third">
        <aside class="fine-reduction">
            <p>{% blocktrans %}If you plead guilty you may get a <br><strong>33%</strong> <br>reduction on your fine{% endblocktrans %}</p>
        </aside>

        <aside class="related">
            <h3>{% blocktrans %}Legal help and advice{% endblocktrans %}</h3>
            <p><a rel="external" href="http://www.lawsociety.org.uk/for-the-public/common-legal-issues/criminal/" target="_blank">{% blocktrans %}Law Society{% endblocktrans %}</a></p>

            <h3>{% blocktrans %}Questions about your plea?{% endblocktrans %}</h3>
            <p><a href="{% url "court_finder" %}">{% blocktrans %}Contact your court{% endblocktrans %}</a></p>
        </aside>
    </div>

</div>
{% endblock page_content %}
