{% extends 'base.html' %}

{% block page_content %}
<header class="page-header group">
    <hgroup>
        <div><h1><span>Service</span>Make your plea</h1></div>
    </hgroup>
</header>

<div class="article-container group">
    <article role="article" class="group">
        <div class="inner">
            <section class="intro">
                <div class="get-started-intro">

                    <p>You can only use this service to enter your guilty or not guilty plea(s) for the driving offence(s) being considered by the <a href="https://courttribunalfinder.service.gov.uk/courts/manchester-and-salford-magistrates-court" target="_blank" rel="external">Manchester and Salford Magistrates’ Court</a>.</p>
                
                    <p>You can make your plea at any time up to the day before the court makes a decision.</p>

                    <p>For cases being heard for other types of offence or at any other other court, check the information sent to you to find out what to do next.</p>

                    <a class="button button-get-started" href="{% url "plea_form" %}" role=button>Start now</a>

                    <section class="more">
                        <div id="before-you-start">
                            <h2>Before you start</h2>
                            <p>Entering your plea takes about 5 minutes.</p>
                            <p>You’ll need:</p>
                            <ul class="list-bullet text">
                                <li>the pack we sent you by post (with details of charges, any witness statements and police report)</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </article>
</div>

{% endblock page_content %}

{% block right %}
       <!-- related info -->
        <div class="related-positioning">
          <div class="related-container">
            <div class="related" id="related">
                <p class="font-xsmall">If you plead guilty <br>you may get a</p>
                <span id="stat">33%</span>
                <p class="font-xsmall">reduction on your fine</p>
            </div>
          </div>
        </div>
        <!-- end related info -->
{% endblock right %}
