<table>
    <tr>
        <th valign="top" align="right">Used the call centre</th>
        <td>{{ used_call_centre|yesno:"Yes,No" }}</td>
    </tr>
    {% if used_call_centre %}
    <tr>
        <th valign="top" align="right">Call centre satisfaction</th>
        <td>{{ call_centre_satisfaction }}</td>
    </tr>
    {% endif %}
    <tr>
        <th valign="top" align="right">Service satisfaction</th>
        <td>{{ service_satisfaction }}</td>
    </tr>
    <tr>
        <th valign="top" align="right">Comments</th>
        <td>{{ comments|linebreaksbr|default:"-" }}</td>
    </tr>
    <tr>
        <th valign="top" align="right">Email</th>
        <td>{{ email|default:"-" }}</td>
    </tr>
</table>

<p>
    <strong>Sent on:</strong> {{ date_sent }}<br>
    <strong>Source:</strong> {{ referrer }}<br>
    <strong>User agent:</strong> {{ user_agent }}
</p>
