<table>
    <tr>
        <th valign="top" align="right">Used the call centre</th>
        <td>{{ used_call_centre|yesno:"Yes,No" }}</td>
    </tr>
    <tr>
        <th valign="top" align="right">Satisfaction</th>
        <td>{{ satisfaction }}</td>
    </tr>
    <tr>
        <th valign="top" align="right">Comments</th>
        <td>{{ comments|linebreaksbr }}</td>
    </tr>
    <tr>
        <th valign="top" align="right">Email</th>
        <td>{{ email }}</td>
    </tr>
</table>

<p>
    <strong>Sent on:</strong> {{ date_sent }}<br>
    <strong>Source:</strong> {{ referrer }}<br>
    <strong>User agent:</strong> {{ user_agent }}
</p>
