{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your feedback{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block stage_header %}
    <h1>{% blocktrans %}Your feedback{% endblocktrans %}</h1>
{% endblock stage_header %}

{% block stage_form %}
    {% std_field form.comments %}

    {% std_field form.email %}
{% endblock stage_form %}

{% block stage_submit %}
<div class="form-submit">
    <button class="button" type="submit">{% blocktrans %}Submit{% endblocktrans %}</button>

    <p><a href="{% url "feedback_form_step" "service" %}">{% blocktrans %}Back{% endblocktrans %}</a></p>
</div>
{% endblock stage_submit %}
