{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your feedback{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block stage_header %}
    <h1>{% blocktrans %}Your feedback{% endblocktrans %}</h1>
{% endblock stage_header %}

{% block stage_form %}
    {% split_form form %}

    {% if service.split_form == "split_form_last_step" %}
        {% hidden_field form.used_call_centre %}
    {% else %}
        {% radio_field form.used_call_centre inline=True %}
    {% endif %}

    <div class="js-Conditional js-TemplatedElement{% if service.split_form != "split_form_last_step" %} nojs-hidden{% endif %}" data-conditional-trigger="used_call_centre" data-conditional-value="^(True|False)$" data-template-trigger="used_call_centre" data-template="{% blocktrans %}Overall, how satisfied were you with the call centre?{% endblocktrans %}" data-template-delegate="#section_satisfaction .label-text" data-template-defaults-for="{% blocktrans %}No{% endblocktrans %}">
        
        {% if service.split_form == "split_form_last_step" and service.used_call_centre == True %}
            {% radio_field form.satisfaction hide_optional=True label=_("Overall, how satisfied were you with the call centre?") %}
        {% else %}
            {% radio_field form.satisfaction hide_optional=True %}
        {% endif %}
    </div>
{% endblock stage_form %}

{% block stage_after_form %}
    {% if service.split_form == "split_form_last_step" %}
    <p><a href="{{ request.path }}?reset">Back</a></p>
    {% endif %}
{% endblock stage_after_form %}
