{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}
{% load static %}

{% block page_title %}{% blocktrans %}Case details{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block stage_header %}
    <h1>{% blocktrans %}Case details{% endblocktrans %}</h1>
{% endblock stage_header %}

{% block stage_form %}

    {% if notice_type.sjp %}
        <img class="help-image" src="{% static "images/illustration-urn-and-date.png" %}" width="260" height="176" alt="{% blocktrans %}The location of the URN and Posting date on the notice we sent to you{% endblocktrans %}">

        <div class="with-image">
            {% multi_field form.posting_date %}
        </div>
    {% else %}
        {% multi_field form.date_of_hearing %}
    {% endif %}

    <!-- {% if dx %}
        {% hidden_field form.number_of_charges %}
    {% else %}
        {% std_field form.number_of_charges %}
    {% endif %} -->

    {% std_field form.number_of_charges %}

    {% radio_field form.plea_made_by %}
{% endblock stage_form %}

{% block stage_submit %}
    <div class="form-submit">
        <button class="button" type="submit">{% blocktrans %}Continue{% endblocktrans %}</button>
    </div>
{% endblock stage_submit %}
