{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}
{% load testing %}

{% spaceless %}
{% block page_title %}
    {% if company_finances.split_form != "split_form_last_step" %}
        {% blocktrans %}Company details{% endblocktrans %}
    {% else %}
        {% blocktrans %}Company details continued{% endblocktrans %}
    {% endif %}
     - {{ block.super }}
{% endblock %}
{% endspaceless %}


{% block stage_header %}
    {% spaceless %}
    <h1>
    {% if company_finances.split_form != "split_form_last_step" %}
        {% blocktrans %}Company details{% endblocktrans %}
    {% else %}
        {% blocktrans %}Company details continued{% endblocktrans %}
    {% endif %}
    </h1>
    {% endspaceless %}

    <p>{% blocktrans %}The court will decide the company's fine based on its size and financial situation.{% endblocktrans %}</p>
{% endblock stage_header %}


{% block stage_form %}
    {% split_form form %}

    {% if company_finances.split_form == "split_form_last_step" %}
        {% add_test_tag "<<NOJSTRIGGERSUMMARY>>" %}
        {% hidden_field form.trading_period %}
        <div class="form-header">
            <h2><span>You selected:</span>
                {% if company_finances.trading_period == True %}
                The company has been trading for more than 12 months
                {% else %}
                The company has been trading for less than 12 months
                {% endif %}
            </h2>
            <a href="{{ request.path }}?reset">Change</a>
        </div>
    {% else %}
        {% radio_field form.trading_period inline=True %}
    {% endif %}

    <div {% if company_finances.split_form != "split_form_last_step" %}class="nojs-hidden"{% endif %} data-conditional="trading_period" data-conditional-value="^(True|False)$">

        {% std_field form.number_of_employees hide_optional=True %}

        {% if company_finances.split_form == "split_form_last_step" %}
            {% if company_finances.trading_period == True %}
                <p>{% blocktrans %}From the most recent audited company accounts, tell us:{% endblocktrans %}</p>
            {% else %}
                <p>{% blocktrans %}From the first 12 months' trading projections, tell us:{% endblocktrans %}</p>
            {% endif %}
        {% else %}
            <h2 class="heading-medium" data-template="{% blocktrans %}From the first 12 months' trading projections, tell us:{% endblocktrans %}" data-template-trigger="trading_period" data-template-defaults-for="{% blocktrans %}Yes (v1){% endblocktrans %}">{% blocktrans %}From the most recent audited company accounts, tell us:{% endblocktrans %}</h2>
        {% endif %}

        {% std_field form.gross_turnover hide_optional=True prefix="£" %}

        {% std_field form.net_turnover hide_optional=True prefix="£" %}

    </div>
{% endblock stage_form %}
