{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your details{% endblocktrans %} - {{ block.super }}{% endblock %}


{% block stage_header %}
    <h1>{% blocktrans %}Your details{% endblocktrans %}</h1>

    <p>{% blocktrans %}We need these in case we have to contact you about your plea.{% endblocktrans %}</p>

    <div class="panel-grey">
        <h2 class="heading-small">{% blocktrans %}Warning:{% endblocktrans %}</h2>
        <p>{% blocktrans %}You can only make a plea on behalf of a company if you are a director, the company secretary or the company's solicitor.{% endblocktrans %}</p>
    </div>
{% endblock stage_header %}


{% block stage_form %}
    {% std_field form.company_name %}

    {% radio_field form.correct_address inline=True wide=True %}

    <div class="panel-indent move-up" data-conditional="correct_address" data-conditional-value="False">
        {% std_field form.updated_address hide_optional=True %}
    </div>

    {% std_field form.first_name %}

    {% std_field form.last_name %}

    {% radio_field form.position_in_company %}

    {% std_field form.contact_number %}
{% endblock stage_form %}
