{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your details{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block errors_summary %}
    {% if urn_already_used %}

        <h1>{% blocktrans %}The details you've entered have already been used to make a plea online{% endblocktrans %}</h1>

        <p>{% blocktrans %}Check and try again.{% endblocktrans %}</p>

        <ul>
            <li><a href="{% url "plea_form_step" "enter_urn" %}">{% blocktrans %}Enter the correct URN{% endblocktrans %}</a></li>
        </ul>

        <p>{% blocktrans %}To make changes to a plea you've already made online, email or write to the court before your hearing with:{% endblocktrans %}</p>

        <ul class="list-bullet">
            <li>{% blocktrans %}details of the changes you want to make{% endblocktrans %}</li>
            <li>{% blocktrans %}your unique reference number{% endblocktrans %}</li>
        </ul>

        <div class="js-Details" data-summary-open="{% blocktrans %}Hide court contact details{% endblocktrans %}">
            <a class="details-trigger" href="#court-details"><span class="summary">{% blocktrans %}View court contact details{% endblocktrans %}</span></a>
            <div class="details-content" id="court-details">
                <h3 class="heading-small">{% blocktrans %}Send letters to:{% endblocktrans %}</h3>
                <address>{{ court.court_address|linebreaksbr }}</address>

                <h3 class="heading-small">{% blocktrans %}Send email to:{% endblocktrans %}</h3>
                <p><a href="mailto:{{ court.court_email }}">{{ court.court_email }}</a></p>
            </div>
        </div>

    {% else %}

        {{ block.super }}

    {% endif %}
{% endblock errors_summary %}

{% block stage_header %}
    <h1>{% blocktrans %}Your details{% endblocktrans %}</h1>

    <p>{% blocktrans %}We need these in case we have to contact you about your plea.{% endblocktrans %}</p>

    <div class="panel-grey">
        <h2 class="heading-small">{% blocktrans %}Warning:{% endblocktrans %}</h2>
        <p>{% blocktrans %}You can only make a plea on behalf of a company if you are a director, the company secretary or the company's solicitor.{% endblocktrans %}</p>
    </div>
{% endblock stage_header %}


{% block stage_form %}
    {% std_field form.company_name %}

    {% radio_field form.correct_address inline=True wide=True %}

    <div class="panel-indent move-up" data-conditional="correct_address" data-conditional-value="False">
        {% std_field form.updated_address hide_optional=True %}
    </div>

    {% std_field form.first_name %}

    {% std_field form.last_name %}

    {% radio_field form.position_in_company %}

    {% std_field form.contact_number %}
{% endblock stage_form %}
