{% extends "base.html" %}

{% load i18n %}
{% load date %}
{% load testing %}
{% load urn %}

{% block page_title %}{% blocktrans count charges=case.number_of_charges %}Your plea has been sent to the magistrate{% plural %}Your pleas have been sent to the magistrate{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    {% add_test_tag "<<SJP>>" %}
    {% if plea_type == "guilty" %}{% add_test_tag "<<GUILTY>>" %}{% endif %}
    {% if plea_type == "not_guilty" %}{% add_test_tag "<<NOTGUILTY>>" %}{% endif %}
    {% if plea_type == "mixed" %}{% add_test_tag "<<MIXED>>" %}{% endif %}

    <header class="success-header" role="alert">
        <h1>{% spaceless %}
            {% if case.plea_made_by == "Defendant" %}
                {% blocktrans count charges=case.number_of_charges %}Your plea has been sent to the magistrate{% plural %}Your pleas have been sent to the magistrate{% endblocktrans %}
            {% elif case.plea_made_by == "Company representative" %}
                {% blocktrans count charges=case.number_of_charges %}Your company's plea has been sent to the magistrate{% plural %}Your company's pleas have been sent to the magistrate{% endblocktrans %}
            {% endif %}
        {% endspaceless %}</h1>
        <p><strong>{% blocktrans %}Your URN:{% endblocktrans %}</strong> {{ case.urn|format_urn }}</p>
        <p>{% blocktrans %}You will need to quote this if you contact the court{% endblocktrans %}</p>
    </header>

    <section class="next-steps">

        <h2 class="heading-medium">{% blocktrans %}What happens next:{% endblocktrans %}</h2>
        <div class="panel-indent">
            <ul>
            {% if case.plea_made_by == "Defendant" %}

                {% if plea_type == "guilty" or plea_type == "mixed" %}
                    <li>{% blocktrans count charges=case.number_of_charges %}we'll send you a letter with the magistrate's decision{% plural %}we'll send you a letter with the magistrate's decisions{% endblocktrans %}</li>
                    <li>{% blocktrans %}we'll tell you if you need to attend a trial and what evidence you may need to send to the court to support your case{% endblocktrans %}</li>
                {% endif %}

                {% if plea_type == "not_guilty" %}
                    <li>{% blocktrans %}we'll send you a letter with a hearing date for you to come to court for a trial{% endblocktrans %}</li>
                {% endif %}

            {% endif %}

            {% if case.plea_made_by == "Company representative" %}

                {% if plea_type == "guilty" or plea_type == "mixed" %}
                    <li>{% blocktrans count charges=case.number_of_charges %}we'll send a letter with the magistrate's decision{% plural %}we'll send a letter with the magistrate's decisions{% endblocktrans %}</li>
                    <li>{% blocktrans %}we'll tell you if a company representative needs to attend a trial and what evidence you may need to send to the court to support the case{% endblocktrans %}</li>
                {% endif %}

                {% if plea_type == "not_guilty" %}
                    <li>{% blocktrans %}we'll send you a letter with a hearing date for a company representative to attend a trial{% endblocktrans %}</li>
                {% endif %}

            {% endif %}

                <li>{% blocktrans %}you can <a href="javascript:window.print();">print a copy</a> of this plea confirmation for your records{% endblocktrans %}</li>
            </ul>
        </div>

        {% if case.plea_made_by == "Defendant" %}
            <p class="lede">{% blocktrans %}Do not send your driving licence to the court. The DVLA will contact you if they need you to send it to them.{% endblocktrans %}</p>
        {% endif %}

        <h2 class="heading-medium">{% blocktrans %}Need to change a plea?{% endblocktrans %}</h2>

        <p>{% blocktrans with contact_deadline=case.contact_deadline|parse_date|date:"d/m/Y" %}Contact the court by post or email quoting your URN before {{ contact_deadline }}.{% endblocktrans %}</p>

        <p>{% blocktrans %}The contact details for the court are:{% endblocktrans %}</p>

        <h3 class="heading-small">{% blocktrans %}By post:{% endblocktrans %}</h3>

        <address>{{ court.court_address|linebreaksbr }}</address>

        <h3 class="heading-small">{% blocktrans %}By email:{% endblocktrans %}</h3>
        <p><a href="mailto:{{ court.court_email }}">{{ court.court_email }}</a></p>

        <div class="form-submit">
            <a class="button" href="{{ feedback_url }}">{% blocktrans %}Finish{% endblocktrans %}</a>
        </div>

    </section>

{% endblock page_content %}

{% block extra_analytics %}
    {% spaceless %}

    {% if analytics_events and google_analytics_id %}
        {% for event in analytics_events %}
ga('send', 'event', 'Complete submission', '{{ event.action }}', '{{ event.label }}');
        {% endfor %}
    {% endif %}

    {% endspaceless %}
{% endblock extra_analytics %}
