{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}
{% load testing %}

{% block page_title %}{% blocktrans %}Your expenses{% endblocktrans %} - {{ block.super }}{% endblock %}


{% block stage_header %}
    <h1 class="heading-xlarge">{% blocktrans %}Your expenses{% endblocktrans %}</h1>

    <p class="lede">{% blocktrans %}To help the court make a decision about your payment terms, you must provide information about your expenses.{% endblocktrans %}</p>
{% endblock stage_header %}


{% block stage_form %}

    <h2 class="font-large header-line"><span>{% blocktrans %}Other expenses{% endblocktrans %}</span></h2>

    <p>{% blocktrans %}What are your monthly bills for the following?{% endblocktrans %}</p>

    <div class="grid-row">
        <div class="column-half">
            {% std_field form.other_tv_subscription hide_optional=True prefix="£" %}
        </div>
        <div class="column-half">
            {% std_field form.other_travel_expenses hide_optional=True prefix="£" %}
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half">
            {% std_field form.other_telephone hide_optional=True prefix="£" %}
        </div>
        <div class="column-half">
            {% std_field form.other_loan_repayments hide_optional=True prefix="£" %}
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half">
            {% std_field form.other_court_payments hide_optional=True prefix="£" %}
        </div>
        <div class="column-half">
            {% std_field form.other_child_maintenance hide_optional=True prefix="£" %}
        </div>
    </div>

    {% radio_field form.other_not_listed inline=True %}

    <div class="panel-indent move-up" data-conditional="other_not_listed" data-conditional-value="True">
        {% std_field form.other_not_listed_details hide_optional=True %}

        {% std_field form.other_not_listed_amount hide_optional=True prefix="£" %}
    </div>

{% endblock stage_form %}
