{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}
{% load filters %}

{% block page_title %}{% include "partials/page_title_plea.html" with charges=case.number_of_charges %} - {{ block.super }}{% endblock %}

{% block stage_header %}
    {% spaceless %}
    <h1>{% include "partials/page_title_plea.html" with charges=case.number_of_charges %}</h1>
    {% endspaceless %}

    {% if form.split_form.value != "split_form_last_step" %}
    <div class="panel-grey">
        {% if case.plea_made_by == "Defendant" %}
        <p>{% blocktrans %}This is your opportunity to present your case to the court:{% endblocktrans %}</p>
        <ul>
            <li>{% blocktrans %}the charge details and witness statements are in the requisition pack we sent to you{% endblocktrans %}</li>
            <li>{% blocktrans %}each offence may carry penalty points and a fine{% endblocktrans %}</li>
            <li>{% blocktrans %}if you plead guilty you may get a 33% discount on any fine{% endblocktrans %}</li>
        </ul>
        {% endif %}

        {% if case.plea_made_by == "Company representative" %}
        <p>{% blocktrans %}This is your opportunity to present the company's case to the court:{% endblocktrans %}</p>
        <ul>
            <li>{% blocktrans %}the charge details and witness statements are in the requisition pack we sent to you{% endblocktrans %}</li>
            <li>{% blocktrans %}each offence may result in a fine{% endblocktrans %}</li>
            <li>{% blocktrans %}if you plead guilty on its behalf, the company may get a 33% discount on any fine{% endblocktrans %}</li>
        </ul>
        {% endif %}
    </div>
    {% endif %}
{% endblock stage_header %}


{% block stage_form %}
    {% split_form form %}

    <h2 class="heading-medium">
        {% spaceless %}
            {% if form.split_form.value != "split_form_last_step" %}
                {% blocktrans with charge_number=index total=case.number_of_charges %}Charge {{ charge_number }} of {{ total }}{% endblocktrans %}
            {% else %}
                {% blocktrans with charge_number=index total=case.number_of_charges %}Charge {{ charge_number }} of {{ total }} continued{% endblocktrans %}
            {% endif %}
        {% endspaceless %}
    </h2>

    <section class="section-plea">
        {% include "widgets/plea_radio_field.html" %}

            <div{% if form.split_form.value != "split_form_last_step" %} class="panel-indent"{% endif %} data-conditional="guilty" data-conditional-value="^(guilty|not_guilty)$">
                <section class="js-hidden{% if form.split_form.value != "split_form_last_step" or form.guilty.value != "guilty" %} nojs-hidden{% endif %}" data-conditional="guilty" data-conditional-value="^guilty$">


                    <p>{% spaceless %}
                        {% if case.plea_made_by == "Defendant" %}
                            {% blocktrans %}Pleading guilty to this charge means you do not need to come to court to respond to this charge - we'll send you details of the court's decision and what to do next.{% endblocktrans %}
                        {% endif %}

                        {% if case.plea_made_by == "Company representative" %}
                            {% blocktrans %}Pleading guilty to this charge means a company representative does not need to come to court to respond to this charge - we'll send details of the court's decision and what happens next.{% endblocktrans %}
                        {% endif %}

                        {% if notice_type.sjp %} {% blocktrans %}However, you do have the option to plead guilty in court if you want to.{% endblocktrans %}{% endif %}
                    {% endspaceless %}</p>

                    {% if notice_type.sjp %}
                        {% radio_field form.come_to_court wide=True hide_optional=True inline=True %}

                        <div data-conditional="come_to_court" data-conditional-value="True">
                            {% radio_field form.sjp_interpreter_needed wide=True hide_optional=True inline=True %}

                            <div class="move-up" data-conditional="sjp_interpreter_needed" data-conditional-value="True">
                                {% std_field form.sjp_interpreter_language wide=True hide_optional=True inline=True %}
                            </div>
                        </div>

                        <div id="guilty_extra_conditional">
                            {% std_field form.guilty_extra wide=True %}
                        </div>

                    {% else %}
                        {% std_field form.guilty_extra wide=True %}
                    {% endif %}
                </section>

                <section class="js-hidden{% if form.split_form.value != "split_form_last_step" or form.guilty.value != "not_guilty" %} nojs-hidden{% endif %}" data-conditional="guilty" data-conditional-value="^not_guilty$">

                {% if case.plea_made_by == "Defendant" %}
                    {% if notice_type.sjp %}
                        <p>{% blocktrans %}Pleading not guilty to this charge means we'll send details of a date for you to come to court for a trial.{% endblocktrans %}</p>
                    {% else %}
                        <p>{% blocktrans %}Pleading not guilty to this charge means you do not come to court on the hearing date in your requisition pack - we'll send details of a new hearing date.{% endblocktrans %}</p>
                    {% endif %}

                    {% std_field form.not_guilty_extra wide=True hide_optional=True %}

                    {% radio_field form.interpreter_needed wide=True hide_optional=True inline=True %}
                {% endif %}

                {% if case.plea_made_by == "Company representative" %}
                    {% if notice_type.sjp %}
                        <p>{% blocktrans %}Pleading not guilty to this charge means we'll send details of a date for a company representative to come to court for a trial.{% endblocktrans %}</p>
                    {% else %}
                        <p>{% blocktrans %}Pleading not guilty to this charge means you do not come to court on the hearing date in your requisition pack - we'll send details of a new hearing date.{% endblocktrans %}</p>
                    {% endif %}

                    {% std_field form.not_guilty_extra wide=True hide_optional=True help_text=_("Tell us why you believe the company is not guilty:") %}

                    {% radio_field form.interpreter_needed wide=True hide_optional=True inline=True label=_("Does your company representative need an interpreter in court?") %}
                {% endif %}

                    <div class="move-up" data-conditional="interpreter_needed" data-conditional-value="True">
                        {% std_field form.interpreter_language wide=True hide_optional=True %}
                    </div>

                    <h3>{% blocktrans %}Evidence and witness information{% endblocktrans %}</h3>

                    {% radio_field form.disagree_with_evidence wide=True hide_optional=True inline=True %}

                    <div class="move-up" data-conditional="disagree_with_evidence" data-conditional-value="True">
                        {% std_field form.disagree_with_evidence_details wide=True hide_optional=True %}
                    </div>

                    {% radio_field form.witness_needed wide=True hide_optional=True inline=True %}

                    <div class="move-up" data-conditional="witness_needed" data-conditional-value="True">
                        {% std_field form.witness_details wide=True hide_optional=True %}

                        {% radio_field form.witness_interpreter_needed wide=True hide_optional=True inline=True %}

                        <div class="move-up" data-conditional="witness_interpreter_needed" data-conditional-value="True">
                            {% std_field form.witness_interpreter_language wide=True hide_optional=True %}
                        </div>
                    </div>

                </section>
            </div>

        </section>

{% endblock stage_form %}

{% block javascripts %}
    {{ block.super }}

    {% if notice_type.sjp %}
    <script type="text/javascript">
    $(function() {
        $('#guilty_extra_conditional').data('conditional', 'come_to_court');
        var $cond = new moj.Modules._Conditional($('#guilty_extra_conditional'));

        $('[name=come_to_court]').on('change', function(){
            if($(this).val() === "True") {
                $('#guilty_extra_conditional').data('conditional', 'sjp_interpreter_needed');
            }
            else {
                $('#guilty_extra_conditional').data('conditional', 'come_to_court');
            }
            $cond.refresh();
        });
    });
    </script>
    {% endif %}
{% endblock javascripts %}
