{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% spaceless %}
{% block page_title %}{% include "partials/page_title_plea.html" with charges=request.session.case.number_of_charges %} - {{ block.super }}{% endblock %}    
{% endspaceless %}


{% block errors_summary %}
    <h2>{% trans "You need to fix the errors on this page before continuing." %}</h2>

    <p>{% trans "See highlighted errors below." %}</p>

    <ul>
    {% for plea_form in form %}
        {% for field in plea_form %}
            {% if field.errors %}
        <li><a href="#section_{{ field.name }}_{{ forloop.parentloop.counter }}">{{ field.errors|striptags }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock errors_summary %}


{% block stage_header %}
    {% spaceless %}
    <h1>{% include "partials/page_title_plea.html" with charges=request.session.case.number_of_charges %}</h1>
    {% endspaceless %}

    {% if plea.split_form == "split_form_last_step" %}
    <div>
        <p>This is your opportunity to present your case to the court.</p>
    </div>
    {% endif %}

    {% if plea.split_form != "split_form_last_step" %}
    <div class="panel-grey">
        {% if case.plea_made_by == "Defendant" %}
        <p>{% blocktrans %}This is your opportunity to present your case to the court:{% endblocktrans %}</p>
        <ul>
            <li>{% blocktrans %}each offence may carry penalty points and a fine{% endblocktrans %}</li>
            <li>{% blocktrans %}if you plead guilty you may get a 33% reduction on any fine{% endblocktrans %}</li>
        </ul>
        {% endif %}

        {% if case.plea_made_by == "Company representative" %}
        <p>{% blocktrans %}This is your opportunity to present the company's case to the court:{% endblocktrans %}</p>
        <ul>
            <li>{% blocktrans %}each offence may result in a fine{% endblocktrans %}</li>
            <li>{% blocktrans %}if you plead guilty on its behalf, the company may get a 33% reduction on any fine{% endblocktrans %}</li>
        </ul>
        {% endif %}
    </div>
    {% endif %}
{% endblock stage_header %}


{% block stage_form %}

    <input class="nojs-only" type="hidden" name="split_form" value="{{plea.split_form|default:"guilty"}}">

    {% if plea.split_form != "split_form_last_step" %}
    <h2 class="heading-medium">{% blocktrans with form_count=form_count count charges=request.session.case.number_of_charges %}Enter a plea for the charge below{% plural %}Enter {{ form_count }} pleas for the charges below{% endblocktrans %}</h2>
    {% endif %}

    {% with form_count=form|length %}

        {{ form.management_form }}

        {% for plea_form in form %}
        <section class="section-plea">

            {% with plea_form as form %}
                {% include "widgets/plea_radio_field.html" %}
            {% endwith %}

            <div{% if plea.split_form != "split_form_last_step" %} class="panel-indent"{% endif %} data-conditional-trigger="{{ plea_form.prefix }}-guilty" data-conditional-value="^(guilty|not_guilty)$">

                <section class="js-Conditional js-hidden{% if plea.split_form != "split_form_last_step" or plea_form.guilty.0.value != "guilty" %} nojs-hidden{% endif %}" data-conditional-trigger="{{ plea_form.prefix }}-guilty" data-conditional-value="^guilty$">

                    {% std_field plea_form.guilty_extra wide=True counter=forloop.counter %}

                    <h3 class="heading-small">{% trans "Pleading guilty to this charge means:" %}</h3>
                    <ul>
                        {% if case.plea_made_by == "Defendant" %}
                        <li>{% blocktrans %}you do not need to come to court to respond to this charge{% endblocktrans %}</li>
                        <li>{% blocktrans %}we'll send you details of the court's decision and what happens next{% endblocktrans %}</li>
                        {% endif %}

                        {% if case.plea_made_by == "Company representative" %}
                        <li>{% blocktrans %}a company representative does not need to come to court to respond to this charge{% endblocktrans %}</li>
                        <li>{% blocktrans %}we'll send details of the court's decision and what happens next{% endblocktrans %}</li>
                        {% endif %}
                    </ul>
                </section>

                <section class="js-Conditional js-hidden{% if plea.split_form != "split_form_last_step" or plea_form.guilty.0.value != "not_guilty" %} nojs-hidden{% endif %}" data-conditional-trigger="{{ plea_form.prefix }}-guilty" data-conditional-value="^not_guilty$">

                    {% if case.plea_made_by == "Defendant" %}
                        {% std_field plea_form.not_guilty_extra wide=True hide_optional=True counter=forloop.counter %}
                    {% else %}
                        {% std_field plea_form.not_guilty_extra wide=True hide_optional=True counter=forloop.counter help_text=_("Tell us why you believe the defendant is not guilty.") %}
                    {% endif %}

                    <h3 class="heading-small">{% trans "Pleading not guilty to this charge means:" %}</h3>
                    <ul>
                        {% if case.plea_made_by == "Defendant" %}
                        <li>{% blocktrans %}you do not need to come to court on the hearing date in the requisition pack{% endblocktrans %}</li>
                        <li>{% blocktrans %}we'll send you details of a new hearing date{% endblocktrans %}</li>
                        {% endif %}

                        {% if case.plea_made_by == "Company representative" %}
                        <li>{% blocktrans %}a company representative does not need to come to court on the hearing date in the requisition pack{% endblocktrans %}</li>
                        <li>{% blocktrans %}we'll send details of a new hearing date{% endblocktrans %}</li>
                        {% endif %}
                    </ul>

                </section>
            </div>

        </section>
        {% endfor %}

    {% endwith %}

{% endblock stage_form %}
