{% extends "base_form.html" %}

{% load i18n %}
{% load debug %}
{% load form_widgets %}

{% spaceless %}
{% block page_title %}
        {% if case.plea_made_by == "Company representative" %}
            {% blocktrans count charges=case.number_of_charges %}Confirm your company's plea{% plural %}Confirm your company's pleas{% endblocktrans %} - {{ block.super }}
        {% else %}
            {% blocktrans count charges=case.number_of_charges %}Confirm your plea{% plural %}Confirm your pleas{% endblocktrans %} - {{ block.super }}
        {% endif %}
{% endblock %}
{% endspaceless %}


{% block stage_header %}
    {% if case.plea_made_by == "Company representative" %}
        <h1>{% blocktrans count charges=case.number_of_charges %}Confirm your company's plea{% plural %}Confirm your company's pleas{% endblocktrans %}</h1>
    {% else %}
        <h1>{% blocktrans count charges=case.number_of_charges %}Confirm your plea{% plural %}Confirm your pleas{% endblocktrans %}</h1>
    {% endif %}

    <p>{% blocktrans count charges=case.number_of_charges %}Review the information you’ve given before making your plea.{% plural %}Review the information you’ve given before making your pleas.{% endblocktrans %}</p>
{% endblock stage_header %}


{% block stage_form %}

    <section class="review-section" id="case-details">
        <header>
            <h2>{% blocktrans %}Case details{% endblocktrans %}</h2>
            <a class="change-link" href="{% url "plea_form_step" "case" %}">{% blocktrans %}Change case details{% endblocktrans %}</a>
        </header>

        {% include "partials/review_case.html" %}
    </section>

    <section class="review-section" id="your-details">
        <header>
        {% if case.plea_made_by == "Defendant" %}
            <h2>{% blocktrans %}Your details{% endblocktrans %}</h2>
            <a class="change-link" href="{% url "plea_form_step" "your_details" %}">{% blocktrans %}Change your details{% endblocktrans %}</a>
        {% endif %}

        {% if case.plea_made_by == "Company representative" %}
            <h2>{% blocktrans %}Company representative details{% endblocktrans %}</h2>
            <a class="change-link" href="{% url "plea_form_step" "company_details" %}">{% blocktrans %}Change your details{% endblocktrans %}</a>
        {% endif %}
        </header>

        {% include "partials/review_details.html" %}
    </section>

    <section class="review-section" id="your-plea">
        <header>
        {% if case.plea_made_by == "Defendant" %}
            <h2>{% blocktrans count charges=case.number_of_charges %}Your plea{% plural %}Your pleas{% endblocktrans %}</h2>
        {% endif %}

        {% if case.plea_made_by == "Company representative" %}
            <h2>{% blocktrans count charges=case.number_of_charges %}Company's plea{% plural %}Company's pleas{% endblocktrans %}</h2>
        {% endif %}
        </header>

        {% include "partials/review_plea.html" with show_edit_link=True %}
    </section>

    {% if case.plea_made_by == "Defendant" and not your_status.skipped %}
    <section class="review-section" id="your-finances">
        <header>
            <h2>{% blocktrans %}Your employment status and finances{% endblocktrans %}</h2>
        </header>

        {% include "partials/review_finances.html" with show_edit_link=True %}
    </section>


        {% if your_finances.hardship %}
    <section class="review-section" id="your-expenses">
        <header>
            <h2>{% blocktrans %}Special financial circumstances{% endblocktrans %}</h2>
        </header>

        {% include "partials/review_expenses.html" with show_edit_link=True %}
    </section>
        {% endif %}

    {% endif %}

    {% if case.plea_made_by == "Company representative" and not company_finances.skipped %}
    <section class="review-section" id="company-details">
        <header>
            <h2>{% blocktrans %}Company financial details{% endblocktrans %}</h2>
            <a class="change-link" href="{% url "plea_form_step" "company_finances" %}">{% blocktrans %}Change details{% endblocktrans %}</a>
        </header>

        {% include "partials/review_company_finances.html" %}
    </section>
    {% endif %}

    <hr>

    <section>

        {% radio_field form.receive_email_updates inline=True %}

        <div class="panel-indent move-up" data-conditional="receive_email_updates" data-conditional-value="True">
            {% std_field form.email hide_optional=True wide=True %}
        </div>

    </section>

    <hr>

    <section id="section_understand">

        <div class="form-group-wide{% if form.understand.errors %} with-error{% endif %}">

            <h2 class="heading-medium">{% blocktrans %}Important{% endblocktrans %}</h2>

            {{ form.understand.errors }}

            <label for="{{ form.understand.id_for_label }}" class="block-label">
                <span class="important">{% blocktrans %}It is an offence to make a false statement or to deliberately fail to disclose any relevant facts.{% endblocktrans %}</span>
                <input id="{{ form.understand.id_for_label }}" name="{{ form.understand.name }}" type="checkbox" value="True" {% if form.understand.is_checked %}checked="checked"{% endif %}>
                <span class="checkbox-text">
                {% if case.plea_made_by == "Defendant" %}
                    {% if notice_type.sjp %}
                        {% blocktrans count charges=case.number_of_charges %}I confirm that I have read and understand the charge against me and that I am the person named in the Single Justice Procedure Notice.{% plural %}I confirm that I have read and understand the charges against me and that I am the person named in the Single Justice Procedure Notice.{% endblocktrans %}
                    {% else %}
                        {% blocktrans count charges=case.number_of_charges %}I confirm that I have read and understand the charge against me and that I am the person named in the Postal Requisition.{% plural %}I confirm that I have read and understand the charges against me and that I am the person named in the Postal Requisition.{% endblocktrans %}
                    {% endif %}
                {% elif case.plea_made_by == "Company representative" %}
                    {% if notice_type.sjp %}
                        {% blocktrans count charges=case.number_of_charges %}I confirm that I have read and understand the charge and that I am a representative of the company named in the Single Justice Procedure Notice and am legally entitled to enter a plea on its behalf.{% plural %}I confirm that I have read and understand the charges and that I am a representative of the company named in the Single Justice Procedure Notice and am legally entitled to enter a plea on its behalf.{% endblocktrans %}
                    {% else %}
                        {% blocktrans count charges=case.number_of_charges %}I confirm that I have read and understand the charge and that I am a representative of the company named in the Postal Requisition and am legally entitled to enter a plea on its behalf.{% plural %}I confirm that I have read and understand the charges and that I am a representative of the company named in the Postal Requisition and am legally entitled to enter a plea on its behalf.{% endblocktrans %}
                    {% endif %}

                {% endif %}
                {% blocktrans %}The facts stated here are correct to the best of my knowledge.{% endblocktrans %}
                </span>
            </label>
        </div>
    </section>

{% endblock stage_form %}

{% block stage_submit %}
    <div class="form-submit">
        <button type="submit" class="button-large">{% blocktrans count charges=case.number_of_charges %}Make your plea{% plural %}Make your pleas{% endblocktrans %}</button>
    </div>
{% endblock stage_submit %}
