{% extends "base_form.html" %}

{% load i18n %}
{% load debug %}
{% load form_widgets %}

{% spaceless %}
{% block page_title %}
        {% if case.plea_made_by == "Company representative" %}
            {% blocktrans count charges=case.number_of_charges %}Confirm your company's plea{% plural %}Confirm your company's pleas{% endblocktrans %} - {{ block.super }}
        {% else %}
            {% blocktrans count charges=case.number_of_charges %}Confirm your plea{% plural %}Confirm your pleas{% endblocktrans %} - {{ block.super }}
        {% endif %}
{% endblock %}
{% endspaceless %}


{% block stage_header %}
    {% if case.plea_made_by == "Company representative" %}
        <h1>{% blocktrans count charges=case.number_of_charges %}Confirm your company's plea{% plural %}Confirm your company's pleas{% endblocktrans %}</h1>
    {% else %}
        <h1>{% blocktrans count charges=case.number_of_charges %}Confirm your plea{% plural %}Confirm your pleas{% endblocktrans %}</h1>
    {% endif %}

    <p>{% blocktrans count charges=case.number_of_charges %}Review the information you’ve given before making your plea.{% plural %}Review the information you’ve given before making your pleas.{% endblocktrans %}</p>
{% endblock stage_header %}


{% block stage_form %}

    <table class="review-table" id="case-details">
    <thead>
        <tr>
            <th colspan="2">
                <h2>{% blocktrans %}Case details{% endblocktrans %}</h2>
                <a class="change-link" href="{% url "plea_form_step" "case" %}" class="review">{% blocktrans %}Change case details{% endblocktrans %}</a>
            </th>
        </tr>
    </thead>
    {% include "partials/review_case.html" %}
    </table>

    <table class="review-table" id="your-details">
    <thead>
        <tr>
            <th colspan="2">
            {% if case.plea_made_by == "Defendant" %}
                <h2>{% blocktrans %}Your details{% endblocktrans %}</h2>
                <a class="change-link" href="{% url "plea_form_step" "your_details" %}" class="review">{% blocktrans %}Change your details{% endblocktrans %}</a>
            {% elif case.plea_made_by == "Company representative" %}
                <h2>{% blocktrans %}Company representative details{% endblocktrans %}</h2>
                <a class="change-link" href="{% url "plea_form_step" "company_details" %}" class="review">{% blocktrans %}Change your details{% endblocktrans %}</a>
            {% endif %}
            </th>
        </tr>
    </thead>
    {% include "partials/review_details.html" %}
    </table>

    <table class="review-table" id="your-plea">
    <thead>
        <tr>
            <th colspan="2">
                {% if case.plea_made_by == "Defendant" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Your plea{% plural %}Your pleas{% endblocktrans %}</h2>
                {% elif case.plea_made_by == "Company representative" %}
                <h2>{% blocktrans count charges=case.number_of_charges %}Company's plea{% plural %}Company's pleas{% endblocktrans %}</h2>
                {% endif %}

                <a class="change-link" href="{% url "plea_form_step" "plea" %}" class="review">{% blocktrans count charges=case.number_of_charges %}Change your plea{% plural %}Change your pleas{% endblocktrans %}</a>
            </th>
        </tr>
    </thead>
    {% include "partials/review_plea.html" %}
    </table>

    {% if case.plea_made_by == "Defendant" %}
        {% if not your_finances.skipped %}

        <table class="review-table" id="your-finances">
            <thead>
            <tr>
                <th colspan="2">
                    <h2>{% blocktrans %}Your finances{% endblocktrans %}</h2>
                    <a class="change-link" href="{% url "plea_form_step" "your_finances" %}" class="review">{% blocktrans %}Change your finances{% endblocktrans %}</a>
                </th>
            </tr>
            </thead>
            {% include "partials/review_finances.html" %}
        </table>
            {% if your_finances.hardship %}
                <table class="review-table" id="your-expenses">
                    <thead>
                    <tr>
                        <th colspan="2">
                            <h2>{% blocktrans %}Your expenses{% endblocktrans %}</h2>
                            <a class="change-link" href="{% url "plea_form_step" "hardship" %}" class="review">{% blocktrans %}Change your expenses{% endblocktrans %}</a>
                        </th>
                    </tr>
                    </thead>
                    {% include "partials/review_expenses.html" %}
                </table>
            {% endif %}

        {% endif %}
    {% elif case.plea_made_by == "Company representative" %}
        {% if not company_finances.skipped %}
            <table class="review-table" id="company-details">
                <thead>
                <tr>
                    <th colspan="2">
                        <h2>{% blocktrans %}Company financial details{% endblocktrans %}</h2>
                        <a class="change-link" href="{% url "plea_form_step" "company_finances" %}" class="review">{% blocktrans %}Change details{% endblocktrans %}</a>
                    </th>
                </tr>
                </thead>
                {% include "partials/review_company_finances.html" %}
                </table>
        {% endif %}
    {% endif %}

    <hr>

    <section>

        {% radio_field form.receive_email_updates inline=True %}

        <div class="panel-indent move-up" data-conditional="receive_email_updates" data-conditional-value="True">
            {% std_field form.email hide_optional=True wide=True %}
        </div>

    </section>

    <hr>

    <section id="section_understand">

        <div class="form-group-wide{% if form.understand.errors %} with-error{% endif %}">

            <h2 class="heading-medium">{% blocktrans %}Important{% endblocktrans %}</h2>

            {{ form.understand.errors }}

            <label for="{{ form.understand.id_for_label }}" class="block-label">
                <span class="important">{% blocktrans %}It is an offence to make a false statement or to deliberately fail to disclose any relevant facts.{% endblocktrans %}</span>
                <input id="{{ form.understand.id_for_label }}" name="{{ form.understand.name }}" type="checkbox" value="True" {% if form.understand.is_checked %}checked="checked"{% endif %}>
                <span class="checkbox-text">
                {% if case.plea_made_by == "Defendant" %}
                    {% blocktrans count charges=case.number_of_charges %}I confirm that I have read and understand the charge against me and that I am the person named in the Postal Requisition.{% plural %}I confirm that I have read and understand the charges against me and that I am the person named in the Postal Requisition.{% endblocktrans %} {% blocktrans %}The facts stated here are correct to the best of my knowledge.{% endblocktrans %}
                {% elif case.plea_made_by == "Company representative" %}
                    {% blocktrans count charges=case.number_of_charges %}I confirm that I have read and understand the charge and that I am a representative of the company named in the Postal Requisition and am legally entitled to enter a plea on its behalf.{% plural %}I confirm that I have read and understand the charges and that I am a representative of the company named in the Postal Requisition and am legally entitled to enter a plea on its behalf.{% endblocktrans %} {% blocktrans %}The facts stated here are correct to the best of my knowledge.{% endblocktrans %}
                {% endif %}
                </span>
            </label>
        </div>
    </section>

{% endblock stage_form %}

{% block stage_submit %}
    <div class="form-submit">
        <button type="submit" class="button-large">{% blocktrans count charges=case.number_of_charges %}Make your plea{% plural %}Make your pleas{% endblocktrans %}</button>
    </div>
{% endblock stage_submit %}
