{% extends "base.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}URN already used{% endblocktrans %} - {{ block.super }}{% endblock %}

{% load static %}

{% block page_content %}

    <section class="error-summary" role="alert">
        <h1>{% blocktrans %}This URN has already been used to make a plea online{% endblocktrans %}</h1>
        <p>{% blocktrans %}The unique reference number you entered is no longer valid. Please check and try again.{% endblocktrans %}</p>
        <p>{% blocktrans %}To make changes to a plea you've already made online, email or write to the court before your hearing with:{% endblocktrans %}</p>

        <ul class="list-bullet">
            <li>{% blocktrans %}details of the changes you want to make{% endblocktrans %}</li>
            <li>{% blocktrans %}your unique reference number{% endblocktrans %}</li>
        </ul>

        <p><a href="/court-finder/">Find court contact details</a></p>
    </section>


    <h2>{% blocktrans %}Create a new plea{% endblocktrans %}</h2>

    <p>{% blocktrans %}Select the button below to start a new plea{% endblocktrans %}</p>

    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <button class="button button-get-started" href="/plea/case/" role="button">{% blocktrans %}Start now{% endblocktrans %}</button>
    </form>

{% endblock page_content %}
