{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}
{% load static %}

{% block page_title %}{% blocktrans %}Your case{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block emergency_message %}
    <div id='emergency_message_box'>
        <p>{% blocktrans %}Please note that due to the COVID-19 pandemic HMCTS has had to reduce its service and your case now will be delayed and considered at a date in the future. You can find further information on the current position affecting courts business on the gov.uk website. We apologise for any inconvenience that this may cause you.{% endblocktrans %}</p>
        <p>{% blocktrans %}Please note that you can only use the Make a Plea service for 21 days from your posting date on your notice.{% endblocktrans %}</p>
    </div>
{% endblock emergency_message %}

{% block errors_summary %}

    {% if urn_already_used %}

        <h1>{% blocktrans %}The details you've entered have already been used to make a plea online{% endblocktrans %}</h1>

        <p>{% blocktrans %}Check and try again.{% endblocktrans %}</p>

        <ul>
            <li><a href="#section_urn">{% blocktrans %}Enter the correct URN{% endblocktrans %}</a></li>
        </ul>

        <p>{% blocktrans %}To make changes to a plea you've already made online, email or write to the court before your hearing with:{% endblocktrans %}</p>

        <ul class="list-bullet">
            <li>{% blocktrans %}details of the changes you want to make{% endblocktrans %}</li>
            <li>{% blocktrans %}your unique reference number{% endblocktrans %}</li>
        </ul>

        <div class="js-Details" data-summary-open="{% blocktrans %}Hide court contact details{% endblocktrans %}">
            <a class="details-trigger" href="#court-details"><span class="summary">{% blocktrans %}View court contact details{% endblocktrans %}</span></a>
            <div class="details-content" id="court-details">
                <h3 class="heading-small">{% blocktrans %}Send letters to:{% endblocktrans %}</h3>
                <address>{{ court.court_address|linebreaksbr }}</address>

                <h3 class="heading-small">{% blocktrans %}Send email to:{% endblocktrans %}</h3>
                <p><a href="mailto:{{ court.court_email }}">{{ court.court_email }}</a></p>
            </div>
        </div>

    {% else %}

        {{ block.super }}

        {% if urn_entry_failure_count >= 3 %}
            <h1>{% blocktrans %}Make a plea by post{% endblocktrans %}</h1>

            <p>{% blocktrans %}Your reference number has not been recognised, please submit your plea by post using the forms enclosed.{% endblocktrans %}</p>
        {% endif %}

    {% endif %}
{% endblock errors_summary %}

{% block stage_header %}
    <h1>{% blocktrans %}Your case{% endblocktrans %}</h1>
{% endblock stage_header %}

{% block stage_form %}

    {% std_field form.urn %}

{% endblock stage_form %}

{% block stage_submit %}
    <div class="form-submit">
        <button class="button" type="submit">{% blocktrans %}Continue{% endblocktrans %}</button>
    </div>
{% endblock stage_submit %}
