{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}
{% load static %}

{% block page_title %}{% blocktrans %}Your details{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block errors_summary %}
    {% if urn_already_used %}

        <h1>{% blocktrans %}The details you've entered have already been used to make a plea online{% endblocktrans %}</h1>

        <p>{% blocktrans %}Check and try again.{% endblocktrans %}</p>

        <p>{% blocktrans %}To make changes to a plea you've already made online, email or write to the court before your hearing with:{% endblocktrans %}</p>

        <ul class="list-bullet">
            <li>{% blocktrans %}details of the changes you want to make{% endblocktrans %}</li>
            <li>{% blocktrans %}your unique reference number{% endblocktrans %}</li>
        </ul>

        <div class="js-Details" data-summary-open="{% blocktrans %}Hide court contact details{% endblocktrans %}">
            <a class="details-trigger" href="#court-details"><span class="summary">{% blocktrans %}View court contact details{% endblocktrans %}</span></a>
            <div class="details-content" id="court-details">
                <h3 class="heading-small">{% blocktrans %}Send letters to:{% endblocktrans %}</h3>
                <address>{{ court.court_address|linebreaksbr }}</address>

                <h3 class="heading-small">{% blocktrans %}Send email to:{% endblocktrans %}</h3>
                <p><a href="mailto:{{ court.court_email }}">{{ court.court_email }}</a></p>
            </div>
        </div>

    {% else %}

        {{ block.super }}

    {% endif %}
{% endblock errors_summary %}

{% block stage_header %}
    <h1>{% blocktrans %}Your details{% endblocktrans %}</h1>

    <p>{% blocktrans %}We need these in case we have to get in touch with you about your plea.{% endblocktrans %}</p>
{% endblock stage_header %}


{% block stage_form %}
    {% std_field form.first_name %}

    {% std_field form.last_name %}

    {% radio_field form.correct_address inline=True wide=True %}

    <div class="panel-indent move-up" data-conditional="correct_address" data-conditional-value="False">
        {% std_field form.updated_address hide_optional=True %}
    </div>

    {% std_field form.contact_number %}

    {% if form.date_of_birth %}
        {% multi_field form.date_of_birth %}
    {% endif %}

    {% radio_field form.have_ni_number inline=True %}

    <div class="panel-indent move-up" data-conditional="have_ni_number" data-conditional-value="True">
        {% std_field form.ni_number hide_optional=True %}
    </div>

    {% radio_field form.have_driving_licence_number inline=True %}

    <div class="panel-indent move-up" data-conditional="have_driving_licence_number" data-conditional-value="True">
        {% with field=form.driving_licence_number hide_optional=True %}
        <div class="form-group{% if field.wide %}-wide{% endif %}{% if field.errors %} with-error{% endif %}" id="section_{{ field.name }}{% if field.counter %}_{{ field.counter }}{% endif %}">
            <label for="{{ field.id_for_label }}">
                <span class="form-hint">{{ field.help_text|safe }}</span>

                <img src="{% static "images/driving-licence.png" %}" width="235" height="166" alt="">

                {{ field.errors }}
            </label>

            {{ field }}
        </div>
        {% endwith %}
    </div>

    <div class="panel-indent move-up" data-conditional="have_driving_licence_number" data-conditional-value="False">
        <h2 class="heading-small">{% blocktrans %}Important:{% endblocktrans %}</h2>
        <p>{% blocktrans %}If you have a UK driving licence and fail to tell us, your licence may be suspended.{% endblocktrans %}</p>
    </div>
{% endblock stage_form %}
