{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your benefits{% endblocktrans %} - {{ block.super }}{% endblock %}


{% block stage_header %}
    <h1>{% blocktrans %}Your benefits{% endblocktrans %}</h1>

    <div class="panel-grey">
        <p>{% blocktrans %}For this type of offence you'll usually have to pay a fine:{% endblocktrans %}</p>
        <ul>
            <li>{% blocktrans %}you must provide your income details{% endblocktrans %}</li>
            <li>{% blocktrans %}the court will decide your fine based on your finances and the seriousness of the offence{% endblocktrans %}</li>
            <li>{% blocktrans %}your details will be stored securely by the court{% endblocktrans %}</li>
        </ul>
    </div>
{% endblock stage_header %}


{% block stage_form %}

    {% radio_field form.benefit_type %}

    {% radio_field form.pay_period %}

    {% std_field form.pay_amount prefix="£" %}

{% endblock stage_form %}


{% block body_end %}
    {{ block.super }}

    <script type="text/javascript">
    $(function(){
        var options = {
            "trigger": "[name=pay_period]",
            "templates": {
                "Weekly": "{% blocktrans %}How much is your weekly benefit payment?{% endblocktrans %}",
                "Fortnightly": "{% blocktrans %}How much is your fortnightly benefit payment?{% endblocktrans %}",
                "Monthly": "{% blocktrans %}How much is your monthly benefit payment?{% endblocktrans %}",
                "Other": "{% blocktrans %}How much is your average weekly benefit payment?{% endblocktrans %}"
            }
        };

        new moj.Modules._TemplatedElement($('[for=id_pay_amount] .label-text'), options);
    });
    </script>
{% endblock body_end %}
