{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your details{% endblocktrans %} - {{ block.super }}{% endblock %}


{% block stage_header %}
    <h1>{% blocktrans %}Your details{% endblocktrans %}</h1>

    <p>{% blocktrans %}We need these in case we have to get in touch with you about your plea.{% endblocktrans %}</p>
{% endblock stage_header %}


{% block stage_form %}
    {% std_field form.first_name %}

    {% std_field form.last_name %}

    {% radio_field form.correct_address inline=True wide=True %}

    <div class="panel-indent move-up js-Conditional" data-conditional-trigger="correct_address" data-conditional-value="False">
        {% std_field form.updated_address hide_optional=True %}
    </div>

    {% std_field form.contact_number %}

    {% std_field form.date_of_birth %}

    {% radio_field form.have_ni_number inline=True %}

    <div class="panel-indent move-up js-Conditional" data-conditional-trigger="have_ni_number" data-conditional-value="True">
        {% std_field form.ni_number hide_optional=True %}
    </div>

    {% radio_field form.have_driving_licence_number inline=True %}

    <div class="panel-indent move-up js-Conditional" data-conditional-trigger="have_driving_licence_number" data-conditional-value="True">
        {% std_field form.driving_licence_number hide_optional=True %}
    </div>

    <div class="panel-indent move-up js-Conditional" data-conditional-trigger="have_driving_licence_number" data-conditional-value="False">
        <h2 class="heading-small">{% blocktrans %}Important:{% endblocktrans %}</h2>
        <p>{% blocktrans %}If you have a UK driving licence and fail to tell us your licence may be suspended.{% endblocktrans %}</p>
    </div>
{% endblock stage_form %}
