{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your finances{% endblocktrans %} - {{ block.super }}{% endblock %}


{% block stage_header %}
    <h1>{% blocktrans %}Your finances{% endblocktrans %}</h1>
{% endblock stage_header %}


{% block stage_form %}

    <div class="form-header">
        <h2><span>{% blocktrans %}You selected:{% endblocktrans %}</span>
            {% trans your_status.you_are %}
        </h2>
        <a href="{% url "plea_form_step" "your_status" %}">{% blocktrans %}Change{% endblocktrans %}</a>
    </div>

    {% if your_status.you_are == "Employed" %}

        {% radio_field form.employed_pay_period hide_optional=True %}

        {% std_field form.employed_pay_amount hide_optional=True prefix="£" %}

        {% radio_field form.employed_hardship hide_optional=True inline=True %}

        <div id="employed_hardship-True" class="panel-indent move-up" data-conditional="employed_hardship" data-conditional-value="True">
            <h2 class="heading-small">{% blocktrans %}Note:{% endblocktrans %}</h2>
            <p>{% blocktrans %}For the courts to consider allowing you to pay your fine in instalments, you must provide information about your expenses.{% endblocktrans %}</p>
        </div>

    {% endif %}

    {% if your_status.you_are == "Self-employed" %}

        {% radio_field form.self_employed_pay_period hide_optional=True %}

        {% std_field form.self_employed_pay_amount hide_optional=True prefix="£" %}

        {% radio_field form.self_employed_hardship hide_optional=True inline=True %}

        <div id="self_employed_hardship-True" class="panel-indent move-up" data-conditional="self_employed_hardship" data-conditional-value="True">
            <h2 class="heading-small">{% blocktrans %}Note:{% endblocktrans %}</h2>
            <p>{% blocktrans %}For the courts to consider allowing you to pay your fine in instalments, you must provide information about your expenses.{% endblocktrans %}</p>
        </div>

    {% endif %}

    {% if your_status.you_are == "Receiving benefits" %}

        {% std_field form.benefits_details hide_optional=True %}

        {% radio_field form.benefits_dependents hide_optional=True inline=True %}

        {% radio_field form.benefits_pay_period hide_optional=True %}

        {% std_field form.benefits_pay_amount hide_optional=True prefix="£" %}

        {% radio_field form.benefits_hardship hide_optional=True inline=True %}

        <div id="benefits_hardship-True" class="panel-indent move-up" data-conditional="benefits_hardship" data-conditional-value="True">
            <h2 class="heading-small">{% blocktrans %}Note:{% endblocktrans %}</h2>
            <p>{% blocktrans %}For the courts to consider allowing you to pay your fine in instalments, you must provide information about your expenses.{% endblocktrans %}</p>
        </div>

    {% endif %}

    {% if your_status.you_are == "Other" %}

        {% std_field form.other_details hide_optional=True %}

        {% std_field form.other_pay_amount hide_optional=True prefix="£" %}

        {% radio_field form.other_hardship hide_optional=True inline=True %}

        <div id="other_hardship-True" class="panel-indent move-up" data-conditional="other_hardship" data-conditional-value="True">
            <h2 class="heading-small">{% blocktrans %}Note:{% endblocktrans %}</h2>
            <p>{% blocktrans %}For the courts to consider allowing you to pay your fine in instalments, you must provide information about your expenses.{% endblocktrans %}</p>
        </div>

    {% endif %}

{% endblock stage_form %}

{% block javascripts %}
    {{ block.super }}

    <script type="text/javascript">
    $(function(){
        var options = {
            "trigger": "[name$=_pay_period]",
            "templates": {
                {% if your_status.you_are == "Receiving benefits" %}

                "Weekly": "{% blocktrans %}What is your weekly take home pay?{% endblocktrans %}",
                "Fortnightly": "{% blocktrans %}What is your fortnightly take home pay?{% endblocktrans %}",
                "Monthly": "{% blocktrans %}What is your monthly take home pay?{% endblocktrans %}",
                "Other": "{% blocktrans %}What is your average weekly take home pay?{% endblocktrans %}"

                {% else %}

                "Weekly": "{% blocktrans %}What is your weekly take home pay (after tax)?{% endblocktrans %}",
                "Fortnightly": "{% blocktrans %}What is your fortnightly take home pay (after tax)?{% endblocktrans %}",
                "Monthly": "{% blocktrans %}What is your monthly take home pay (after tax)?{% endblocktrans %}",
                "Other": "{% blocktrans %}What is your average weekly take home pay (after tax)?{% endblocktrans %}"

                {% endif %}
            }
        }

        new moj.Modules._TemplatedElement($('[for$=_pay_amount] .label-text'), options);
    });
    </script>
{% endblock javascripts %}
