{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Your employment status{% endblocktrans %} - {{ block.super }}{% endblock %}


{% block stage_header %}
    <h1>{% blocktrans %}Your employment status{% endblocktrans %}</h1>
    <div class="panel-grey">
        <p>{% blocktrans %}Because you've pleaded guilty to at least 1 charge you must now tell us about your employment status.{% endblocktrans %}</p>
        <p>{% blocktrans %}This will:{% endblocktrans %}</p>
        <ul>
            <li>{% blocktrans %}make sure your fine is based on your circumstances{% endblocktrans %}</li>
            <li>{% blocktrans %}help to speed up the processing of your case{% endblocktrans %}</li>
        </ul>
    </div>
{% endblock stage_header %}

{% block stage_form %}

    {% radio_field form.you_are %}

{% endblock stage_form %}
