{% extends 'base.html' %}

{% block page_title %}Traffic offences: Plea online{% endblock %}

{% block page_content %}
<header class="content-header">
    <h1 class="heading-xlarge">Send feedback</h1>

    <p class="lede">Use this form to report a problem or ask us a question about the Make a Plea service.</p>
</header>
        
<p><strong>Please don't include any sensitive information</strong><br>
    For example, your financial details.</p>

<form method="POST">
    {% csrf_token %}

    {% with form.feedback_question as field %}
    {% include "widgets/std_field.html" %}
    {% endwith %}

    {% with form.feedback_email as field %}
    {% include "widgets/std_field.html" %}
    {% endwith %}

    <h3 class="heading-medium">We’re constantly working to improve the online plea service.</h3>

    {% with form.feedback_satisfaction as field %}
    {% include "widgets/radio_field.html" %}
    {% endwith %}


    <div class="form-group">
        <button class="button" type="submit">Submit</button>
    </div>
</form>
{% endblock page_content %}