{% extends 'base.html' %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% trans "Send feedback" %} - {{ block.super }}{% endblock %}

{% block page_content %}
<header class="content-header">
    <h1>{% trans "Send feedback" %}</h1>

    <p>{% trans "Use this form to report a problem or ask us a question about the Make a Plea service." %}</p>
</header>
        
<p><strong>{% trans "Please don't include any sensitive information" %}</strong><br>
    {% trans "For example, your financial details." %}</p>

<form method="POST">
    {% csrf_token %}

    {% std_field form.feedback_question %}

    {% std_field form.feedback_email %}

    <h3>{% trans "We’re constantly working to improve the online plea service." %}</h3>

    {% radio_field form.feedback_satisfaction %}

    <div class="form-group">
        <button class="button" type="submit">{% trans "Submit" %}</button>
    </div>
</form>
{% endblock %}