{% extends 'base.html' %}

{% block page_title %}Traffic offences: Plea online{% endblock %}

{% block page_content %}
<header class="content-header">
    <h1 class="heading-xlarge">Send feedback</h1>
</header>
        
<p>Use this form to report a problem or ask us a question about the Make a Plea service.</p>
<p><strong>Please don't include any sensitive information (eg. your financial details).</strong></p>

<form method="POST">
    {% csrf_token %}
    
    <fieldset>
        {% with form.feedback_question as field %}
        {% include "widgets/std_field.html" %}
        {% endwith %}
    </fieldset>
    
    <fieldset>
        <legend class="heading-medium">Do you want a reply?</legend>
        <p>If you'd like us to get back to you, please leave your details below.</p>

        {% with form.feedback_email as field %}
        {% include "widgets/std_field.html" %}
        {% endwith %}
    </fieldset>

    <div class="form-group">
        <button class="button" type="submit">Submit</button>
    </div>
</form>
{% endblock page_content %}